<div class="parion_tab_box2 left-side-panel" ng-controller="SidebarController">
	<div class="tabl_menu tabl_menu1">
		<a  class="tgl_push toggle-menu menu-left"><i class="fa fa-bars" aria-hidden="true"></i></a>

	</div>
	<div class="tabl_menu tabl_menu2">
		<span>Menu</span><a class="tgl_push toggle-menu menu-left" id="toggle-menu"><i class="fa fa-bars" aria-hidden="true"></i></a>
	</div>
	<div class="tabl_list_cont cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left">
		<div class="panel-group accu_sec left-side-panel" id="accordion" role="tablist" aria-multiselectable="true">

			<div class="panel panel-default left-side-form-wrapper" ng-repeat="(key,value) in sidebarMenuList | groupBy:'annexure_code' track by $index">
				<div ng-class="activeMenu" class="panel-heading" role="tab" ng-click="showDashboardSidebar('heading{{$index+1}}')" id="heading{{$index+1}}">
					 <h4 class="panel-title">
						 <a role="button" data-toggle="collapse" data-parent="#accordion"  aria-expanded="true" href="#collapse{{$index+1}}" aria-controls="collapse{{$index+1}}">
						 	{{key}}<i class="fa fa-angle-left" aria-hidden="true"></i><i class="fa fa-angle-down" aria-hidden="true"></i>
						 </a>
					</h4>
			 </div>
			 <!-- <div id="collapse{{$index+1}}" class="panel-collapse collapse" ng-class="{true:'panel-collapse collapse in', false:'panel-collapse collapse'}[$index==0] " role="tabpanel" aria-labelledby="heading{{$index+1}}"> -->

			<div id="collapse{{$index+1}}" role="tabpanel" aria-labelledby="heading{{$index+1}}">
			 	<div class="panel-body">
					<ul>
						<li id="{{menu.layout_code}}" ng-repeat="menu in value track by $index" ng-class="(state === menu.layout_code)? 'active' : 'inactive' " >
							<a href="layout{{menu.formid}}" ng-click="formIdfn($event,menu.formid,menu.layout_code,menu.annexure_id)">
							<span>{{menu.form_code}}</span>{{menu.form_desc}}</a>
						</li>
					</ul>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>
 <!-- ng-class="navClass('{{navLink.Title}}')"
ng-class="{active : activeMenu === menu.form_code}" -->
<p ng-click='selectMe($event)'>{{data.name}}</p>



<script type="text/javascript">
jQuery(document).ready(function($) {
	//$('.toggle-menu').jPushMenu();
	$('#toggle-menu ').removeClass("menu-open");
//});
// $(document).ready(function(){
$('#toggle-menu').click(function(e){
    $('#Annexure1').addClass('active');
		if($('#Annexure1').hasClass('active')){
		    $('#Annexure1').removeClass('active');
		}

		$('.tabl_list_conts').addClass("menu-open");
		console.log('parion_tab_cont');
    e.stopPropagation();
});
//$(document).ready(function() {
    $(".tabs-menu li a").click(function(event) {
        event.preventDefault();
        $(this).parent().addClass("current1");
        $(this).parent().siblings().removeClass("current1");
        $(this).parent().addClass("xyz");
				console.log('$(this).parent(): ', $(this).parent());
        var tab = $(this).attr("href");
        $(".tab-content").not(tab).css("display", "none");
        $(tab).fadeIn();
    });
//});
	$('#heading1').click(function(){
		$('#sml-menu1').addClass('active1');
		$('#sml-menu2').removeClass('active1');
		$('#sml-menu3').removeClass('active1');
		$('#sml-menu4').removeClass('active1');
		$('#sml-menu5').removeClass('active1');
		$('#sml-menu6').removeClass('active1');
		$('#sml-menu9').removeClass('active1');
	});
	$('#collapse1').click(function(){
		$('#sml-menu1').addClass('active1');
		$('#sml-menu2').removeClass('active1');
		$('#sml-menu3').removeClass('active1');
		$('#sml-menu4').removeClass('active1');
		$('#sml-menu5').removeClass('active1');
		$('#sml-menu6').removeClass('active1');
		$('#sml-menu9').removeClass('active1');
	});
	$('#heading2').click(function(){
		$('#sml-menu2').addClass('active1');
		$('#sml-menu1').removeClass('active1');
		$('#sml-menu3').removeClass('active1');
		$('#sml-menu4').removeClass('active1');
		$('#sml-menu5').removeClass('active1');
		$('#sml-menu6').removeClass('active1');
		$('#sml-menu9').removeClass('active1');
	});
	$('#collapse2').click(function(){
		$('#sml-menu2').addClass('active1');
		$('#sml-menu1').removeClass('active1');
		$('#sml-menu3').removeClass('active1');
		$('#sml-menu4').removeClass('active1');
		$('#sml-menu5').removeClass('active1');
		$('#sml-menu6').removeClass('active1');
		$('#sml-menu9').removeClass('active1');
	});
	$('#heading4').click(function(){
		$('#sml-menu4').addClass('active1');
		$('#sml-menu1').removeClass('active1');
		$('#sml-menu2').removeClass('active1');
		$('#sml-menu3').removeClass('active1');
		$('#sml-menu5').removeClass('active1');
		$('#sml-menu6').removeClass('active1');
		$('#sml-menu9').removeClass('active1');
	});
	$('#collapse4').click(function(){
		$('#sml-menu4').addClass('active1');
		$('#sml-menu1').removeClass('active1');
		$('#sml-menu2').removeClass('active1');
		$('#sml-menu3').removeClass('active1');
		$('#sml-menu5').removeClass('active1');
		$('#sml-menu6').removeClass('active1');
		$('#sml-menu9').removeClass('active1');
	});
	$('#heading5').click(function(){
		$('#sml-menu5').addClass('active1');
		$('#sml-menu1').removeClass('active1');
		$('#sml-menu2').removeClass('active1');
		$('#sml-menu3').removeClass('active1');
		$('#sml-menu4').removeClass('active1');
		$('#sml-menu6').removeClass('active1');
		$('#sml-menu9').removeClass('active1');
	});
	$('#collapse5').click(function(){
		$('#sml-menu5').addClass('active1');
		$('#sml-menu1').removeClass('active1');
		$('#sml-menu2').removeClass('active1');
		$('#sml-menu3').removeClass('active1');
		$('#sml-menu4').removeClass('active1');
		$('#sml-menu6').removeClass('active1');
		$('#sml-menu9').removeClass('active1');
	});
	$('#heading6').click(function(){
		$('#sml-menu6').addClass('active1');
		$('#sml-menu1').removeClass('active1');
		$('#sml-menu2').removeClass('active1');
		$('#sml-menu3').removeClass('active1');
		$('#sml-menu4').removeClass('active1');
		$('#sml-menu9').removeClass('active1');
		$('#sml-menu5').removeClass('active1');
	});
	$('#collapse6').click(function(){
		$('#sml-menu6').addClass('active1');
		$('#sml-menu1').removeClass('active1');
		$('#sml-menu2').removeClass('active1');
		$('#sml-menu3').removeClass('active1');
		$('#sml-menu4').removeClass('active1');
		$('#sml-menu9').removeClass('active1');
		$('#sml-menu5').removeClass('active1');
	});
	$('#heading9').click(function(){
		$('#sml-menu9').addClass('active1');
		$('#sml-menu1').removeClass('active1');
		$('#sml-menu2').removeClass('active1');
		$('#sml-menu3').removeClass('active1');
		$('#sml-menu4').removeClass('active1');
		$('#sml-menu6').removeClass('active1');
		$('#sml-menu5').removeClass('active1');
	});
	$('#collapse9').click(function(){
		$('#sml-menu9').addClass('active1');
		$('#sml-menu1').removeClass('active1');
		$('#sml-menu2').removeClass('active1');
		$('#sml-menu3').removeClass('active1');
		$('#sml-menu4').removeClass('active1');
		$('#sml-menu6').removeClass('active1');
		$('#sml-menu5').removeClass('active1');
	});
	$('#heading3').click(function(){
		$('#sml-menu3').addClass('active1');
		$('#sml-menu2').removeClass('active1');
		$('#sml-menu1').removeClass('active1');
		$('#sml-menu4').removeClass('active1');
		$('#sml-menu5').removeClass('active1');
		$('#sml-menu6').removeClass('active1');
		$('#sml-menu9').removeClass('active1');
	});
	$('#collapse3').click(function(){
		$('#sml-menu3').addClass('active1');
		$('#sml-menu2').removeClass('active1');
		$('#sml-menu1').removeClass('active1');
		$('#sml-menu4').removeClass('active1');
		$('#sml-menu5').removeClass('active1');
		$('#sml-menu6').removeClass('active1');
		$('#sml-menu9').removeClass('active1');
	});
});
</script>
