p{padding: 0px; margin: 0px; font-size: 14px;}
body{background: #dee2e6}
label{padding: 0px; margin: 0px;}
a{padding: 0px; margin: 0px; outline: none !important; text-decoration: none !important;}
ul{ list-style: none; padding: 0px; margin: 0px;}
ul li{ padding: 0px; margin: 0px;}
h1, h2, h3, h4, h5, h6{padding: 0px; margin: 0px;}
input[type="text"]::-webkit-input-placeholder { opacity: 1; }
input[type="text"]::-moz-input-placeholder { opacity: 1; }
input[type="search"]::-webkit-input-placeholder { opacity: 1; }
input[type="search"]::-moz-input-placeholder { opacity: 1; }
input[type="email"]::-webkit-input-placeholder { opacity: 1; }
input[type="email"]::-moz-input-placeholder { opacity: 1; }
input[type="tel"]::-webkit-input-placeholder { opacity: 1; }
input[type="tel"]::-moz-input-placeholder { opacity: 1; }
textarea::-moz-input-placeholder { opacity: 1; }
textarea::-webkit-input-placeholder { opacity: 1; }
::placeholder { opacity: 1; }
a:hover{ outline: none !important; text-decoration: none !important;}
a:active{ outline: none !important;text-decoration: none !important;}
:focus{ outline: none;}
a:focus{ outline: none;}
input:focus{ outline: none;}
input{outline: none !important;}
textarea{outline: none !important; resize: none;}
table{ margin: 0px; padding: 0px; font-size: 14px;}
button{ -webkit-appearance: none;}
input[type="submit"]{ -webkit-appearance: none;}
input[type="button"]{ -webkit-appearance: none;}

@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/RobotoRegular.eot');
    src: url('../fonts/RobotoRegular.eot') format('embedded-opentype'),
         url('../fonts/RobotoRegular.woff2') format('woff2'),
         url('../fonts/RobotoRegular.woff') format('woff'),
         url('../fonts/RobotoRegular.ttf') format('truetype'),
         url('../fonts/RobotoRegular.svg#RobotoRegular') format('svg');
}
@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/RobotoBold.eot');
    src: url('../fonts/RobotoBold.eot') format('embedded-opentype'),
         url('../fonts/RobotoBold.woff2') format('woff2'),
         url('../fonts/RobotoBold.woff') format('woff'),
         url('../fonts/RobotoBold.ttf') format('truetype'),
         url('../fonts/RobotoBold.svg#RobotoBold') format('svg');
}
@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/RobotoLight.eot');
    src: url('../fonts/RobotoLight.eot') format('embedded-opentype'),
         url('../fonts/RobotoLight.woff2') format('woff2'),
         url('../fonts/RobotoLight.woff') format('woff'),
         url('../fonts/RobotoLight.ttf') format('truetype'),
         url('../fonts/RobotoLight.svg#RobotoLight') format('svg');
}
@font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts/RobotoMedium.eot');
    src: url('../fonts/RobotoMedium.eot') format('embedded-opentype'),
         url('../fonts/RobotoMedium.woff2') format('woff2'),
         url('../fonts/RobotoMedium.woff') format('woff'),
         url('../fonts/RobotoMedium.ttf') format('truetype'),
         url('../fonts/RobotoMedium.svg#RobotoMedium') format('svg');
}
@font-face {
    font-family: 'RalewayRegular';
    src: url('../fonts/RalewayRegular.eot');
    src: url('../fonts/RalewayRegular.eot') format('embedded-opentype'),
         url('../fonts/RalewayRegular.woff2') format('woff2'),
         url('../fonts/RalewayRegular.woff') format('woff'),
         url('../fonts/RalewayRegular.ttf') format('truetype'),
         url('../fonts/RalewayRegular.svg#RalewayRegular') format('svg');
}
html, body {
  height: 100%;
  margin: 0;
    font-family: 'Raleway', sans-serif;
}
.wrapper {
  min-height: 100%;
  /*margin-bottom: -120px;*/
}
/* .footer_sec{
  height: 120px; background: #051548;

} */

.heading-my-group-tasks{
	text-align: center;
    margin-top: 10px;
    margin-bottom: 19px;
}


.wrapper{ width: 100%;}
.top_nav{ margin: 0px; padding: 0px; background: none; border: none; box-shadow: none; border-radius: 0px; height: auto; min-height: auto;}
.navbar-brand{ margin: 0px; padding: 0px; height: auto; min-height: auto; float: none;display: inline-block;vertical-align: middle; }
.navbar-brand img{ width: 50px;max-width: 100%; display: inline-block;}
.navbar-brand span{ display: inline-block; font-family: Arial; line-height: 30px;}
.rightLogo{float: right;}
.rightLogo img{ width: 80px;max-width: 100%; }

.header_sec{ width: 100%;}
.header1{ width: 100%; background: #102568; padding:15px 0 10px;}
/*.container{ max-width: 1100px;}*/
.header_sec_inn{ width: 100%; display: inline-block;}
.logo{ width: auto; float: left;}
.logo span{ color: #fff;  display: inline-block; padding-left: 15px; vertical-align: middle;font-size: 22px;}
.logo span strong{ font-weight: normal; padding-right: 12px;}
.head_rt{ width: auto; float: right; padding-top: 17px;}
.btn_user{ border: none; border-radius: 0px !important; box-shadow: none; background: none; color: #fff !important;
padding: 5px 15px;}
.btn_user:hover{ background: #14337a !important;}
.btn_user i{ padding-right: 7px;}
.btn_user .caret{ margin-left: 7px;}
.btn_user:focus{ background: #14337a !important;}
.btn_user.open{ background: #14337a !important;}
.head_rt .dropdown-menu li a{ color:#000;
 -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;}
.head_rt .dropdown-menu li i{ padding-right: 8px;}
.head_rt .dropdown-menu li a:hover{ background: #00cabe;}

.header2{ width: 100%; background: #2c4e86;}
.header2_inn{ width: 100%; position: relative;}
.header2_inn ul li{ display: inline-block; position: static; float: none;}
.header2_inn ul li a{ color:#fff !important; padding: 15px 15px 14px 15px;}
.header2_inn ul li:hover a{ background:#f7eaa3 !important; color: #191919 !important;}
.header2_inn ul li.actv a{ background:#f7eaa3 !important; color: #191919 !important;}
.header2_inn ul ul.dropdown-menu li{ display: inline-block; width: auto; padding: 0px;}
.header2_inn ul ul li a{ padding: 20px; display: block;}
.header2 ul.dropdown-menu{
    position: absolute;
    top: 100%;
    left: 0;
    background: #f7eaa3;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    /*display: none;*/
    z-index: 999; border-radius: 0px; border: none;
}
.header2 ul.dropdown-menu li{display: block;}
.header2 ul.dropdown-menu li a{ color: #191919 !important;  padding: 3px 10px; cursor: pointer;}
.header2 ul.dropdown-menu li a:hover{ color: #FDB45E !important; background: #fff !important;}
.header2 .fa-angle-down {
    padding-left: 5px;
    color: #7b99cb;
}


.custyle{padding: 20px; background: #fff;}

.custyle .table.table-striped{padding: 30px;border-radius: 5px;}


.login_body{ width: 100%; padding:90px 0; background: #dee2e6; min-height: 700px;}
.login_box{ width: 530px; margin: 0px auto; background: #fff;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;}
.loin_head{ width: 100%; padding:14px 0; border-bottom: 1px solid #eee;}
.log_frm_top{ width: 100%; padding: 15px;}
.loin_head h2{ color: #000; }
.log_frm{ width: 100%; padding: 10px 35px;}
.log_frm label{ color: #808080;font: normal 14px/16px Arial; padding-bottom: 7px;}
.log_input{ width: 100%; margin-top: 14px; display:inline-block;}
.log_input input[type="text"], .log_input input[type="password"]{ width: 100%;}
.log_input input[type="submit"]{ padding: 14px 50px;  border: none; border-radius: 0px;
background: #051548; color: #fff;}
.log_input input[type="submit"]:hover{ background: #102568;}
.log_input .log_frgt{ color: #428bca;}
.log_input .log_frgt:hover{ color: #2a6496;}
.log_prblm{ width: 100%; background: #f1f4f7; padding: 14px 10px;}
.log_prblm p{ color: #808080;}
.log_prblm p a{color: #428bca; }


.footer_sec{ width: 100%;}
.foot_top{ width: 100%; padding: 15px 0; background: #102568; position: fixed; bottom: 0;}
.foot_botm{ width: 100%; background: #051548; text-align: center; padding: 12px 0;}
.foot_menu{ width: 100%;}
.foot_menu ul li{ display: inline-block; margin-right: 25px;}
.foot_menu ul li a{ color: #fff; }
.copy_rt p{ color: #fff; font: normal 14px/16px Arial; text-align: center;}
.foot_botm p{ color: #33cfdc; font: normal 14px/16px Arial;}


.dashboard_page{ width: 100%; padding:12px 0; background: #dee2e6; }
.dashboard_box{ width: 100%; background: #fff; padding: 10px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; display: inline-block;}

.dashboard_box > h3{padding: 10px 20px; border-bottom: 1px solid #ddd;}
.dashboard_box > h4{padding: 10px 20px; border-bottom: 1px solid #ddd; font-size: 14px; font-weight: 600;}
.page_tittl{ width: 100%; padding:14px 0; border-bottom: 1px solid #eee;}
.page_tittl h2{ color: #000; }
.dashboard_cont{ width: 100%; padding: 10px; text-align: center;}
.dashboard_cont img{ max-width: 100%;}

.pyYear{text-align: right}


.top_bradcamp{ width: 100%; background: #f5f5f5;border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.top_bradcamp ol li {}
.parion_row{ width: 100%; padding: 0 15px;}
.parion_box{ width: 100%;}
.parion_box span{ color: #808080; font-weight:400; font-size: 14px;}
.parion_box h4{ color: #000; font-weight: : 600; font-size: 14px; padding: 7px 0;}


.parion_tab_row{ width: 100%; padding: 15px 0; display: inline-block;}
.parion_tab_menu{ width: 100%; border-bottom: 1px solid #ddd; display: inline-block; margin: 30px 0 0;}
.parion_tab_menu ul li{float: left;text-align: center;background-color: #f1f4f8; position: relative; margin-bottom: -1px;}
.parion_tab_menu ul li a{ display: inline-block; width: 100%; padding: 15px; border: 1px solid #ebebeb !important;
color: #000; }
.parion_tab_menu ul li span{ display: inline-block;  padding-left: 10px;}
.parion_tab_menu ul li i{ font-size: 16px;}
/*.parion_tab_menu ul li a::before {
    content: "♦";
    position: absolute;
    top: 55px;
    left: 40%;
    color: #386197;
    font-size: 30px;
}*/
.parion_tab_menu ul li:hover{ background: #f7eaa3;}
.parion_tab_menu ul li:hover a{ color: #e31837;}


.parion_tab_menu ul li.current1{ background: #386197;}
.parion_tab_menu ul li.current1 a{ color: #fff; border-color: #386197 !important;}

.parion_tab_menu ul li a:after {
    content:'';
    position:absolute;
    bottom:-18px;
    left:50%;
    width:0;
    height:0;
    /*border:9px solid transparent;
    border-top:9px solid #fff;*/
    margin-left: -9px; z-index: 1;
}
.parion_tab_menu ul li a:before {
    content:'';
    position:absolute;
    bottom:-18px;
    left:50%;
    width:0;
    height:0;
    /*border:9px solid transparent;
    border-top:9px solid #fff;*/margin-left: -9px;z-index: 1;
}
.parion_tab_menu ul li.current1 a:after{ border:9px solid transparent;
    border-top:9px solid #386197;}
.parion_tab_menu ul li.current1 a:before{ border:9px solid transparent;
    border-top:9px solid #386197;}

.parion_tab_cont{ width: 100%; margin-top: 14px; display: inline-block; padding-left: 0px; position: relative;}
.parion_tab_box_lft{ width: 25%; float: left; /*background: #f0f0f0;*/ position: relative; overflow: hidden; height: auto; background: #386197;
 /*-webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
            transition: all 0.3s ease;*/}

/* .parion_tab_cont.active .cbp-spmenu-right1{ width: 7%;height: 500px; overflow: auto;} */
.parion_tab_cont.active .cbp-spmenu-right1{ width: auto; overflow: auto; position: absolute; left: 0; top: 0;}
.tabl_menu1{ display: none !important;}

.parion_tab_cont.active .cbp-spmenu-right1 .tabl_menu1{ display: block !important;}
.parion_tab_cont.active .cbp-spmenu-right1 .tabl_menu{ display: none;}




.tabl_menu{ width: 100%; padding: 8px 0px; display: inline-block;}
.tabl_menu .tgl_push{ float: right; padding: 0 17px;}
.parion_tab_cont.active .tabl_menu .tgl_push{ float: none; text-align: center; padding: 0 10px; display: inline-block; width: 100%;}
.tabl_menu .tgl_push i{ color: #fff; font-size: 25px;}
.tabl_menu span{ color: #fff; display: inline-block; padding-left: 15px;}
.tabl_list_cont{ width: 100%; border: 1px solid #b8b8b8;  height: 700px;overflow: auto;}
.accu_sec .panel-default .panel-heading{ background: none; border: 1px solid #b8b8b8; border-radius: 0px; padding:8px 15px; background: #f7eaa3;}
.accu_sec .panel-default .panel-heading a{ color: #000; }
.accu_sec .panel-default{ background: none; border: none; border-radius: 0px;}
.accu_sec .panel-default .panel-heading a{ width: 100%; display: inline-block; position: relative;}
.accu_sec .panel-default .panel-heading a .fa-angle-left{ display: none;}
.accu_sec .panel-default .panel-heading a .fa{ position: absolute; top: 1px; right: 0px; width: 8px; text-align: center; font-size: 18px;}
.accu_sec .panel-default .panel-heading a.collapsed .fa-angle-left{ display: block;}
.accu_sec .panel-default .panel-heading a.collapsed .fa-angle-down{ display: none;}
.accu_sec .panel-body{ padding: 0px; border: none; box-shadow: none;}
.accu_sec .panel-body ul li{ background: #e2e2e2; width: 100%; display: inline-block; }
.accu_sec .panel-body ul li a{ width: 100%; display: inline-block; padding: 8px 15px; border-bottom: 2px solid #b8b8b8;
color: #000; }
/* .accu_sec .collapse.in .panel-body ul li a{background: #386197; color: #fff;} */
.accu_sec .panel-body ul li a span{color: #000}
.accu_sec.panel-group .panel + .panel{ margin: 0px !important;}
.accu_sec.panel-group{ margin: 0px;}
.tab-content{ display: none;}


.parion_tab_box_rt{ width: 75%; float: left; padding: 0 0 0 10px;}
.tab_form_heading{ border:1px solid #ddd; padding: 10px 15px; width: 100%; /*border-bottom: none;*/ background: #fff;}
.tab_form_heading h2{color: #333; font-size: 16px;}
/* .parion_tab_cont.active .parion_tab_box_rt{ width: 93%;} */
.parion_tab_cont.active .parion_tab_box_rt{ width: 100%; padding: 0;}
.parion_tab_cont.active .parion_tab_box_rt .tab_form_heading h2{padding-left: 30px;}
.tab_form_full_tbl{ width: 100%;border:1px solid #ddd; padding: 1px; background: #ececec;float: left; height: 597px; overflow: auto;}

.tbl_station{ width: 100%; float:left;}
.tab1_27_last_child{ margin-top:20px; display:inline-block;}

table {table-layout: fixed; width: 100%; font-size: 13px;}
table.1.19c {width: 100%}
.tbl_station table{ background: #57677b; margin: 0px; color: #fff;font-size:16px !important;}
.tbl_station table tr td{ vertical-align: middle; height: 27px; padding: 0px;border: 1px solid #f8f8f8;}
.txt_Stabillised{ width: 100%; padding: 10px 0; color: #000;}
.tbl_rowtwo{ width: 100%; display: inline-block;}
.hyble_tbl_row{ width: 100%; float: left; /*margin-top: 10px;*/overflow-x: auto;}
.hyble_tbl_row h4{padding: 4px 10px; color: #000; border-bottom: 1px solid #fff;}

/* .hyble_tbl_row .plagintable table {width: 100% ;font-weight: 400; font-size: 11px; color: #000; max-width: 100%; table-layout: fixed;} */
/* .hyble_tbl_row .plagintable table.largerTable{width: 1600px;} */

/* .hyble_tbl_row .plagintable table.longTable {width: auto !important; max-width: 100%;}*/


.hyble_tbl_row .comndfrm{ width: 100%;padding: 10px 15px;}
.hyble_tbl_row .comndfrm span{ color: #000; display: inline-block;}
.sav_data_btn{ width: 111px; display: inline-block; color: #fff !important; border: none; background: #051548;
border: 1px solid #051548;  border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; margin: 0 20px; padding: 10px;}
.addBtn{margin: 10px 0; float: right;}
.addBtn:before,.addBtn:after{display: block; clear: both; content: ""}
.sav_data_btn:hover{ background: #102568;border-color: #102568;}
.prnt_frm_btn{ background: #5cb85c; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border: 1px solid #4cae4c;}
.prnt_frm_btn:hover{ background: #47a447; border-color: #398439;}

.accu_tab2_cont{ width: 100%; display:inline-block;}
.accu_tab2div{ display: none;}
.tabl_menu1_list{ width: 100%; /*display: inline-block;*/display: none;}
.tabl_menu1_list ul li{ width: 100%; text-align: center;color: #fff; margin-top: 5px; text-align: left;}
.tabl_menu1_list ul li a{ color: #fff; padding: 5px; width: 100%; display: inline-block;}
.tabl_menu1_list ul li.current a{ color:#000; font-size: 13px; background: #f7eaa3;}
.parion_tab_box_lft li.current1 a{ color:#000; font-size: 13px; background: #f7eaa3;}

.tabl_menu1_list ul{ display: none;}
.tabl_menu1_list ul.active1{ display: block;}
.parion_tab_div2{ width: 100%; padding: 20px 0; text-align: center;}
.parion_tab_div2 img{ max-width: 100%;}


.tbl-seasionRow{ margin-top: 10px;}
.tbl-seasionRow tr td{ font-size: 11px; line-height: 14px; width: 10%; padding: 5px 5px; background: #fff; border: 1px solid #ddd;}
.header2 .dropdown-submenu li{ width: auto; display: inline-block;}
.header2 .nav .open > a, .header2 .nav .open > a:hover, .header2 .nav .open > a:focus{ background: #f7eaa3 !important;}
#up-arrow {
    position: absolute;
    top: -22px;
    right: 0px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 5px;
    background-color: #2c4e86;
    border: none;
    color: white;
    border-radius: 0 0 4px 4px; z-index: 1;
}
.accu_sec .panel-body ul li{transition: .5s ease all; -webkit-transition: .5s ease all;}
.accu_sec .panel-body ul li.current a{ /*color: #e31837;*/ background: #386197; color: #fff;}
.accu_sec .panel-body ul li:hover a, .accu_sec .panel-body ul li.active{ background: #386197; color: #fff;}
.accu_sec .panel-body ul li:hover a span,.accu_sec .panel-body ul li.active a span,.accu_sec .panel-body ul li.active a{color: #fff;}
.nomrg{ margin: 0px;}
.accu_sec .panel-body{ background: #e2e2e2;}
.tbl_station17d table tr td{ height: 40px;}
.tbl-innr-row{ width: 100%; display: inline-block;}
.tbl-innr-row h4{ color: #000; font:600 14px/25px Arial; }
.tblsml-font table{ font-size: 9px; line-height: 11px;overflow: hidden;
text-overflow: ellipsis;}



.tbl_stationacc4 table{ font-size:10px !important;}
.accu_sec .panel-body ul li span{ font-weight: 700; color: #386197; display: block; padding-right: 8px;}
.hyble_tbl_row > .col-sm-5{ width: 100%; padding: 20px 15px; text-align: center;}

.hyble_tbl_row .comndfrm strong{  color: #e31837;}
.hyble_tbl_row .comndfrm ol li{ width: 100%; margin-top: 10px;}
.hyble_tbl_row .comndfrm ol{ list-style-type: upper-roman; margin-left: 0px; padding-left: 20px;}
.hyble_tbl_row .comndfrm p{ width: 100%; padding: 10px 0 20px 0;}
.hyble_tbl_row .comndfrm p span{ color: #e31837; font-weight: 700;}
table.anex4_2 td{width: 20%; padding: 10px 1%; background: #fff; color: #222; font-weight: 600;}
table.anex4_2 td:first-child{width: 4%;}
table.anex4_2 td:nth-child(2){width: 26%;}

#demo15 tbody tr:last-child td{ background: #33cccc; }
#demo16 tbody tr:last-child td{ background: #33cccc; }
#demo17 tbody tr:last-child td{ background: #33cccc; }
#demo17g tbody tr:last-child td{ background: #a2bd90; }
#demo18 tbody tr:last-child td{ background: #a2bd90; }
#demo19 tbody tr:last-child td{ background: #33cccc; }
#demo20 tbody tr:last-child td{ background: #33cccc; }
#demo21 tbody tr:last-child td{ background: #33cccc; }
#demo21g tbody tr:last-child td{ background: #a2bd90; }
#demo22 tbody tr:last-child td{ background: #33cccc; }
#demo23 tbody tr:last-child td{ background: #33cccc; }
#demo24 tbody tr:last-child td{ background: #33cccc; }
#demo24g tbody tr:last-child td{ background: #a2bd90; }
#demo25 tbody tr:last-child td{ background: #33cccc; }
#demo26 tbody tr:last-child td{ background: #33cccc; }
#demo27 tbody tr:last-child td{ background: #33cccc; }
#demo27g tbody tr:last-child td{ background: #a2bd90; }
#demo28 tbody tr:last-child td{ background: #33cccc; }
/* #demo29 tbody tr:last-child td{ background: #33cccc; } */
#demo30 tbody tr:last-child td{ background: #33cccc; }
#demo31 tbody tr:last-child td{ background: #33cccc; }
#demo32 tbody tr:last-child td{ background: #33cccc; }
#demo33 tbody tr:last-child td{ background: #33cccc; }
#demo33g tbody tr:last-child td{ background: #a2bd90; }
#demo35 tbody tr:last-child td{ background: #33cccc; }
#demo36 tbody tr:last-child td{ background: #33cccc; }
#demo37 tbody tr:last-child td{ background: #33cccc; }
#demo37g tbody tr:last-child td{ background: #a2bd90; }
#demo19tab3 tbody tr:last-child td{ background: #33cccc; }
#demo19tab2 tbody tr:last-child td{ background: #33cccc; }
#demo19tab1 tbody tr:last-child td{ background: #33cccc; }
#demo20tab2 tbody tr:last-child td{ background: #33cccc; }
#demo20tab3 tbody tr:last-child td{ background: #33cccc; }
#demo20tab3t tbody tr:last-child td{ background: #33cccc; }
#demo34 tbody tr:last-child td{ background: #33cccc; }
/*#demo19tab1 tbody tr:last-child td{ background: #33cccc; }
#demo19tab2 tbody tr:last-child td{ background: #33cccc; }*/
#demo38 tbody tr:last-child td{ background: #33cccc; }
#demo39 tbody tr:last-child td{ background: #33cccc; }
#demo52 tbody tr:last-child td{ background: #33cccc; }
#demo54 tbody tr:last-child td{ background: #33cccc; }
#demo55 tbody tr:last-child td{ background: #33cccc; }
#demo_acc4_2tab tbody tr:last-child td{ background: #33cccc; }
#demo_acc4_3tab tbody tr:last-child td{ background: #33cccc; }
#demo_acc4_6tab tbody tr:last-child td{ background: #33cccc; }
#demo_acc4_5tab tbody tr:last-child td{ background: #33cccc; }
#demo_acc4_7tab tbody tr:last-child td{ background: #33cccc; }
#demo_acc4_8tab tbody tr:last-child td{ background: #33cccc; }
#demo_acc4_9tab tbody tr:last-child td{ background: #33cccc; }
#demo_acc4_10tab tbody tr:last-child td{ background: #33cccc; }
#demo_acc6_1tab1 tbody tr:last-child td{ background: #33cccc; }
#demo_acc6_1tab2 tbody tr:last-child td{ background: #33cccc; }
#demo_acc6_1tab3 tbody tr:last-child td{ background: #33cccc; }
#demo_acc6_1tab4 tbody tr:last-child td{ background: #33cccc; }
#demo_acc6_1tab5 tbody tr:last-child td{ background: #33cccc; }
#demo_acc6_2tab1 tbody tr:last-child td{ background: #33cccc; }
#demo_acc6_2tab2 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_3tab tbody tr:last-child td{ background: #33cccc; }
#demo47tab tbody tr:last-child td{ background: #33cccc; }
#demo_acc4_4tab tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_3tab1 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_4tab1 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_4tab2 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_4tab3 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_4tab4 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_4tab5 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_4tab6 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_4tab8 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_4tab9 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_4tab10 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_4tab11 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_5tab1 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_5tab4 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_5tab6 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_5tab7 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_5tab9 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_5tab10 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_5tab5 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_5tab2 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_6tab1 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_6tab2 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_6tab3 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_6tab4 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_6tab5 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_6tab6 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_6tab8 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_6tab8g tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_6tab9 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_6tab10 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_6tab11 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_6tab12 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_6tab13 tbody tr:last-child td{ background: #33cccc; }

#demo_acc9_7tab1 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_7tab2 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_7tab3 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_7tab6 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_7tab7 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_7tab8 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_8tab1 tr td:last-child{ background: #33cccc; }
#demo_acc9_9tab1 tbody tr:last-child td{ background: #33cccc; }
#demo_acc9_9tab2 tbody tr:last-child td{ background: #33cccc; }

#demo-tab1_38 tbody tr:last-child td { background: #33cccc; }
#demo-tab2_38 tbody tr:last-child td { background: #33cccc; }
#tab1-56 .tbl_station table{ font-size:10px;}
#demo-tab1_58 tbody tr td:last-child{ background: #33cccc; }
#demo-acc2_tab1_1 tbody tr:last-child td { background: #33cccc; }
#demo-acc2_tab1_2 tbody tr:last-child td { background: #33cccc; }
#demo-acc2_tab1_3 tbody tr:last-child td { background: #33cccc; }
#demo-acc2_tab1_4 tbody tr:last-child td { background: #33cccc; }
#demo-acc2_tab1_5 tbody tr:last-child td { background: #33cccc; }

#acc2-tab1_6 .tbl_station table tr td{ height:40px;}
#demo-acc2_tab1_6 tbody tr:last-child td { background: #33cccc; }
#demo-acc2_tab1_6_a tbody tr:last-child td { background: #33cccc; }
#demo-acc2_tab1_6_b tbody tr:last-child td { background: #33cccc; }

#acc2-tab1_7 .tbl_station table tr td{ height:40px;}
#demo-acc2_tab1_7 tbody tr:last-child td { background: #33cccc; }
#demo-acc2_tab1_7_a tbody tr:last-child td { background: #33cccc; }
#demo-acc2_tab1_7_b tbody tr:last-child td { background: #33cccc; }


#acc2-tab1_8 .tbl_station table tr td{ height:40px;}
#demo-acc2_tab1_8 tbody tr:last-child td { background: #33cccc; }
#demo-acc2_tab1_8_a tbody tr:last-child td { background: #33cccc; }
#demo-acc2_tab1_8_b tbody tr:last-child td { background: #33cccc; }

#acc2-tab1_9 .tbl_station table tr td{ height:40px;}
#demo-acc2_tab1_9 tbody tr:last-child td { background: #33cccc; }
#demo-acc2_tab1_9_a tbody tr:last-child td { background: #33cccc; }
#demo-acc2_tab1_9_b tbody tr:last-child td { background: #33cccc; }



.menulist1_menu.active1{ display: block;}
.hyble_tbl_rowmrg{ margin-top: 20px;}
.twens_tbl9{ display: inline-block; margin-top: 20px;}
.tab_form_full_tblrow{ width: 100%; display: inline-block;}
#acc9-tab1-8 table{ font-size: 10px; line-height: 13px;}
#acc9-tab1-13 table{ font-size: 10px; line-height: 13px;}
.toggle-menu{
cursor:pointer;
}

#mobile_sec{ width:300px; text-align:center; margin-left:-150px; position:absolute; left:50%; top:50%; -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); font-size:28px; color:#62385; display:none; }

#canvasOverlay {
	  position: absolute;
    z-index: 99999;
    left: 0px;
    right: 0px;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: RGBA(45, 62, 79, 0.5);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    /* align-items: center; */
    /* float: right; */
    text-align: center;
}
 /* #canvasOverlay img{
	 width: 206px;
	 border-radius: 10px;
 } */
/* #canvasOverlay .loader {
	  color: #fff;
  	font-family: Consolas, Menlo, Monaco, monospace;
  	font-weight: bold;
  	font-size: 20vh;
  	opacity: 0.8;
}

#canvasOverlay .loader span {
  display: inline-block;
  -webkit-animation: pulse 0.4s alternate infinite ease-in-out;
          animation: pulse 0.4s alternate infinite ease-in-out;
}

#canvasOverlay .loader span:nth-child(odd) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.xxxx{
width:8.3%;
} */
.notificationTbl th, .notificationTbl td{
text-align:center;
}
.wberc_message{
	width: 50%;
	float: left;
	margin-left: 10px;
	margin-top: 6px;
}
.tbl_rowtwo .jexcel > thead > tr > td:first-child{
    /* text-align: left; */
}
.tbl_rowtwo .jexcel > thead > tr > td{
    text-align: center;
}
.tbl_rowtwo .jexcel > thead.subhd > tr > td{
    text-align: left;
}
.tbl_rowtwo .jexcel > tbody > tr > td,.tbl_rowtwo .jexcel > tbody > tr > td:nth-child(2){
    text-overflow: ellipsis;
    height: 31px;
    font-size: 12px;
    text-align: left;
    color: #222;
}
.overAll1-17c .jexcel > tbody > tr:last-child  {
  pointer-events: none;
  color: rgba(0,0,0,1);
  background: #e9e9e9;
  text-align: left;
}

/*.tbl_rowtwo .jexcel.jexcel_label.overAll1-17c > tbody > tr:nth-child(9){
    color: red;
}*/
.tbl_rowtwo .jexcel > tbody > tr > td:nth-child(2):hover{
     overflow: visible;
    text-overflow: initial;
    /* display: table; */
    background: #ccc;
    position: relative;
    z-index: 1;
    /* width: 100%; */
    height: 31px;
}
.tbl_rowtwo .tab46 .jexcel > tbody > tr > td:nth-child(2):hover{
  display:table-cell;
  background: none;
  z-index: 0;
  width:auto;
}
.tbl_rowtwo .jexcel > thead > tr > td:hover .readonly, .tbl_rowtwo .jexcel > tbody > tr > td:hover .readonly{
  /* text-shadow: 0 0 10px #000; */
}
.tbl_rowtwo  #tab420 .jexcel > tbody > tr > td:nth-child(2):hover{
     overflow: visible;
    text-overflow: initial;
    background: #ccc;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 27px;
}
.leftStaticSec{border: 1px solid #cccccc;}
.leftStaticSec tr td{padding: 7px 5px 6px 5px;font-size: 11px; text-overflow: ellipsis; overflow: hidden;  white-space: nowrap; height: 10px;}
.bossanova-ui .jexcel_label tr td#tab6_cell{padding: 0!important; border: 0; border: none;}
.twoTableMarge, .leftStaticSec{table-layout: fixed; font-weight: 400;}

tr> td.subHd {color: #fff;}
.jexcel > thead.subHd,thead.subHd{color: #fff;}
/* .tbl_rowtwo .jexcel > thead.jexcel_label > tr > td{color: #fff;} */
.minChargeTable {}
.minChargeExcel table thead tr td:first-child{width: 5px; padding: 0;}
.tbl_rowtwo .jexcel > thead.jexcel_label.overAll1-17c >tr:nth-child(3){color: green;}
.bossanova-ui .jexcel_label tr td.subHdSubmit.subHd{padding: 0; border: none}
.excel72 .jexcel_label tr > td{color: #000;}
.jexcel > tbody > tr.subHd > td:first-child{background: #374454;  font-weight: 600; color: #fff; text-align: left;}
.jexcel > thead.subHd, thead.subHd {background: #374454;  font-weight: 600; color: #fff; text-align: left;}
.jexcel thead tr.subHd {background: #374454;  font-weight: 600; color: #fff; text-align: left;}
.jexcel thead tr.subHd td{text-align: left;}
 .subHd p{padding: 6px;border-bottom: 1px solid #ddd}
.minCharge.subHd p{border-bottom: none}
.tbl_rowtwo .jexcel > thead.jexcel_label.subHd > tr > td, thead.jexcel_label.subHd > tr > td, thead.subHd  tr  td{color: #fff; text-align: left;}
.tbl_rowtwo .jexcel > thead.subHd > tr > td{color: #fff; text-align: left;}
.form-control.width_select{display: inline-block; width: 100px;}
.topSelectboxSec{margin: 10px 0; text-align: right;}
.topSelectboxSec select{min-width: 200px;}
.plagintable.grandTotal{padding: 6px;}
.plagintable.grandTotal table td{padding: 6px; border: 1px solid #bbb; background: #fff; font-weight: 600;text-align: left;}
.bossanova-ui .jexcel_label table.table19c tr td{padding: 6px; border: 1px solid #bbb; background: #fff; font-weight: 600; width: 8.5%;}
.bossanova-ui .jexcel_label table.table19c tr td:first-child{width:4%}
.bossanova-ui .jexcel_label table.table19c tr td:nth-child(2){width:28%}
.dropDownList{padding: 10px; text-align: right;}
.dropDownList select{min-width: 100px;}
.dropDownList .dropdown{display: inline-block; vertical-align: top; width:150px; text-align: left;}
.dropdownBlock{width: auto;display: inline-block; vertical-align: top;text-align: left;}
thead.jexcel_label > tr > td{color: #000;}
thead.jexcel_label.tableDataHeader > tr > td{color: #fff;}
.projectJexcell .jexcel{width: 100%}




@media (min-width: 768px) and (max-width: 5000px) {
.header2 .dropdown-submenu .dropdown-menu { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s;
    -o-transition: all 0.3s;transition: all 0.3s; max-height: 0; display: block; opacity: 0;visibility: hidden; }

.header2 .dropdown-submenu:hover .dropdown-menu {max-height: 300px;opacity: 1; visibility: visible; }


.header2 .dropdown-submenu:hover .dropdown-menu{ -webkit-animation: fadeInUp 400ms;
  -moz-animation: fadeInUp 400ms;
  -ms-animation: fadeInUp 400ms;
  -o-animation: fadeInUp 400ms;
  animation: fadeInUp 400ms;}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}


}







@media (min-width: 992px) and (max-width: 1199px) {






}




@media (min-width: 768px) and (max-width: 991px) {



}



@media only screen and (max-width: 767px){




}

@media only screen and (max-width: 480px){




}
