/* @font-face {
	 font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.eot');
  src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Raleway-Regular.svg#Raleway') format('svg');
}

@font-face{
	 font-family:'Raleway-Bold';
	 src: url('../fonts/Raleway-Bold.ttf');

}

@font-face{
	 font-family:'Raleway-Regular';
	 src: url('../fonts/Raleway-Regular.ttf');

} */
html, body {
  margin: 0;
		 font-family: 'Raleway', sans-serif;
		  font-size: 14px;
}
.right-dropdown{
	float: right;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: bold;
}
.attachment_btn,.attachment_btn:hover,.attachment_btn:focus{
	float: right;
	background: #386197;
	color: #fff;
	height: 47px;
}

.hyble_tbl_row .plagintable .jcalendar {
    position: absolute;
    left: auto !important;
    top: auto !important;
}
.nav.tabSec{
  text-align: left;
  border-bottom: 1px solid #999;
}
.tabSec li{
  display: inline-block;
  vertical-align: top;
}
.nav-stacked.tabSec>li+li{
  margin-top: 0;
}
.nav-pills.tabSec>li>a{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.nav-pills.tabSec>li.active>a{
    color: #fff;
    background-color: #999;
}
.tabContent .jumbotron{
  padding: 20px;
  text-align: left;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.tabContent form.form-horizontal{width: 100%; margin: 20px auto; background: #fff; padding: 20px; border-radius: 5px;  -webkit-border-radius: 5px;  -moz-border-radius: 5px;  ms-border-radius: 5px; -o-border-radius: 5px; box-sizing: border-box; box-shadow:0 0 5px #999}
.hyble_tbl_row ul.nav-tabs{border: 1px solid #bbb; border-bottom: none;}

h4.heading4{font-size: 16px; padding-bottom: 15px; margin-bottom: 15px; border-bottom: 1px solid #ddd}
.jumbotron p{margin-bottom: 15px; font-size: 14px; padding: 0 10px;}
.tabContent{border: 1px solid #bbb; background: #efefef}
.tabContent .btn.btn-primary{border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; margin-top: 10px;}

.hyble_tbl_row .plagintable table.fetchTable{
	margin: 20px 0;
}
.hyble_tbl_row .plagintable table.viewTable{
	width: 100%;
	border: 1px solid #999;
	padding: 5px;
	font-size: 14px;
	font-weight: 400;
	margin: 20px 0;
}
.hyble_tbl_row .plagintable table.viewTable{border-top: none; table-layout: fixed;width: 100%}
.hyble_tbl_row .plagintable table.viewTable table{width: 100%}
.hyble_tbl_row .plagintable table.viewTable th{ padding: 5px 0; background: #ddd;	font-weight: 600; font-size: 12px;border: 1px solid #999; text-align: center;background: #57677b; color: #fff;}
.hyble_tbl_row .plagintable table.viewTable.allDataView th{ font-size: 11px; text-align: center;}
.hyble_tbl_row .plagintable table.viewTable th span{padding: 5px 20px 0 20px; display: block;}
.hyble_tbl_row .plagintable table.viewTable th > table tr th{ padding: 5px; border: 1px solid #999; border-right: none; border-bottom: none;}
.hyble_tbl_row .plagintable table.viewTable th > table tr th:first-child{ border-left:none; border-right: none;}
/*.hyble_tbl_row .plagintable table.viewTable th:first-child{border-left: none;}
 .hyble_tbl_row .plagintable table.viewTable > tbody > tr  tbody th{border-top: none;border-left: 1px solid #999; border-right: none;}
.hyble_tbl_row .plagintable table.viewTable > tbody > tr tbody th:first-child{border-left: none;}*/

table.viewTable th{ padding: 5px 0; background: #ddd;	font-weight: 600; font-size: 12px;border: 1px solid #999; text-align: center;background: #57677b; color: #fff;}
table.viewTable.noDataTable td{ border: 1px solid #999; text-align: center;background: #fff;}


.hyble_tbl_row .plagintable table.viewTable > tbody > tr tbody th{background: #eee}
.hyble_tbl_row .plagintable table.viewTable2.form3-5 > tbody > tr tbody th{background: #57677b; text-align: left;}
.hyble_tbl_row .plagintable table.viewTable2.form3-5 > tbody > tr tbody th{background: #57677b; text-align: left;}
.hyble_tbl_row .plagintable table.viewTable2.form3-5 > tbody th{background: #57677b; text-align: left;}

.hyble_tbl_row .plagintable table.viewTable > tbody > tr > td{border:none; padding: 0px; background: #fff;}
.hyble_tbl_row .plagintable table.viewTableMinCharge > tbody > tr > td{border:1px solid #ddd; padding: 10px; background: #fff;}
.hyble_tbl_row .plagintable table.viewTableMinCharge{	width: 100%;
	border: 1px solid #999;
	padding: 5px;
	font-size: 14px;
	font-weight: 400;
	margin: 20px 0;}
.hyble_tbl_row .plagintable table.viewTableThird > tbody > tr > td{border:1px solid #bbb; padding: 10px; background: #fff;}
.hyble_tbl_row .plagintable table.viewTable > tbody > tr > td > table > tbody > tr > td{border: 1px solid #999;padding: 5px;font-size: 11px}
.hyble_tbl_row .plagintable table.viewTable2 > tbody > tr > td > table.viewTable2 > tbody > tr > td > table > tr > td{padding: 5px; font-size: 11px}
.hyble_tbl_row .plagintable table.viewTable > tbody > tr > td > table.viewTable2 > tbody > tr > td {padding: 0; font-size: 11px}
.hyble_tbl_row .plagintable table.viewTable > tbody > tr > td > table > tbody > tr > td:nth-child(2){padding: 0;}
.hyble_tbl_row .plagintable table.viewTable > tbody > tr > td > table > tbody > tr > td > table > tbody tr td{ padding: 0; font-size: 11px;}
/* .hyble_tbl_row .plagintable table.viewTable > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td:first-child{border-bottom: 1px solid #999;padding-left: 5px;} */
.hyble_tbl_row .plagintable table.viewTable > tbody > tr > td > table > tbody > tr > td > table > tbody > tr:last-child > td:first-child{border-bottom: none;}
.hyble_tbl_row .plagintable table.viewTable > tbody > tr > td > table > tbody > tr > td > table > tbody tr td > table > tbody tr td{padding: 5px; border-top: none;/* border-right: none;*/ border-left: 1px solid #bbb}
.hyble_tbl_row .plagintable table.viewTable > tbody > tr > td > table > tbody > tr > td > table > tbody tr{border-bottom: 1px solid #bbb}
.hyble_tbl_row .plagintable table.viewTable > tbody > tr > td > table > tbody > tr > td > table > tbody tr:last-child{border-bottom: none}
.hyble_tbl_row .plagintable table.viewTable > tbody > tr > td > table > tbody > tr > td > table > tbody tr td > table > tbody tr{border-bottom: none}
.hyble_tbl_row .plagintable table.viewTable > tbody > tr > td > table > tbody > tr > td > table > tbody tr td > table > tbody tr:last-child td{border-bottom: none;}
/* .hyble_tbl_row .plagintable table.viewTable > tbody > tr > td > table > tbody > tr > td > table > tbody tr td > table > tbody tr:last-child td{border-bottom: none;} */
/* .hyble_tbl_row .plagintable table.viewTable > tbody > tr > td > table > tbody > tr > td > table > tbody tr td > table > tbody tr td:last-child{border-right: none;} */
.hyble_tbl_row .plagintable table.viewTable > tbody > tr > td > table > tbody > tr > td > table > tbody tr td > table.slabTable > tbody >  tr > td {padding: 0;border-left: none;}

.hyble_tbl_row .plagintable table.viewTable.noDataTable > tbody > tr > td{padding: 0px;}

.hyble_tbl_row .plagintable table.viewTable > tbody > tr > td > tbody.viewTableData > tbody > tr > td{border:1px solid #999; padding: 0;}
.hyble_tbl_row .plagintable table.viewTable > tbody > tr > td > tbody.viewTableData > tbody > tr > td > tbody > tbody tr td > tbody > tbody tr:last-child td{border-bottom:1px solid #999;}
.hyble_tbl_row .plagintable table.viewTable > tbody > tr > td > tbody > tbody > tr > td > tbody > tbody tr td{border:1px solid #999; padding: 0;}

.hyble_tbl_row .plagintable table.viewTable.voltageTable > tbody > tr > td{ padding: 5px; border-left: 1px solid #bbb;}

.hyble_tbl_row .plagintable table.viewTable.voltageTable > tbody > tr{border-bottom: 1px solid #bbb;}
.hyble_tbl_row .plagintable table.viewTable.voltageTable > tbody > tr.voltageTableSubhd > td{ padding: 10px; background-color: #eee; font-weight: 600;}
.hyble_tbl_row .plagintable table.viewTableFinancial{border:1px solid #999;}
.hyble_tbl_row .plagintable table.viewTableFinancial tr{border-bottom: 1px solid #999;}
.hyble_tbl_row .plagintable table.viewTableFinancial tr td{background: #fff; }
.hyble_tbl_row .plagintable table.viewTableFinancial > tbody tr td table tr td table tr td{padding: 10px;}
.hyble_tbl_row .plagintable table.viewTableFinancial > tbody tr td table tr td table tr td:first-child{border-right: 1px solid #999}
.hyble_tbl_row .plagintable table.viewTableFinancial tr td.tableFinancialHd{padding: 10px; background: #ddd;}

table.submitTable tr{
  border: 1px solid #bbb;
}
table.submitTable tr td{
  padding: 5px 5px 0 5px;
  border: 1px solid #bbb;
  background: #fff;
  vertical-align: top;
}
table.submitTable tr td textarea{
  background: #eee;
  border: 1px solid #ddd;
  height: 280px;
}


/* .plagintable jexcel > thead > tr > td, .plagintable .jexcel > tbody > tr > td {
    border-top: 1px solid #aaa ;
    border-left: 1px solid #aaa;
    border-right: 1px solid transparent;
    border-bottom: 1px solid #aaa;
    overflow: hidden;
    white-space: nowrap;} */
		.plagintable .jexcel > tbody > tr:last-child > td {
		    /* border-top: 1px solid #aaa ;
		    border-left: 1px solid #aaa;
		    border-right: 1px solid transparent; */
		    border-bottom: 1px solid #aaa;
		    /* overflow: hidden;
		    white-space: nowrap; */
			}
.panel-body ul li.active{
  background-color: #386197;
}
table.form8Table thead{
  background-color: #57677b;
  color: #ffffff;
}
table.form8Table tr td:nth-child(5){display: none;}
table.form8Table thead th, table.form8Table tbody td{
  font-weight: normal;
  border: 1px solid #cccccc;
  vertical-align: middle;
}
table.form8Table tbody td .btn.btn-primary{font-size: 12px;}
.projectJexcell .jexcel_contextmenu{z-index: 9999;}
.modal{z-index: 2;}
.cbp-spmenu-vertical{z-index: 0}
.modal-backdrop{z-index: 1;}
.modal-dialog.projectModify{    width: 1070px;
}
.modal-dialog.projectModify p{font-size: 12px;}
.modal-dialog .jexcel > thead > tr > td, .modal-dialog .jexcel > tbody > tr > td{font-size: 12px;}
.modal-dialog .jexcel > thead > tr > td:nth-child(3){text-align: center;}
.modal-dialog .jexcel > thead > tr > td:nth-child(2){text-align: center;}
.modal-dialog .jexcel > tbody > tr > td:nth-child(3){text-align: left;}
.modal-dialog .jexcel > thead > tr > td:nth-child(4){text-align: center;;}
.modal-dialog .jexcel > tbody > tr > td:nth-child(4){text-align: right;}
.modal-dialog input[type="text"]{width: 140px;}
.modal-dialog.projectModify input[type="text"]{width: 100%; margin-bottom: 10px; height: 30px;}

.preloader {
    padding: 50px;
    background: url('../images/Preloader_3.gif') no-repeat 50% 50% transparent;
}

.paginationSec button{width: 30px; height: 30px; border: 1px solid #386197; background: #386197; color:#fff; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;  -ms-border-radius: 3px;  -o-border-radius: 3px;}
.paginationSec button:hover{background: #224471; border: 1px solid #224471;}
.paginationSec input[type="number"]{border: 1px solid #bbb;border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;  -ms-border-radius: 3px;  -o-border-radius: 3px;width: 60px; height: 30px;}
.paginationSec button[disabled="disabled"] {background: #bbb;border: 1px solid #bbb;}


table.form117d tr td{width: 12%;}
table.form117d tr td:first-child{width: 4%;}
table.form117d tr td:nth-child(2){width: 48%;}
table.form117f tr td:nth-child(2){width: 40%;}
.tab45 > tbody{margin-bottom: 20px; display: table; width: 100%;}
.tab106 excell-form table thead tr td[width]{width: 48%;}
.tab106 excell-form table thead tr td:first-child[width]{width: 4%;}
p.limitText{text-align: right;}
.dashboard_page .jexcel > thead > tr > td{font-size: 12px;}

.viewFormLargeTableHd{background-color:#57677b; overflow-x: auto; }
.viewFormLargeTableHd table thead tr th{font-weight: 400; font-size: 11px; color:#ffffff; border-left: 1px solid #eee; padding-left: 10px;}
.viewFormLargeTableHd table thead tr th:first-child{border-left: none; padding-left: 0;}
.viewFormLargeTableHd table tbody tr td:first-child{width: 4%}
.consumerTypehd{padding: 10px; background-color: #eee;font-weight: 600;    text-align: left;}
.viewFormLargeTableHd table tbody tr td{background-color:#eee;}
.viewFormLargeTableHd .jexcel.bossanova-ui table thead tr td{background-color:#57677b; }

td.scrollTable{overflow-x: auto; width: 1000px;}













@media screen and (-webkit-min-device-pixel-ratio:0) {
@font-face {
	 font-family: 'Raleway', sans-serif;
	font-weight: normal;
	font-style: normal;
}
}

body {

  position: relative;
  font-weight:400px;
	 /* font-family:'Raleway-Regular'!important;
	 font-family: 'Raleway', sans-serif;*/
}

ul li {
  list-style: none;
}

a:hover {
outline: none;
text-decoration:none;
}

a:focus {
  outline:none;
  outline-offset: 0;
}

a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.btn:hover,
.btn:focus{
  outline: none;
  box-shadow: none;
}

.navbar-toggle {
  background-color: #000;
}

a#scrollUp {
  bottom: 0px;
  right: 10px;
  padding: 5px 10px;
  background: #FE980F;
  color: #FFF;
  -webkit-animation: bounce 2s ease infinite;
  animation: bounce 2s ease infinite;
}

a#scrollUp i{
  font-size: 30px;
}

sup{
  color: red;
  font-size: 22px;
  top: 0;
}
/*************************
*******Header CSS******
**************************/

.header_top {
  background: none repeat scroll 0 0 #051548;
}

.contactinfo ul li:first-child{
    margin-left: -15px;
}

.contactinfo ul li a{
  font-size: 14px;
  color: #476caa;

}


.contactinfo ul li a:hover{
	background:inherit;
}


.social-icons ul li a {
  border: 0 none;
  border-radius: 0;
  color: #ffffff;
 padding: 0px 4px;
	    margin:0!important;
}

.social-icons ul li a:hover {
   color: #fff;
	background-color: #102568;
	padding: 0px 4px;
	    margin:0!important;
}

.social-icons ul li{
	display:inline-block;
}

.social-icons ul li a i {
  padding: 11px 7px;
   transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;

}

.social-icons ul li a i:hover{
  color: #fff;
 background-color: #102568;

}

.social-backcolor{
		background-color: #102568;
    margin-right: 2px;
}
.fa-facebook:hover {
  background-color: #102568;
}

.fa-twitter:hover  {
	background-color: #102568;
}

.fa-linkedin:hover  {
	background:#FF4518;
}

.fa-dribbble:hover  {
background-color: #102568;
}

.fa-google-plus:hover  {
	background-color: #102568;
}
.header-middle{
	  background-color:#102568;
}

.header-middle .container .row {
/*  border-bottom: 1px solid #f5f5f5;*/
  margin-left: 0;
  margin-right: 0;
  padding-bottom:10px;
  padding-top:10px;
}

.header-middle .container .row .col-sm-4{
  padding-left: 0;
}

.header-middle .container .row .col-sm-8 {
	padding-right:0;
}

.usa {
  border-radius: 0;
  color: #B4B1AB;
  font-size: 12px;
  margin-right: 20px;
  padding: 2px 15px;
  margin-top: 0;
}

.usa:hover {
	background:#FE980F;
	color:#fff;
	border-color:#FE980F;
}

.usa:active, .usa.active {
  background: none repeat scroll 0 0 #FE980F;
  box-shadow: inherit;
  outline: 0 none;
}

.btn-group.open .dropdown-toggle {
  background: rgba(0, 0, 0, 0);
  box-shadow: none;
}

.dropdown-menu  li  a:hover, .dropdown-menu  li  a:focus {
  background-color: #00cabe;
      color: #333;

  text-decoration: none;
}


.shop-menu ul li {
	display:inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.shop-menu ul li:last-child {
  padding-right: 0;
}


.shop-menu ul li a {
  background: #FFFFFF;
  color: #696763;

  font-size: 14px;
  font-weight: 300;
  padding:0;
  padding-right: 0;
  margin-top: 10px;
}


.shop-menu ul li a i{
	margin-right:3px;
}


.shop-menu ul li a:hover {
	color:#fe980f;
	background:#fff;
}


.header-bottom {
  padding-bottom: 0;
  padding-top:0;
	background-color: #2c4e86
}

.navbar-collapse.collapse{
  padding-left: 0;
}

.mainmenu {

}

.mainmenu ul li{
  padding-right: 2px;
  padding-left: 2px;
}

.mainmenu ul li:first-child{
  padding-left: 0px;
}

.mainmenu ul li a {
	color: #ffffff;

	font-size: 14px;
	font-weight: 500;
	padding: 13px;
/*	padding-bottom: 10px;*/
}

.mainmenu ul li a:hover, .mainmenu ul li a.active,  .shop-menu ul li a.active{
	background-color:#f7eaa3;
	color:#12135b;
}

.search_box input {
  background: #F0F0E9;
  border: medium none;
  color: #B2B2B2;
  /*font-family: 'roboto';*/
  font-size: 14px;
  font-weight: 300;
  height: 35px;
  outline: medium none;
  padding-left: 10px;
  width: 155px;
  background-image: url(../images/home/searchicon.png);
  background-repeat: no-repeat;
  background-position: 130px;
}


/*  Dropdown menu*/

.navbar-header
{
    overflow: hidden;

    position: fixed; /* Set the navbar to fixed position */

}
.navbar-toggle .icon-bar {
    background-color: #fff;
}


.nav.navbar-nav > li:hover > ul.sub-menu{
  display: block;
  -webkit-animation: fadeInUp 400ms;
  -moz-animation: fadeInUp 400ms;
  -ms-animation: fadeInUp 400ms;
  -o-animation: fadeInUp 400ms;
  animation: fadeInUp 400ms;

}

ul.sub-menu {
	position: absolute;
	top: 46px;
	/* left: 0; */
	background: #f7eaa3;
	list-style: none;
	padding: 0;
	margin: 0;
	/* width: 350px; */
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	display: none;
	z-index: 999;
}

.dropdown ul.sub-menu li .active{
  color: #191919;
  padding-left: 0;
}


.navbar-nav li ul.sub-menu li{
  /* padding: 19px 5px 19px; */
	    width: auto;
    float: left;
}

/* .navbar-nav li ul.sub-menu li:last-child{
  padding-bottom: 20px;
} */

.navbar-nav li ul.sub-menu li a{
  color: #191919;
}

.navbar-nav li ul.sub-menu li a:hover{
    color: #FDB45E !important;
	background: rgba(255, 255, 255, 1) !important;
}

.fa-angle-down{
  padding-left: 5px;
	color: #7b99cb;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/*************************
*******Footer CSS******
**************************/

#footer {
  background: #F0F0E9;
}


.footer-top .container {
  border-bottom: 1px solid #E0E0DA;
  padding-bottom: 20px;
}

.companyinfo {
  margin-top: 57px;
}

.companyinfo h2 {
  color: #B4B1AB;
  font-family: abel;
  font-size: 27px;
  text-transform: uppercase;
}

.companyinfo h2  span{
  color:#FE980F;
}

.companyinfo p {
  color: #B3B3AD;

  /* font-size: 12px; */
  font-weight: 300;
}

.footer-top .col-sm-3{
  overflow: hidden;
}

.video-gallery {
  margin-top: 57px;
  position: inherit;
}

.video-gallery a img {
  height: 100%;
  width: 100%;
}

.iframe-img {
  position: relative;
  display: block;
  height: 61px;
  margin-bottom: 10px;
  border: 2px solid #CCCCC6;
  border-radius: 3px;
}

.overlay-icon {
  position: absolute;
  top: 0;
  width: 100%;
  height: 61px;
  background: #FE980F;
  border-radius: 3px;
  color: #FFF;
  font-size: 20px;
  line-height: 0;
  display: block;
  opacity: 0;
   -webkit-transition: 300ms;
  -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

.overlay-icon i {
  position: relative;
  top: 50%;
  margin-top: -20px;
}

.video-gallery a:hover .overlay-icon{
  opacity: 1;
}

.video-gallery p {
  color: #8C8C88;

  /* font-size: 12px; */
  font-weight: 500;
  margin-bottom:0px;
}

.video-gallery  h2 {
  color: #8c8c88;

  font-size: 16px;
  font-weight: 300;
  text-transform:uppercase;
  margin-top:0px;
}


.address {
  margin-top: 30px;
  position: relative;
  overflow: hidden;
}
.address  img {
	width:100%;
}

.address p {
  color: #666663;

  font-size: 14px;
  font-weight: 300;
  left: 25px;
  position: absolute;
  top: 50px;
}

.footer-widget {
	background-color: #102568;
}

.footer-widget .container {
  padding-top: 15px;
}
.single-widget p{
	color: #dee2e6;
	    padding-left: 12px;
}
.single-widget h2 {
  color: #dee2e6;

  font-size: 16px;
  font-weight: 500;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.single-widget h2 i{
	margin-right:15px;
}

.single-widget ul li a{
	color: #8C8C88;

	font-size: 14px;
	font-weight: 300;
	padding: 5px 0;
}

.single-widget ul li a i {
  margin-right: 18px;
}

.single-widget ul li a:hover{
	background:none;
	color:#FE980F;
}


.searchform input {
  border: 1px solid #DDDDDD;
  color: #CCCCC6;

  font-size: 14px;
  margin-top: 0;
  outline: medium none;
  padding: 7px;
  width: 212px;
}


.searchform button {
  background: #FE980F;
  border: medium none;
  border-radius: 0;
  margin-left: -5px;
  margin-top: -3px;
  padding: 7px 17px;
}

.searchform button i {
  color: #FFFFFF;
  font-size: 20px;
}

.searchform  button:hover,
.searchform  button:focus{
	background-color:#FE980F;
}

.searchform p {
  color: #8C8C88;

  font-size: 14px;
  font-weight: 300;
  margin-top: 25px;
}

.footer-bottom {
  background: #051548;
  padding-top: 10px;
}

.footer-bottom p {
  color: #33cfdc;

  font-weight: 300;
  margin-left: 15px;
	text-align: center;
}

.footer-bottom p span a {
  color: #FE980F;
  font-style: italic;
  text-decoration: underline;
}


/*************************
******* Home ******
**************************/


#slider {
  padding-bottom: 45px;
}

.carousel-indicators li {
  background: #C4C4BE;
}

.carousel-indicators li.active {
	  background: #FE980F;
}

.item {
  padding-left: 100px;
}


.pricing {
  position: absolute;
  right: 40%;
  top: 52%;
}

.girl {
  margin-left: 0;
}

.item h1 {
  color: #B4B1AB;
  font-family: abel;
  font-size: 48px;
  margin-top: 115px;
}

.item h1 span {
	color:#FE980F;
}

.item h2 {
  color: #363432;

  font-size: 28px;
  font-weight: 700;
  margin-bottom: 22px;
  margin-top: 10px;
}

.item  p {
	color:#363432;
	font-size:16px;
	font-weight:300;

}

.get {
  background: #FE980F;
  border: 0 none;
  border-radius: 0;
  color: #FFFFFF;

  font-size: 16px;
  font-weight: 300;
  margin-top: 23px;
}


.item button:hover {
  background: #FE980F;
}

.control-carousel {
  position: absolute;
  top: 50%;
  font-size: 60px;
  color: #C2C2C1;
}

.control-carousel:hover{
  color: #FE980F ;
}

.right {
  right: 0;
}

.category-products {
  border: 1px solid #F7F7F0;
  margin-bottom: 35px;
  padding-bottom: 20px;
  padding-top: 15px;
}
.left-sidebar h2, .brands_products h2 {
  color: #FE980F;

  font-size: 18px;
  font-weight: 700;
  margin: 0 auto 30px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index:3;
}

.left-sidebar h2:after, h2.title:after{
	content: " ";
	position: absolute;
	border: 1px solid #f5f5f5;
	bottom:8px;
	left: 0;
	width: 100%;
	height: 0;
	z-index: -2;
}

.left-sidebar h2:before{
	content: " ";
	position: absolute;
	background: #fff;
	bottom: -6px;
	width: 130px;
	height: 30px;
	z-index: -1;
	left: 50%;
	margin-left: -65px;
}

h2.title:before{
	content: " ";
	position: absolute;
	background: #fff;
	bottom: -6px;
	width: 220px;
	height: 30px;
	z-index: -1;
	left: 50%;
	margin-left: -110px;
}

.category-products .panel {
	background-color: #FFFFFF;
	border: 0px;
	border-radius: 0px;
	box-shadow:none;
	margin-bottom: 0px;
}

.category-products .panel-default .panel-heading {
  background-color: #FFFFFF;
  border: 0 none;
  color: #FFFFFF;
  padding: 5px 20px;
}

.category-products .panel-default .panel-heading .panel-title a {
  color: #696763;

  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 0 none;
}

.category-products .badge {
  background:none;
  border-radius: 10px;
  color: #696763;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  min-width: 10px;
  padding: 3px 7px;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.panel-body ul{
  /* padding-left: 20px; */
	padding: 0;
}


.panel-body ul li a {
  color: #696763;

  font-size: 12px;
  text-transform: uppercase;
}

.brands-name {
  border: 1px solid #F7F7F0;
  padding-bottom: 20px;
  padding-top: 15px;
}


.brands-name .nav-stacked li a {
  background-color: #FFFFFF;
  color: #696763;

  font-size: 14px;
  padding: 5px 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.brands-name .nav-stacked li a:hover{
  background-color: #fff;
  color: #696763;
}

.shipping {
  background-color: #F2F2F2;
  margin-top: 40px;
  overflow: hidden;
  padding-top: 20px;
  position: relative;
}
font-bold{
    font-weight: 900;
}

.price-range{
  margin-top:30px;
}

.well {
  background-color: #FFFFFF;
  border: 1px solid #F7F7F0;
  border-radius: 4px;
  box-shadow: none;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 15px;
}


.tooltip-inner {
  background-color: #FE980F;
  border-radius: 4px;
  color: #FFFFFF;
  max-width: 200px;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #FE980F;
  border-width: 5px 5px 0;
  bottom: 0;
  left: 50%;
  margin-left: -5px;
}


.padding-right {
  padding-right: 0;
}

.features_items{
	overflow:hidden;
}


h2.title {
  color: #FE980F;

  font-size: 18px;
  font-weight: 700;
  margin: 0 15px;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.product-image-wrapper{
	border:1px solid #F7F7F5;
	overflow: hidden;
	margin-bottom:30px;
}

.single-products {
  position: relative;
}

.new, .sale {
  position: absolute;
  top: 0;
  right: 0;
}

.productinfo h2{
	color: #FE980F;

	font-size: 24px;
	font-weight: 700;
}
.product-overlay h2{
	color: #fff;

	font-size: 24px;
	font-weight: 700;
}


.productinfo p{

  font-size: 14px;
  font-weight: 400;
  color: #696763;
}

.productinfo img{
  width: 100%;
}

.productinfo{
 position:relative;
}

.product-overlay {
  background:#FE980F;
  top: 0;
  display: none;
  height: 0;
  position: absolute;
  transition: height 500ms ease 0s;
  width: 100%;
  display: block;
  opacity:;
}

.single-products:hover .product-overlay {
  display:block;
  height:100%;
}


.product-overlay .overlay-content {
  bottom: 0;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.product-overlay .add-to-cart {
  background:#fff;
  border: 0 none;
  border-radius: 0;
  color: #FE980F;

  font-size: 15px;
  margin-bottom: 25px;
}

.product-overlay .add-to-cart:hover {
  background:#fff;
  color: #FE980F;
}


.product-overlay p{

  font-size: 14px;
  font-weight: 400;
  color: #fff;
}



.add-to-cart {
  background:#F5F5ED;
  border: 0 none;
  border-radius: 0;
  color: #696763;

  font-size: 15px;
  margin-bottom: 25px;
}

.add-to-cart:hover {
  background: #FE980F;
  border: 0 none;
  border-radius: 0;
  color: #FFFFFF;
}

.add-to{
  margin-bottom: 10px;
}

.add-to-cart i{
	margin-right:5px;
}

.add-to-cart:hover {
  background: #FE980F;
  color: #FFFFFF;
}

.choose {
  border-top: 1px solid #F7F7F0;
}

.choose ul li a {
  color: #B3AFA8;

  font-size: 13px;
  padding-left: 0;
  padding-right: 0;
}

.choose ul li a i{
	margin-right:5px;
}

.choose ul li a:hover{
	background:none;
	color:#FE980F;
}

.category-tab {
  overflow: hidden;
}

.category-tab ul {
  background: #40403E;
  border-bottom: 1px solid #FE980F;
  list-style: none outside none;
  margin: 0 0 30px;
  padding: 0;
  width: 100%;
}

.category-tab ul li a {
  border: 0 none;
  border-radius: 0;
  color: #B3AFA8;
  display: block;

  font-size: 14px;
  text-transform: uppercase;
}

.category-tab ul  li  a:hover{
	background:#FE980F;
	color:#fff;
}

.nav-tabs  li.active  a, .nav-tabs  li.active  a:hover, .nav-tabs  li.active  a:focus {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #f7eaa3;
  border:0px;
  color: #000;
  cursor: default;
  margin-right:0;
  margin-left:0;
}

.nav-tabs  li  a {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px 4px 0 0;
  line-height: 1.42857;
  margin-right:0;
}

.recommended_items {
  overflow: hidden;
}

#recommended-item-carousel .carousel-inner .item {
  padding-left: 0;
}

.recommended-item-control {
  position: absolute;
  top: 41%;
}

.recommended-item-control i {
  background: none repeat scroll 0 0 #FE980F;
  color: #FFFFFF;
  font-size: 20px;
  padding: 4px 10px;
}

.recommended-item-control i:hover {
  background: #ccccc6;
}

.recommended_items  h2 {
}

.our_partners{
  overflow:hidden;
}

.our_partners ul {
  background: #F7F7F0;
  margin-bottom: 50px;
}


.our_partners ul li a:hover{
	background:none;
}

/*************************
*******Shop CSS******
**************************/


#advertisement {
  padding-bottom: 45px;
}

#advertisement img {
  width: 100%;
}

.pagination {
  display: inline-block;
  margin-bottom: 25px;
  margin-top: 0;
  padding-left: 15px;
}

.pagination  li:first-child  a, .pagination  li:first-child  span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: 0;
}

.pagination  li:last-child  a, .pagination  li:last-child  span {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.pagination  .active  a, .pagination  .active  span, .pagination  .active  a:hover, .pagination  .active  span:hover, .pagination  .active  a:focus, .pagination  .active  span:focus {
  background-color: #FE980F;
  border-color: #FE980F;
  color: #FFFFFF;
  cursor: default;
  z-index: 2;
}

.pagination  li  a, .pagination  li  span {
  background-color: #f0f0e9;
  border: 0;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
  margin-right: 5px;
  color:#000;
}

.pagination  li  a:hover{
	background:#FE980F;
	color:#fff;
}



/*************************
*******Product Details CSS******
**************************/

.product-details{
	overflow:hidden;
}


#similar-product {
  margin-top: 40px;
}


#reviews {
  padding-left: 25px;
  padding-right: 25px;
}

.product-details {
  margin-bottom: 40px;
  overflow: hidden;
  margin-top: 10px;
}



.view-product {
  position: relative;
}

.view-product img {
  border: 1px solid #F7F7F0;
  height: 380px;
  width: 100%;
}

.view-product h3 {
  background: #FE980F;
  bottom: 0;
  color: #FFFFFF;

  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
  padding: 8px 20px;
  position: absolute;
  right: 0;
}

#similar-product .carousel-inner .item{
	padding-left:0px;
}

#similar-product .carousel-inner .item img {
  display: inline-block;
  margin-left: 15px;
}

.item-control {
  position: absolute;
  top: 35%;
}
.item-control i {
  background: #FE980F;
  color: #FFFFFF;
  font-size: 20px;
  padding: 5px 10px;
}

.item-control i:hover{
	background:#ccccc6;
}

.product-information {
  border: 1px solid #F7F7F0;
  overflow: hidden;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-top: 60px;
  position: relative;
}

.newarrival{
	position:absolute;
	top:0;
	left:0
}

.product-information h2 {
  color: #363432;

  font-size: 20px;
  margin-top: 0;
}

.product-information p {
  color: #696763;

  margin-bottom: 5px;
}

.product-information span {
  display: inline-block;
  margin-bottom: 8px;
  margin-top: 18px;
}

.product-information span span {
  color: #FE980F;
  float: left;

  font-size: 30px;
  font-weight: 700;
  margin-right: 20px;
  margin-top: 0px;
}
.product-information span input {
  border: 1px solid #DEDEDC;
  color: #696763;

  font-size: 20px;
  font-weight: 700;
  height: 33px;
  outline: medium none;
  text-align: center;
  width: 50px;
}

.product-information span label {
  color: #696763;

  font-weight: 700;
  margin-right: 5px;
}

.share {
  margin-top: 15px;
}


.cart {
  background: #FE980F;
  border: 0 none;
  border-radius: 0;
  color: #FFFFFF;

  font-size: 15px;
  margin-bottom: 10px;
  margin-left: 20px;
}


.shop-details-tab {
  border: 1px solid #F7F7F0;
  margin-bottom: 75px;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 10px;
}
.shop-details-tab .col-sm-12 {
	padding-left: 0;
	padding-right: 0;
}


#reviews ul {
  background: #FFFFFF;
  border: 0 none;
  list-style: none outside none;
  margin: 0 0 20px;
  padding: 0;
}

#reviews  ul  li {
	display:inline-block;
}

#reviews ul li a {
  color: #696763;
  display: block;

  font-size: 14px;
  padding-right: 15px;
}

#reviews ul li a i{
	color:#FE980F;
	padding-right:8px;
}

#reviews ul li a:hover{
	background:#fff;
	color:#FE980F;
}

#reviews p{
	color:#363432;
}

#reviews  form span {
  display: block;
}

#reviews form span input {
  background:#F0F0E9;
  border: 0 none;
  color: #A6A6A1;

  font-size: 14px;
  outline: medium none;
  padding: 8px;
  width: 48%;
}
#reviews form span input:last-child {
  margin-left: 3%;
}

#reviews textarea {
  background: #F0F0E9;
  border: medium none;
  color: #A6A6A1;
  height: 195px;
  margin-bottom: 25px;
  margin-top: 15px;
  outline: medium none;
  padding-left: 10px;
  padding-top: 15px;
  resize: none;
  width: 99.5%;
}

#reviews button {
  background: #FE980F;
  border: 0 none;
  border-radius: 0;
  color: #FFFFFF;

  font-size: 14px;
}


/*************************
*******404 CSS******
**************************/

.logo-404 {
  margin-top: 60px;
}

.content-404 h1 {
  color: #363432;

  font-size: 41px;
  font-weight: 300;
}

.content-404 img {
 margin:0 auto;
}

.content-404 p {
  color: #363432;

  font-size: 18px;
}

.content-404  h2 {
  margin-top:50px;
}

.content-404 h2 a {
  background: #FE980F;
  color: #FFFFFF;

  font-size: 44px;
  font-weight: 300;
  padding: 8px 40px;
}


/*************************
*******login page CSS******
**************************/
/***Custom login CSS*
 *
 * @author:Rahul
 *
 ****/
.success_error_message{
	float: left;
	width: 100%;
	margin-bottom: 6px;
	text-align: center;
}

/* .bossanova-ui tbody td:not(:first-child):not(:nth-child(2)){
	text-align:right;
} */
/* .bossanova-ui tbody td:nth-child(2){
	text-align:left;
}
.bossanova-ui thead.tableDataHeader td:not(:first-child):not(:nth-child(2)){
	text-align:center;
}
.bossanova-ui thead.tableDataHeader td:nth-child(2){
	text-align:center;
} */
.plagintable.formId72 .bossanova-ui tr td{
   border: none;
  padding: 0;
}
.plagintable.formId72 .bossanova-ui .excel72 tr td{
  border: 1px solid #cccccc; padding: 6px;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.bossanova-ui .jexcel_label tr td{
	font-size: 12px;
	 padding: 6px ;
	/* font-weight: 600; */
  text-align: left;
}
.left-side-panel .panel-default li,.left-side-panel .tabl_menu1_list li{
	cursor:pointer;
}
#form {
  display: block;
  margin-bottom: 185px;
  margin-top: 185px;
  overflow: hidden;
}

.login-form {

}

.signup-form {

}

.login-form h2, .signup-form h2 {
  color: #696763;

  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}


.login-form form input, .signup-form form input {
  background: #F0F0E9;
  border: medium none;
  color: #696763;
  display: block;

  font-size: 14px;
  font-weight: 300;
  height: 40px;
  margin-bottom: 10px;
  outline: medium none;
  padding-left: 10px;
  width: 100%;
}

.login-form form span{
  line-height: 25px;
}

.login-form form span input {
  width: 15px;
  float: left;
  height: 15px;
  margin-right: 5px;
}

.login-form form button {
  margin-top: 23px;
}

.login-form form button, .signup-form form button {
  background: #FE980F;
  border: medium none;
  border-radius: 0;
  color: #FFFFFF;
  display: block;

  padding: 6px 25px;
}

.login-form label{

}


.login-form label input {
  border: medium none;
  display: inline-block;
  height: 0;
  margin-bottom: 0;
  outline: medium none;
  padding-left: 0;
}


.or{
	background: #FE980F;
	border-radius: 40px;
	color: #FFFFFF;

	font-size: 16px;
	height: 50px;
	line-height: 50px;
	margin-top: 75px;
	text-align: center;
	width: 50px;
}


/*************************
*******Cart CSS******
**************************/

#do_action {
  margin-bottom: 50px;
}

.breadcrumbs {
  position: relative;
}

.breadcrumbs .breadcrumb {
  background:transparent;
  margin-bottom: 75px;
  padding-left: 0;
}

.breadcrumbs .breadcrumb li a {
  background:#FE980F;
  color: #FFFFFF;
  padding: 3px 7px;
}

.breadcrumbs .breadcrumb li a:after {
  content:"";
  height:auto;
  width: auto;
  border-width: 8px;
  border-style: solid;
  border-color:transparent transparent transparent #FE980F;
  position: absolute;
  top: 11px;
  left:48px;

}

.breadcrumbs .breadcrumb > li + li:before {
  content: " ";
}

#cart_items .cart_info {
  border: 1px solid #E6E4DF;
  margin-bottom: 50px
}


#cart_items .cart_info .cart_menu {
  background: #FE980F;
  color: #fff;
  font-size: 16px;

  font-weight: normal;
}

#cart_items .cart_info .table.table-condensed thead tr {
  height: 51px;
}


#cart_items .cart_info .table.table-condensed tr {
  border-bottom: 1px solid#F7F7F0
}

#cart_items .cart_info .table.table-condensed tr:last-child {
  border-bottom: 0
}

.cart_info table tr td {
  border-top: 0 none;
  vertical-align: inherit;
}


#cart_items .cart_info .image {
  padding-left: 30px;
}


#cart_items .cart_info .cart_description h4 {
  margin-bottom: 0
}

#cart_items .cart_info .cart_description h4 a {
  color: #363432;
  font-family: 'Roboto',sans-serif;
  font-size: 20px;
  font-weight: normal;

}

#cart_items .cart_info .cart_description p {
  color:#696763
}


#cart_items .cart_info .cart_price p {
  color:#696763;
  font-size: 18px
}


#cart_items .cart_info .cart_total_price {
  color: #FE980F;
  font-size: 24px;
}

.cart_product {
  display: block;
  margin: 15px -70px 10px 25px;
}

.cart_quantity_button a {
  background:#F0F0E9;
  color: #696763;
  display: inline-block;
  font-size: 16px;
  height: 28px;
  overflow: hidden;
  text-align: center;
  width: 35px;
  float: left;
}


.cart_quantity_input {
  color: #696763;
  float: left;
  font-size: 16px;
  text-align: center;
  font-family: 'Roboto',sans-serif;

}


.cart_delete  {
  display: block;
  margin-right: -12px;
  overflow: hidden;
}


.cart_delete a {
  background:#F0F0E9;
  color: #FFFFFF;
  padding: 5px 7px;
  font-size: 16px
}

.cart_delete a:hover {
  background:#FE980F
}


.bg h2.title {
  margin-right:0;
  margin-left:0;
  margin-top: 0;
}

.heading h3 {
  color: #363432;
  font-size: 20px;

}

.heading p {
  color: #434343;
  font-size: 16px;
  font-weight: 300;
}


#do_action .total_area {
  padding-bottom: 18px !important;
}

#do_action .total_area, #do_action .chose_area {
  border: 1px solid #E6E4DF;
  color: #696763;
  padding: 30px 25px 30px 0;
  margin-bottom: 80px;
}

.total_area span {
  float: right;
}

.total_area ul li {
  background:#E6E4DF;
  color: #696763;
  margin-top: 10px;
  padding: 7px 20px;
}


.user_option label {
  color: #696763;
  font-weight: normal;
  margin-left: 10px;
}


.user_info {
  display: block;
  margin-bottom: 15px;
  margin-top: 20px;
  overflow: hidden;
}

.user_info label {
  color: #696763;
  display: block;
  font-size: 15px;
  font-weight: normal;

}

.user_info .single_field {
  width: 31%
}

.user_info .single_field.zip-field input {
  background: transparent;
  border: 1px solid#F0F0E9
}

.user_info > li {
  float: left;
  margin-right: 10px
}

.user_info > li > span {
}

.user_info input, select, textarea {
  background: #F0F0E9;
  border:0;
  color: #696763;
  padding: 5px;
  width: 100%;
  border-radius: 0;
  resize: none
}

.user_info select:focus {
  border: 0
}


.chose_area .update {
  margin-left: 40px;
}

.update, .check_out {
  background: #FE980F;
  border-radius: 0;
  color: #FFFFFF;
  margin-top: 18px;
  border: none;
  padding: 5px 15px;
}
.update{
    margin-left: 40px;
}

.check_out {
  margin-left: 20px
}



/*************************
*******checkout CSS******
**************************/

.step-one {
  margin-bottom: -10px
}

.register-req, .step-one .heading {
  background: none repeat scroll 0 0 #F0F0E9;
  color: #363432;
  font-size: 20px;
  margin-bottom: 35px;
  padding: 10px 25px;

}

.checkout-options {
  padding-left: 20px
}


.checkout-options h3 {
  color: #363432;
  font-size: 20px;
  margin-bottom: 0;
  font-weight: normal;

}

.checkout-options p {
  color: #434343;
  font-weight: 300;
  margin-bottom: 25px;
}

.checkout-options .nav li {
  float: left;
  margin-right: 45px;
  color: #696763;
  font-size: 18px;

  font-weight: normal;
}

.checkout-options .nav label {
  font-weight: normal;
}

.checkout-options .nav li a {
  color: #FE980F;
  font-size: 18px;
  font-weight: normal;
  padding: 0
}

.checkout-options .nav li a:hover {
  background: inherit;
}

.checkout-options .nav i {
  margin-right: 10px;
  border-radius: 50%;
  padding: 5px;
  background: #FE980F;
  color:#fff;
  font-size: 14px;
  padding: 2px 3px;
}


.register-req  {
  font-size: 14px;
  font-weight: 300;
  padding: 15px 20px;
  margin-top: 35px;

}

.register-req p {
  margin-bottom: 0
}



.shopper-info p,
.bill-to p,
.order-message p {
  color: #696763;
  font-size: 20px;
  font-weight: 300
}


.shopper-info .btn-primary {
  background: #FE980F;
  border: 0 none;
  border-radius: 0;
  margin-right: 15px;
  margin-top: 20px;
}


.form-two, .form-one {
  float: left;
  width: 47%
}


.shopper-info > form > input,
.form-two > form > select,
.form-two > form > input,
.form-one > form > input {
  background:#F0F0E9;
  border: 0 none;
  margin-bottom:10px;
  padding: 10px;
  width: 100%;
  font-weight: 300
}

.form-two > form > select {
  padding:10px 5px
}

.form-two {
  margin-left: 5%
}


.order-message textarea {
  font-size: 12px;
  height: 335px;
  margin-bottom: 20px;
  padding: 15px 20px;
}

.order-message label {
  font-weight:300;
  color: #696763;

  margin-left: 10px;
  font-size: 14px
}


.review-payment h2 {
  color: #696763;
  font-size: 20px;
  font-weight: 300;
  margin-top: 45px;
  margin-bottom: 20px
}

.payment-options {
  margin-bottom:125px;
  margin-top: -25px
}

.payment-options span label {
  color: #696763;
  font-size: 14px;
  font-weight: 300;
  margin-right: 30px;
}

#cart_items .cart_info
.table.table-condensed.total-result {
  margin-bottom: 10px;
  margin-top: 35px;
  color: #696763
}

#cart_items .cart_info
.table.table-condensed.total-result tr {
  border-bottom: 0
}

#cart_items .cart_info
.table.table-condensed.total-result span {
  color: #FE980F;
  font-weight: 700;
  font-size: 16px
}

#cart_items .cart_info
.table.table-condensed.total-result
.shipping-cost {
  border-bottom: 1px solid #F7F7F0;
}




/*************************
*******Blog CSS******
**************************/



.blog-post-area
.single-blog-post h3 {
  color: #696763;
  font-size: 16px;
  font-family: 'Roboto',sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 17px;
}

.single-blog-post > a {
}

.blog-post-area
.single-blog-post a img {
  border: 1px solid #F7F7F0;
  width: 100%;
  margin-bottom: 30px
}

.blog-post-area
.single-blog-post p {
  color: #363432
}

.blog-post-area
.post-meta {
  display: block;
  margin-bottom: 25px;
  overflow: hidden;
}

.blog-post-area
.post-meta ul {
  padding:0;
  display: inline;
}

.blog-post-area
.post-meta ul li {
  background:#F0F0E9;
  float: left;
  margin-right: 10px;
  padding: 0 5px;
  font-size: 11px;
  color: #393b3b;
  position: relative;
}

.blog-post-area
.post-meta ul li i {
  background:#FE980F;
  color: #FFFFFF;
  margin-left: -4px;
  margin-right: 7px;
  padding: 4px 7px;
}

.sinlge-post-meta li i:after,
.blog-post-area
.post-meta ul li i:after {
  content: "";
  position: absolute;
  width: auto;
  height: auto;
  border-color:transparent transparent transparent #FE980F;
  border-width:4px;
  border-style: solid;
  top:6px;
  left:24px
}

.blog-post-area
.post-meta ul span {
  float: right;
  color: #FE980F
}

.post-meta span{
    float: right;
}

.post-meta span i{
  color: #FE980F
}


.blog-post-area
.single-blog-post
.btn-primary {
  background:#FE980F;
  border: medium none;
  border-radius: 0;
  color: #FFFFFF;
  margin-top: 17px;
}


.pagination-area {
  margin-bottom:45px;
  margin-top:45px
}

.pagination-area
.pagination li a {
  background:#F0F0E9;
  border: 0 none;
  border-radius: 0;
  color: #696763;
  margin-right: 5px;
  padding: 4px 12px;
}

.pagination-area
.pagination li a:hover,
.pagination-area
.pagination li .active {
  background:#FE980F;
  color: #fff
}



/*************************
*******Blog Single CSS******
**************************/

.pager-area {
  overflow: hidden;
}

.pager-area .pager li a {
  background:#F0F0E9;
  border: 0 none;
  border-radius: 0;
  color: #696763;
  font-size: 12px;
  font-weight: 700;
  padding: 4px;
  text-transform: uppercase;
  width: 57px;
}

.pager-area
.pager li a:hover {
  background: #FE980F;
  color: #fff
}

.rating-area {
  border: 1px solid #F7F7F0;
  direction: block;
  overflow: hidden;
}

.rating-area ul li {
  float: left;
  padding: 5px;
  font-size: 12px
}

.rating-area .ratings {
  float: left;
  padding-left: 0;
  margin-bottom: 0
}


.rating-area
.ratings li i {
  color:#CCCCCC
}

.rating-area .rate-this {
  color: #363432;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.rating-area
.ratings .color,
.rating-area .color {
  color: #FE980F
}


.rating-area .tag {
  float: right;
  margin-bottom: 0;
  margin-right: 10px;
}

.rating-area .tag li {
  padding: 5px 2px;
}
.rating-area .tag li span {
  color: #363432;
}


.socials-share {
  margin-bottom: 30px;
  margin-top: 18px;
}


.commnets
.media-object {
  margin-right: 15px;
  width: 100%;
}

.commnets {
  border: 1px solid #F7F7F0;
  padding: 18px 18px 18px 0;
  margin-bottom: 50px
}

.commnets .pull-left {
  margin-right: 22px
}

.commnets p,
.response-area p,
.replay-box p {
  font-size: 12px
}

.media-heading {
  color: #363432;
  font-size: 14px;
  font-weight: 700;

  margin-bottom: 15px
}

.blog-socials {
  margin-bottom: -9px;
  margin-top: 14px;
}

.blog-socials ul {
  padding-left: 0;
  overflow: hidden;
  float: left;
}

.blog-socials .btn.btn-primary{
  margin-top: 0;
}

.blog-socials ul li {

  float: left;
  height: 17px;
  margin-right: 5px;
  text-align: center;
  width: 17px;
}


.blog-socials ul li a {
  color: #393B3B;
  display: block;
  font-size: 10px;
  padding: 1px;
  background:#F0F0E9;
}

.blog-socials ul li a:hover {
  color: #fff;
  background:#FE980F
}


.media-list .btn-primary,
.commnets .btn-primary {
  background:#FC9A11;
  border: 0 none;
  border-radius: 0;
  color: #FFFFFF;
  float: left;
  font-size: 10px;
  padding: 1px 7px;
  text-transform: uppercase;
}

.response-area h2 {
  color: #363432;
  font-size: 20px;
  font-weight: 700;
}

.response-area .media {
  border: 1px solid #F7F7F0;
  padding: 18px 18px 18px 0;
  margin-bottom: 27px
}

.response-area .media img{
  height: 102px;
  width: 100%;
}

.response-area .media .pull-left {
  margin-right: 25px
}

.response-area .second-media {
  margin-left: 5%;
  width: 95%;
}


.sinlge-post-meta {
  overflow: hidden;
  padding-left: 0;
  margin-bottom: 15px
}



.sinlge-post-meta li {
  background:#F0F0E9;
  color: #363432;
  float: left;
  font-size: 10px;
  font-weight: 700;
  margin-right: 10px;
  padding: 0 10px 0 0;
  position: relative;
  text-transform: uppercase;
}

.sinlge-post-meta li i {
  background:#FE980F;
  color: #FFFFFF;
  margin-right: 10px;
  padding: 8px 10px;
}

.sinlge-post-meta li i:after {
  top: 7px;
  border-width: 6px;
  left: 27px;
}


.replay-box {
  margin-bottom: 107px;
  margin-top: 55px;
}

.replay-box h2 {
  font-weight: 700;
  font-size: 20px;
  color: #363432;
  margin-top: 0;
  margin-bottom: 45px
}

.replay-box label {
  background:#FE980F;
  color: #FFFFFF;
  margin-bottom: 15px;
  padding: 3px 15px;
  float: left;
  font-weight: 400;
}

.replay-box span {
  color: #FE980F;
  float: right;
  font-weight: 700;
  margin-top: 21px;
}

.replay-box form input {
  border: 1px solid #F7F7F0;
  color: #ADB2B2;
  font-size: 12px;
  margin-bottom: 22px;
  padding: 8px;
  width: 100%;
}

.replay-box form input:hover,
.text-area textarea:hover {
  border: 1px solid #FE980F;
}

.text-area {
  margin-top: 66px
}

.text-area textarea {
  background: transparent;
  border: 1px solid#F7F7F0
}

.btn.btn-primary {
  background:#051548;
  border: 0 none;
  margin-top: 3px;
	font-size: 14px;
}
.btn.btn-alternate {
  background-color:#009933;
    color: #ffffff;
  border: 0 none;
  border-radius: 0;
  margin-top: 3px;
	font-size: 14px;
}
.btn.btn-primary:hover{
	background-color: #102568;
}
.blank-arrow {
  position: relative;
}

.blank-arrow label:after {
  content: "";
  position: absolute;
  width: auto;
  height: auto;
  border-style: solid;
  border-width: 8px;
  border-color:#FE980F transparent transparent transparent;
  top: 25px;
  left: 5px
}



/*************************
******* Contact CSS ********
**************************/

.contact-map {
  width: 100%;
  height: 385px;
  margin-bottom: 70px
}

.contact-info .heading,
.contact-form .heading {
  text-transform: capitalize;
}

.contact-form .form-group {
  margin-bottom: 20px;
}

#contact-page
.form-control::-moz-placeholder {
  color: #8D8D8D;
}

#contact-page .form-control {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #696763;
  height: 46px;
  padding: 6px 12px;
  width: 100%;
  font-size: 16px;
  border-radius: 4px;
  box-shadow:inherit;
}

#contact-page #message {
  height:160px;
  resize:none;
}

#main-contact-form .btn-primary {
  margin-bottom: 15px;
  margin-top: 20px;
}


#contact-page .form-control:focus,
#contact-page .form-control:hover {
  box-shadow: inherit;
  border-color: #FDB45E;
}

#contact-page .contact-info {
  padding: 0 20px;
}

#contact-page .contact-info address {
  margin-bottom: 40px;
  margin-top: -5px;
}

#contact-page .contact-info p {
  margin-bottom: 0;
  color: #696763;
  font-size: 16px;
  line-height: 25px;
}

.social-networks{
  overflow: hidden;
  text-align: center;
}

.social-networks ul {
  margin-top: -5px;
  padding: 0;
  display: inline-block;
}

.social-networks ul li {
  float: left;
  text-decoration: none;
  list-style: none;
  margin-right: 20px;
}

.social-networks ul li:last-child{
  margin-right: 0;
}

.social-networks ul li a {
  color: #999;
  font-size: 25px;
}

.contact-info .social-networks ul li a i{
  background: none;
}

.contact-info .social-networks ul li a:hover{
  color: #FE980F;
}

ul.dropdown-menu.language li{
	color: #212121;
	width:100%;
	float: left;
}

ul.dropdown-menu.language li a{
	color: #212121;
	padding: 5px;
	margin-left: 10px;
}

ul.dropdown-menu.language li a:hover{
	color: #212121;
	background-color: #C4C4C4;
}
.padding-right-10{
	padding-right: 10px;
}
.btn-user{
	background-color: #102568!important;
	color:#ffffff!important;
	border: none;
}
.btn-user:hover{
	background-color: #14337a!important;
	color:#ffffff!important;
	border: none;
}

.pull-left.logo-big-text {
    font-size: 26px;
    color: #ffffff;
	margin-top: 16px;
}
ul.nav.nav-pills.nav-stacked.footer li {
    width: auto;
    float: left;
}

ul.nav.nav-pills.nav-stacked.footer li a {
   color: #dadeea;
}
ul.nav.nav-pills.nav-stacked.footer li a:hover {
   color: #1ca1ac;
	background: none;
}
section {
    background-color: #dee2e6;
	margin:0 auto;
	padding: 15px 0;
}

.white-background {
    background-color: #ffffff;
	border-radius: 5px;
	padding:10px;

}
.white-background-white{
	  background-color: #ffffff;
	border-radius: 5px;
	padding:20px 15px 0;
}
.paddingNo{
	padding: 0;
}

select.form-control.form-control-lg{
    height: calc(4.875rem + 2px);
}
label {
    color: grey;
    font-weight: normal;
}
.gray-background{
	background-color: #ececec;
	border-radius: 4px;
	padding:20px 25px;
	margin: 20px 0;
}


.radio {
  padding-left: 20px; }

.radio label {
       display: inline-block;
    position: relative;
    padding-left: 23px;
    padding-top: 6px;
}
    .radio label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 30px;
      height: 30px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #000000;
      border-radius: 50%;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out;
	    top: 0px;
		outline: none;
}
    .radio label::after {
      display: inline-block;
      position: absolute;
      content: " ";
        width: 22px;
    height: 22px;
    left: 4px;
    top: 4px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: #17338a;
		outline: none;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
  .radio input[type="radio"] {
    opacity: 0; }
    .radio input[type="radio"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .radio input[type="radio"]:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1); }
    .radio input[type="radio"]:disabled + label {
      opacity: 0.65; }
      .radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
  .radio.radio-inline {
    margin-top: 0; }

.radio, .checkbox {
       display: block;
    min-height: 20px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    vertical-align: middle;
}

.radio-primary input[type="radio"] + label::after {
  background-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #428bca; }


.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de; }


a.btn.btn-primary.proceedbtn {
    background-color: #17338a;
    border-radius: 5px;
    padding: 12px 23px;
}

button.btn.btn-primary.cancelbtn{
	background-color: #e36363;
    border-radius: 5px;
    padding: 12px 23px;
}

/*login*/

.main {
    max-width:45%;
    margin: 0 auto;
  }
  .login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
            margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
  }
  .hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
.checkbox-gray{
	background-color: #f1f4f7;
	padding:10px;
	margin: 15px 0 0 0;
}
a.pull-left.user {
    margin-right: 10px;
}



/*---sidebar---*/
.heading4{font-size:18px;font-weight:400;/*font-family:'Lato', sans-serif;*/color:#111111;margin:0px 0px 5px 0px;}
.heading1{font-size:30px;line-height:20px;/*font-family:'Lato', sans-serif;*/text-transform:uppercase;color:#1b2834;font-weight:900;}
.content-quality{float:left;width:193px;}
.content-quality p{margin-left:10px;/*font-family:'Open Sans', sans-serif;*/font-size:14px;font-weight:600;line-height:17px;}
.content-quality p span{display:block;}
.tabtop li a{color:#1b2834;border-radius:0px;border:1px solid #ebebeb !important; height: 80px;}
.tabtop .active a:before{content:"♦";position:absolute;top:55px;left:40%;color:#386197;font-size:30px;}
.tabtop li a:hover{color:#e31837 !important;text-decoration:none;}
.tabtop .active a:hover{color:#fff !important;}
.tabtop .active a{background-color:#386197 !important;color:#FFF !important;}
.margin-tops{margin-top:10px;}
.tabtop li a:last-child{padding:10px 22px;}
.thbada{padding:10px 28px !important;}
section p{/*font-family:'Lato', sans-serif;*/}
.margin-tops4{margin-top:20px;}
.tabsetting{padding-top:6px;}
.services{background-color:#d4d4d4;min-height:710px;padding:65px 0 27px 0;}
.services a:hover{color:#000;}
.services h1{margin-top:0px !important;}
.heading-container p{/*font-family:'Lato', sans-serif;*/text-align:center;font-size:16px !important;text-transform:uppercase;}
/* .nav-tabs>li {
    float: left;
    margin-bottom: -1px;
    width: 13%;
    text-align: center;
	    background-color: #f1f4f8;
	    height: 80px;
} */


.wrapper{
	min-height: 100%!important;
}

/***********************  TOP Bar ********************/

#wrapper-n {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position:relative;
}

#wrapper-n.toggled {
/*    padding-left: 220px;*/
	    padding-right: 230px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper-n.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding-top:0;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position:relative;
  top: 0;
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 0;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top {
  top: 5px;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #ffffff;
    border-color: #ddd;
    font-size: 18px;
    font-weight: 600;
}
.table19c td{border: 1px solid #999; width:59px;padding: 4px; text-align: right;}
 .table19c td:first-child{width:80px;text-align: left;}
 .overAll4-9.table19c td:first-child{width: 29px;}
 .overAll4-9.table19c td:nth-child(2){width: 332px; text-align: left;}
 .overAll4-9.table19c td:nth-child(3){width: 180px; text-align: left;}
 .overAll4-9.table19c td:nth-child(4){width: 180px; text-align: left;}
.jexcel_label td{border: 1px solid #999};
td{
/*	background-color: #f0f0f0;*/
	border: 1px solid #f8f8f8;
	padding: 0;
	margin:0;
	font-size: 90%;
	font-weight: 600;
	    height: 25px;
}
.green-some{
	background-color: #1c998b;
	padding: 10px;
	color: #ffffff!important;
}
.blue-some{
	background-color: #386197;
	padding: 10px;
	color: #ffffff!important;
}

.radio-inline+.radio-inline, .checkbox-inline+.checkbox-inline {
    margin-top: 0;
    margin-left:0;
}
ul.nav.navbar-nav.top li a {
    font-size: 11px;
}

.btn.btn-lg.btn-info.btn-block {
    border-radius: 0!important;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #f7eaa3;
	    color: #12135b;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 5px;
}
.font-size-20{
	font-size: 20px;
}

h5.text-center {
    text-align: left;
}

.panel-body {
    padding: 0 15px;
}
.dropdown-menu{
	text-align: left;
	font-size: 12px;
}

/* table {
    max-width: 100%;

} */
.plagintable .jexcel{width: 100%; font-size: 11px;}
.plagintable .jexcel.largeTable, .plagintable .largeTable{ width: 1200px; }
.plagintable .jexcel.largerTable, .plagintable .largerTable{ width: 1700px; }
.plagintable .jexcel.largestTable, .plagintable .largestTable, .largestTable{ width: 4000px; }
.plagintable .jexcel.extraLargeTable{ width: 2100px; }
.bossanova-ui .jexcel_label tr td tr.tableHd > td{padding: 0!important}
.viewTab .jexcel{width: 100% !important}
.tableHeader {
    max-width: 100%;
    background-color: #57677b;
    color: #fff;
}

.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 1% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }

.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline{
	padding-top: 2px;
}

.btn-hot {
color: #fff;
background-color: #db5566;
border-bottom:2px solid #af4451;
}

.btn-hot:hover, .btn-sky.active:focus, .btn-hot:focus, .open>.dropdown-toggle.btn-hot {
color: #fff;
background-color: #df6a78;
border-bottom:2px solid #b25560;
outline: none;

    padding: 6px 20px;
    font-size: 20px;
    border-radius: 0;
    font-weight: 600;
}


.btn-hot:active, .btn-hot.active {
color: #fff;
background-color: #c04b59;
border-top:2px solid #9a3c47;
}

.btn-sunny {
color: #fff;
background-color: #e84444;
border-bottom:2px solid #c38a3a;
	    padding: 6px 20px;
    font-size: 20px;
    border-radius: 0;
    font-weight: 600;
}

.btn-sunny:hover, .btn-sky.active:focus, .btn-sunny:focus, .open>.dropdown-toggle.btn-sunny {
color: #fff;
background-color: #f5b75f;
border-bottom:2px solid #c4924c;
outline: none;
}


.btn-sunny:active, .btn-sunny.active {
color: #fff;
background-color: #d69840;
border-top:2px solid #ab7a33;
}

.btn-fresh {
color: #fff;
background-color: #51bf87;
border-bottom:2px solid #41996c;
	    padding: 6px 20px;
    font-size: 20px;
    border-radius: 0;
    font-weight: 600;
}

.btn-fresh:hover, .btn-sky.active:focus, .btn-fresh:focus, .open>.dropdown-toggle.btn-fresh {
color: #fff;
background-color: #66c796;
border-bottom:2px solid #529f78;
outline: none;
}


.btn-fresh:active, .btn-fresh.active {
color: #fff;
background-color: #47a877;
border-top:2px solid #39865f;
outline: none;
outline-offset: none;
}

.btn-sky {
color: #fff;
background-color: #0bacd3;
border-bottom:2px solid #098aa9;
	    padding: 6px 20px;
    font-size: 20px;
    border-radius: 0;
    font-weight: 600;
}

.btn-sky:hover,.btn-sky.active:focus, .btn-sky:focus, .open>.dropdown-toggle.btn-sky {
color: #fff;
background-color: #29b6d8;
border-bottom:2px solid #2192ad;
outline: none;
}

.btn-sky:active, .btn-sky.active {
color: #fff;
background-color: #0a97b9;
border-top:2px solid #087994;
outline-offset: none;
}
.border{
	border: 1px solid #d1d1d1;
	padding: 10px;
	text-align: center;
	margin: 20px;
}
.tableGrid{

    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;

}
.tdGrid{

    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;

}
.tdGridSubTotal{

    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 800;
    background-color: #E9F1D9;
    padding-left: 5px;
    padding-right: 5px;

}
.tdGridTotal{

    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 800;
    background-color: #DDD9F1;
    padding-left: 5px;
    padding-right: 5px;

}
.textGrid{

    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    width: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    text-align: right;
    background-color:#ffffff;
    padding-left: 0px;
    padding-right: 0px;
}
#up-arrow{
	position: relative;
    /* top: -23px;
    right: -25px; */
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
     padding-top: 5px;
    float: right;
    background-color: #2c4e86;
    border: none;
    color: white;
    border-radius: 0 0 4px 4px;
}

#demo29 .jexcel > tbody > tr > td.readonly{color: rgba(0,0,0,1);}
.plagintable .jexcel > tbody > tr > td.readonly{color: rgba(0,0,0,1); background: #e9e9e9; text-align: left;}
.plagintable .jexcel > tbody > tr > td.readonly.singleCol{color: rgba(0,0,0,1); background: #cccccc; border-bottom: 1px solid #e9e9e9;  text-align: left; }
.tbl_rowtwo .jexcel > tbody > tr > td.readonly.singleCol, .tbl_rowtwo .jexcel > tbody > tr > td:nth-child(2).readonly.singleCol{text-align: left; }
.collapse{display: none;}
/* #Annexure1 .collapse{display: block;}
#Annexure2 .collapse{display: block;}
#Annexure3 .collapse{display: block;}
#Annexure4 .collapse{display: block;}
#Annexure5 .collapse{display: block;}
#Annexure6 .collapse{display: block;}
#Annexure7 .collapse{display: block;}
#Annexure8 .collapse{display: block;}
#Annexure9 .collapse{display: block;} */

.accu_tab2_continn .panel{margin-bottom: 0;}
