<main-header></main-header>
<main-details></main-details>
<div id="canvasOverlay"  ng-hide="loadSuccessfull">
  <div class="preloader"></div>
</div>
<div ng-show="loadSuccessfull">
 <section class="dashboard_page">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="dashboard_box">
          <div class="parion_tab_cont">
            <div class="parion_tab_div tab-content" id="Annexure1" style="display:block">
              <div class="parion_tab_box_lft cbp-spmenu-right1">
                <main-sidebar></main-sidebar>
              </div>
              <div class="parion_tab_box_rt">
                <div class="accu_tab2_cont">
                  <div class="accu_tab2_continn">

                    <div class="tab_form_heading">
                        <h2>Form 1.10(a): Quantum of Purchase of Power and Rate thereof (Sourcewise vis-à-vis Stationwise)</h2>
                      </div>
                      <div class="panel-success panel" ng-hide="!updateMessage"><div class="panel-heading">{{updateMessage}}</div></div>
                      <div class="panel-danger panel" ng-hide="!errorMessage"><div class="panel-heading">{{errorMessage}}</div></div>
                      <div class="tab_form_full_tbl">

                       <div class="dropDownList">
                           <div class="dropdownBlock">
                             <span>Station Name</span>
                             <select id="stationMaster" name="all_stations" ng-model="AllStationsFuel[0].id" class="form-control width_select" ng-change="getSingleStations('19',AllStationsFuel[0].id)"  ng-options="obj.id as obj.name for obj in AllStationsFuel">
                             </select>
                           </div>
                           <div class="dropdownBlock">
                             <span>Select Source</span>
                             <select id="stationMaster" name="all_plumbing_stations" ng-model="AllSource[0].id" class="form-control width_select" ng-change="getSingleSource('9',AllSource[0].id)" ng-options="obj.id as obj.name for obj in AllSource">
                             </select>
                           </div>
                       </div>
                        <div class="tbl_rowtwo">
                          <div class="hyble_tbl_row">
                            <div class="plagintable">
                              <!-- {{subStationsData}} -->
                              <table class="jexcel bossanova-ui">
                               <thead class="jexcel_label">
                                 <tr>
                                   <td width="100%" style="padding:0;" align="left">
                                     <excell-form data-uid="0" data-values="subStationsData" data-tab="tab19"></excell-form>
                                   </td>
                                 </tr>
                               </thead>
                             </table>
                            </div>
                          </div>
                          <div class="hyble_tbl_row">
                            <div class="comndfrm">
                              <strong>Note :</strong>
                              <ol>
                                <li>Source of energy purchased, purchase rate, quantum of energy purchased, escalation/ rebate adjustment clause in the purchase rate, if any, may be given along with all the relevant details. Whether there is any dispute on purchase rate and if yes, the details thereof may be submitted.</li>
                                <li>Whether any power purchase aggrements (PPA), if required, have been entered into which will be force during the period for which the tariff has been proposed. Copies of such PPAs are to be enclosed</li>
                                <li>Whether the competent authority has been approved the purchase rates as per the Act and if not, details thereof</li>
                                <li>Whether any procurement is made from co-generation/ renewable sources of energy. If yes, details thereof may be submitted.</li>
                              </ol>
                            </div>
                          </div>
                          <div class="hyble_tbl_row">
                            <div class="col-sm-5">
                              <button ng-click="saveStationData('','19')" ng-show="selectedTab == 'tab19'" class="sav_data_btn">Save Data</button>
                            </div>
                          </div>
                            <comment-tab></comment-tab>
                      </div>
                    </div>


                  </div>
                </div> 
              </div>
            </div>
            <div class="col-md-12 tab-content" id="attachment_list" style="display:none">
              <attachment-list></attachment-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
