<main-header></main-header>
<main-details></main-details>
<div id="canvasOverlay"  ng-hide="loadSuccessfull">
  <div class="preloader"></div>
</div>
<div ng-show="loadSuccessfull">
 <section class="dashboard_page">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="dashboard_box">
            <div class="parion_tab_cont">
              <div class="parion_tab_div tab-content" id="Annexure1" style="display:block">
                <div class="parion_tab_box_lft cbp-spmenu-right1">
                  <main-sidebar></main-sidebar>
                </div>
                <div class="parion_tab_box_rt">
                  <div class="accu_tab2_cont">
                    <div class="accu_tab2_continn">
											<div class="accu_tab2div" id="tab1-4" style="display: block">
												<div class="tab_form_heading">
													<h2>Form 1.3: Gross Energy available at Generators Terminal for Stabilised Commercial Operation (Stationwise)</h2>
												</div>
                        <div class="panel-success panel" ng-hide="!updateMessage"><div class="panel-heading">{{updateMessage}}</div></div>
                        <div class="panel-danger panel" ng-hide="!errorMessage"><div class="panel-heading">{{errorMessage}}</div></div>
												<div class="tab_form_full_tbl">
													<table width="100%">
														<tbody>
															<tr>
															<td align="right">
																<div class="form-group row topSelectboxSec">
																	<div class="col-xs-12 col-sm-8 col-md-5 pull-right">
																		<label>Station Name</label>
																		<select id="stationMaster" name="all_stations" ng-model="AllStations[0].id" class="form-control width_select" ng-change="getSingleStations('5',AllStations[0].id)" ng-options="obj.id as obj.name for obj in AllStations">
																		</select>
																	</div>
																</div>
															</td>
														</tr>
														</tbody>
													</table>

													<div class="tbl_rowtwo">
														<div class="hyble_tbl_row">
															<div class="plagintable">
															<div ng-show="selectedTab5">
																<table class="jexcel bossanova-ui" >
																	 <thead class="jexcel_label subHd" ng-repeat="station in  subStations track by $index" >
																	   <tr>
																		 <td class="" width="100%" align="left">{{station.season}}</td>
																	   </tr>
																	   <tr>
																		 <td width="100%" style="padding:0;" align="left">
																		   <excell-form data-uid="$index" data-values="subStationsData" data-tab="tab5" callback-fn="ctrlFn()" ></excell-form>
																		 </td>
																	   </tr>
																	 </thead>
																   </table>
																	 <table class="table19c" border="1">
																		 <tr>
																			 <td ng-repeat="value in totalExpenditure track by $index">{{value}}</td>
																		 </tr>
																	 </table>
       														<div class="hyble_tbl_row">
       															<div class="plagintable grandTotal">
       														 			<table width="100%" border="1" ng-show="grandTotalArr!=null">
       														 				<tr>
       																			<td align="center" width="4%">#</td>
       																			<td width="28%">Total value</td>
       														 					<td align="right" width="8.5%" ng-repeat="data in grandTotalArr track by $index">{{data}}</td>
       														 			</tr>
       														 		</table>
       															</div>
       														</div>
        													<div class="hyble_tbl_row">
        														<div class="col-sm-5">
        															<button ng-click="grandTotal()" class="sav_data_btn">Grand total</button>
        															<button ng-click="saveStationData(optionVal,'5'); grandTotal()" class="sav_data_btn" ng-show="selectedTab == 'tab5'" >Save Data</button>

        											        <hr>
        														</div>
        													</div>
																 </div>
																 <div ng-show="selectedTab5_1">
																 		<h4>Gross</h4>
																		 <table class="jexcel bossanova-ui">
													 						 <thead class="jexcel_label" ng-repeat="station in  totalStations track by $index" >
																			   <tr>
																				 <td class="subHd" width="100%" align="left">{{station.season}}</td>
																			   </tr>
													 						   <tr>
													 							 <td width="100%" style="padding:0;" align="left">
													 							   <excell-form data-uid="$index" data-values="totalStationsData" data-tab="tab5-1"></excell-form>
													 							 </td>
													 						   </tr>
													 						 </thead>
													 					 </table>
         														<div class="hyble_tbl_row">
         															<div class="plagintable grandTotal">
         														 			<table width="100%" border="1" ng-show="grossGrandTotalArr!=null">
         														 				<tr>
         																			<td align="center" width="4%">#</td>
         																			<td width="28%">Total value</td>
         														 					<td align="right" width="8.5%" ng-repeat="data in grossGrandTotalArr track by $index">{{data}}</td>
         														 			</tr>
         														 		</table>
              													<div class="hyble_tbl_row">
              														<div class="col-sm-5">
              															<button ng-click="grossGrandTotal()" class="sav_data_btn">Grand total</button>
              											        <hr>
              														</div>
              													</div>
         															</div>
         														</div>
																 </div>
															</div>
														</div>
														<div class="hyble_tbl_row">
															<div class="comndfrm">
																<strong>Note :</strong>
																<ol>
																	<li> For any Unit, Unit Availabillity Factor shall be considered for stabilised operation only i.e. without taking into acount the in-firm power generation or generation during stabilisation period.  </li>
																	<li>Reasons for variations over the years are to be given in a note</li>
																</ol>
															</div>
														</div>
													</div>
	                        <comment-tab></comment-tab>
												</div>
											</div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 tab-content" id="attachment_list" style="display:none">
                <attachment-list></attachment-list>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
