<main-header></main-header>
<main-details></main-details>
<div id="canvasOverlay"  ng-hide="loadSuccessfull">
  <div class="preloader"></div>
</div>
<div ng-show="loadSuccessfull">
 <section class="dashboard_page">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="dashboard_box">
          <div class="parion_tab_cont">
            <div class="parion_tab_div tab-content" id="Annexure2" style="display:block">
              <div class="parion_tab_box_lft cbp-spmenu-right1">
                <main-sidebar></main-sidebar>
              </div>
              <div class="parion_tab_box_rt">
                <div class="accu_tab2_cont">
                  <div class="accu_tab2_continn">
											<div class="tab_form_heading">
												<h2> Form 2.1 :Annual Sales</h2>
											</div>
                      <div class="panel-success panel" ng-hide="!updateMessage"><div class="panel-heading">{{updateMessage}}</div></div>
                      <div class="panel-danger panel" ng-hide="!errorMessage"><div class="panel-heading">{{errorMessage}}</div></div>

											<div class="tab_form_full_tbl">
													<div class="dropDownList">
															<div class="dropdownBlock">
																<span>Consumer types </span>
																<select id="consumertype" name="ConsumerTypes" ng-model="ConsumerTypes[0].consumer_type_id" class="form-control width_select" ng-change="getSingleStations2('72',ConsumerTypes[0].consumer_type_id)"  ng-options="obj.consumer_type_id as obj.name for obj in ConsumerTypes">
																</select>
															</div>
															<div class="dropdownBlock">
																<span>Voltage level</span>
																<select id="voltageLevelList" name="voltageLevelList" ng-model="voltageLevelList[0].voltage_level_id" class="form-control width_select" ng-change="getSingleStations4('72',voltageLevelList[0].voltage_level_id)"  ng-options="obj.voltage_level_id as obj.name for obj in voltageLevelList">
																</select>
															</div>
													</div>
													<div class="tbl_rowtwo">
														<div class="hyble_tbl_row">
															<div class="plagintable formId72" ng-show="showHidedata">
                                <!-- {{subStationsData}} -->
																	<table class="jexcel bossanova-ui" >
																		 <thead class="subHd" class="jexcel_label">
																		   <tr ng-repeat="station in subStations track by $index">
																			    <td width="100%" align="left">
                                            <!-- <p>{{station.consumer_type_desc}}</p> -->
                                            <table>
                                              <tr class="subHd" ng-repeat="subStation in station.vo1 track by $index">
                                                <td>
                                                  <!-- <p>{{subStation.consumer_type_desc}}</p> -->
                                                  <table>
                                                    <tr class="subHd" ng-repeat="inSubStation in subStation.vo2 track by $index">
                                                      <td>
                                                        <p>{{inSubStation.consumer_class_desc}}</p>
                                                        <table>
                                                          <tr class="subHd" ng-repeat="intoInSubStation in inSubStation.vo3 track by $index">
                                                            <td>
                                                              <p>{{intoInSubStation.payment_tariff_desc}}</p>
                                                              <table>
                                                                <tr>
                                                                  <td>
                                                                    <excell-form data-uid="$index" data-values="intoInSubStation" data-tab="tab72" callback-fn="ctrlFn()" class="excel72" ></excell-form>
                                                                  </td>
                                                                </tr>
                                                              </table>
                                                            </td>
                                                          </tr>
                                                        </table>
                                                      </td>
                                                    </tr>
                                                  </table>
                                                </td>
                                              </tr>
                                            </table>
                                          </td>
																		   </tr>
																		   <tr>
																		   </tr>
																		 </thead>
																	   </table>
																</div>
                                <div ng-show="!showHidedata">
                                  <table class="viewTable noDataTable">
                                    <thead>
                                      <tr>
                                        <th>Consumer category</th>
                                        <th width="100px">Tariff scheme</th>
                                        <th>Consumption slab/ Time slot</th>
                                        <th ng-repeat="year in viewHeader track by $index">{{year}}</th>
                                      </tr>
                                     </thead>
                                     <tbody>
                                       <tr>
                                         <td colspan="{{yearLength}}" align="center">
                                           <p>No data available</p>
                                         </td>
                                       </tr>
                                     </tbody>
                                   </table>
                                </div>
														</div>
														<div class="hyble_tbl_row">
															<div class="comndfrm">
																<!-- <span>Comments on Form</span> -->
																<strong>Note :</strong>
																<ol>
																	<li> For any Unit, Unit Availabillity Factor shall be considered for stabilised operation only i.e. without taking into acount the in-firm power generation or generation during stabilisation period.  </li>
																	<li>Reasons for variations over the years are to be given in a note</li>
																</ol>
															</div>
														</div>
													</div>
                          <comment-tab></comment-tab>
											</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 tab-content" id="attachment_list" style="display:none">
              <attachment-list></attachment-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
