
		<div id="heading" class="header_sec">
			<div class="header_sec" ng-controller="HeaderController">
				<div class="header1">
					<div class="container-fluid">
						<div class="header_sec_inn">
							<div class="logo">
								<a href="/dashboard" class="navbar-brand">
									<img src="app/tpl/assets/images/gov-logo.png" alt="Ashok stambha"/>
									 <span>West Bengal Electricity<br>Regulatory Commision</span>
								</a>
								<span><strong> | </strong> Electricity Regulatory Management System</span>
							</div>
							<div class="rightLogo">
								<img src="app/tpl/assets/images/wberclogo.png" alt="wberc"/>
							</div>
						</div>
					</div>
				</div>
				<div class="header2" >
						<div class="container-fluid">
							<div class="header2_inn">
								<nav class="navbar navbar-default top_nav" role="navigation">
								  <div class="navbar-header">
								    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex2-collapse">
								      <span class="sr-only">Toggle navigation</span>
								      <span class="icon-bar"></span>
								      <span class="icon-bar"></span>
								      <span class="icon-bar"></span>
								    </button>
								  </div>
								  <div class="collapse navbar-collapse navbar-ex2-collapse">
								  </div>
									<ul class="nav navbar-nav">
										<li ng-repeat="menu in allMenu">
												<a href="{{menu.link}}">{{menu.name}}</a>
												<ul ng-if="menu.childAl" class="sub-menu">
													<li ng-repeat="submenu in menu.childAl" >
														<a href="{{submenu.link}}">{{submenu.name}}</a>
													</li>
											 </ul>
										</li>
									</ul>
									<div class="head_rt"  ng-show="{{signedIn == true}}">

										<div class="btn-group">
										 <button type="button" class="btn btn-default dropdown-toggle usa btn_user" data-toggle="dropdown">
										 		<i class="fa fa-user padding-right-10"></i> Welcome {{user.name}}  <span class="caret"></span>
										 </button>
										 <ul class="dropdown-menu">
												<li><small>Logged In as:</small></li>
	 												<li> <strong>{{user.role_desc}}</strong></li>
											  <!-- <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>My Profile</a></li> -->
											  <li><a ng-click="changePassword()"><i class="fa fa-unlock-alt" aria-hidden="true"></i>Change Password</a></li>
											  <li><a ng-click="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></li>
										  </ul>
							      </div>
									</div>
								</nav>
							</div>
						</div>
					</div>
			</div>
		</div>
