<div id="canvasOverlay"  ng-hide="loadSuccessfull">
  <div class="preloader"></div>
</div>
<div ng-show="loadSuccessfull">
<main-header></main-header>
<section class="dashboard_page">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="dashboard_box">
						<button id="up-arrow"><i id="downArrow" style="display:none" class="fa fa-arrow-down" aria-hidden="true"></i><i id="upArrow" style="display:block" class="fa fa-arrow-up" aria-hidden="true"></i></button>
						 <h3>Dashboard</h3>
						 <h4 class="text-center">{{user.utilName}}</h4>
						<div class="parion_tab_row">
							<div class="parion_tab_menu" id="parion_tab_menu">
								<ul class="tabs-menu">
									<li class="current1">
										<a href="#group_task">
											<i class="fa fa-calendar" aria-hidden="true"></i>
											<span>Group Tasks</span>
										</a>
									</li>
									<li>
										<a href="#my_task">
											<i class="fa fa-paperclip" aria-hidden="true"></i>
											<span>My Tasks</span>
										</a>
									</li>
									<li>
										<a href="#my_draft">
											<i class="fa fa-sign-out" aria-hidden="true"></i>
											<span>Saved Draft</span>
										</a>
									</li>
								</ul>
							</div>
							<div class="parion_tab_cont">
								<div class="tab-content" id="group_task" style="display:block">
									<h5 class="heading-my-group-tasks">Notification: Group Tasks</h5>
										  <table class="table table-striped custab notificationTbl">
												<thead>
												  <tr>
													<th>#</th>
													<th>Name</th>
													<th>ID</th>
													<th>Petition Id</th>
													  <th>Created on</th>
													<th>Action</th>
													</tr>
												</thead>
												<tbody>
												  <tr ng-repeat="x in groupTasks">
													  <td>{{$index+1}}</td>
													  <td>{{x.name}}</td>
													  <td>{{x.id}}</td>
													  <td>{{x.petitionId}}</td>
													  <td>{{x.created}}</td>
													  <td class="text-center">
														  <input type="button" value="claim" ng-click="claimtask(x.id)">
													  </td>
												  </tr>
												  <tr ng-show="!groupTasks.length"><td colspan="6" style="text-align:center">There is No record Found.</td></tr>
												 </tbody>
										  </table>
									</div>
									<div  class="tab-content" id="my_task" style="display:none">
									  <h5  class="heading-my-group-tasks">Notification: My Tasks</h5>
									  <table class="table table-striped custab notificationTbl">
												<thead>
												  <tr>
													  <th>#</th>
													<th>Name</th>
													<th>ID</th>
													<th>Petition Id</th>
													  <th>Created on</th>
													<th>Action</th>
												  </tr>
												</thead>
												<tbody>
												   <tr ng-repeat="x in mytasks">
													  <td>{{$index+1}}</td>
													  <td>{{x.name}}</td>
													  <td>{{x.id}}</td>
													  <td>{{x.petitionId}}</td>
													  <td>{{x.created}}</td>
													  <td class="text-center">
														  <input type="button" value="View" ng-click="viewPetitions(x.petitionId,x.id)">
														  <input type="button" value="Un claim" ng-click="Unclaimtask(x.id)">
													  </td>
												  </tr>
												  <tr ng-show="!mytasks.length"><td colspan="6" style="text-align:center">There is No record Found.</td></tr>
												</tbody>
									  </table>
									</div>
									<div  class="tab-content" id="my_draft" style="display:none">
											  <h5  class="heading-my-group-tasks">Saved Draft</h5>
											  <table class="table table-striped custab notificationTbl">
													<thead>
													  <tr>
															 	<th width="100px"  align="left">Ph ID</th>
																<th width="150px"  align="left">Petition base year</th>
																<th  align="left">Module type</th>
																<th width="200px"  align="left">Created on</th>
																<th  align="left">Created by</th>
																<th width="100px"  align="center">Action</th>
													  </tr>
													</thead>
													<tbody>
													   <tr ng-repeat="x in dashBoardData">
																<td  align="left">{{x[0]}}</td>
																<td  align="left">{{x[1]}}</td>
																<td  align="left">{{x[2]}}</td>
																<td  align="left">{{x[3]}}</td>
																<td  align="left">{{x[4]}}</td>
																<td  align="center"><input type="button" value="View" ng-click="viewSavedDrafts(x[0])"></td>
													  </tr>
													  <tr ng-show="!petitionDetails.length"><td colspan="6" style="text-align:center">There is No record Found.</td></tr>
													</tbody>
											 </table>

											 <div class="paginationSec">
												 <button ng-disabled="currentPage == 1" ng-click="getDashBoardData(currentPage=currentPage-1)"> &laquo; </button>
												    Page <input type="number" width="3% !important" min = "1" ng-change="getDashBoardData(currentPage)" ng-model="currentPage"/> Of {{pageNumber}}
												 <button ng-disabled="currentPage >= pageNumber" ng-click="getDashBoardData(currentPage=currentPage+1)"> &raquo; </button>
 										  </div>
											<div ng-show = "showHideMsg">	<font color = "red">{{validPageMsg}}</font> </div>
											<!-- <div>
												<nav aria-label="Page navigation example">
													  <ul class="pagination">
													    <li class="page-item"><a class="page-link" href="#"> &laquo; </a></li>
													    <li class="page-item" ng-repeat = ><a class="page-link" href="#">1</a></li>
													    <li class="page-item"><a class="page-link" href="#">2</a></li>
													    <li class="page-item"><a class="page-link" href="#">3</a></li>
													    <li class="page-item">
													      <a class="page-link" href="#" aria-label="Next">
													        <span aria-hidden="true">&raquo;</span>
													        <span class="sr-only">Next</span>
													      </a>
													    </li>
													  </ul>
													</nav>
											</div> -->
									</div>
								</div>
							</div>
									<!-- <form class="form-horizontal" action="">
											<div class="border">You can navigate to frequently used links through the navigation panel given below</div>
											  <div class="form-group">
												<div class=" text-center">
												   <button type="Upload" class="btn btn-default btn-primary" style="padding: 10px 20px 10px 20px;font-size: 15px;" ><a style="color:#fff" ui-sref="newpetition">New Petition</a></button>
												  <button type="Upload" class="btn btn-default pull-center btn-primary" style="padding: 10px 20px 10px 20px;font-size: 15px;" >Tariff Orders</button>
												 <button type="Upload" class="btn btn-default btn-primary" style="padding: 10px 20px 10px 20px;font-size: 15px;" ><a style="color:#fff" href="#">Regulation Documents</a></button>
													<button type="Upload" class="btn btn-default btn-primary" style="padding: 10px 20px 10px 20px;font-size: 15px;" ><a style="color:#fff" href="ARR-1.html">Power Purchase Agreements</a></button>
												 <button type="Upload" class="btn btn-default btn-primary" style="padding: 10px 20px 10px 20px;font-size: 15px;" ><a style="color:#fff" href="Master.html">Your Profile</a></button>
												</div>
											  </div>
									</form> -->
							</div>
					</div>
				</div>
			</div>
</section>
<div ng-include="'app/tpl/footer.html'"></div>
</div>
<script>
$(document).ready(function(){

    $("#up-arrow").click(function(){

    $("#parion_row, #parion_tab_menu, #heading, #top_bradcamp").toggle();

    if(document.getElementById("upArrow").style.display == "block")
    {
    document.getElementById("upArrow").style.display = "none";
    document.getElementById("downArrow").style.display = "block";
    }
    else
    {
    document.getElementById("downArrow").style.display = "none";
    document.getElementById("upArrow").style.display = "block";
    }
    });

$(".parion_tab_box_lft li a").click(function(event) {
        event.preventDefault();
        $(this).parent().addClass("current");
        $(this).parent().siblings().removeClass("current");
        var tab = $(this).attr("href");
        $(".accu_tab2div").not(tab).css("display", "none");
        $(tab).fadeIn(100);

		var select_menu = $(".tabl_list_cont").find(".current a span").text();
		$(".tabl_menu1_list").find(".menulist1_menu li a").each(function(){
			$(this).parent().removeClass("current");
			var collapse_menu = $(this).text();
			if(select_menu.trim() == collapse_menu.trim()){
				$(this).parent().addClass("current");
			}
		});
    });
	$(".tabl_menu1_list").find(".menulist1_menu li a").click(function(){
		 $(this).parent().addClass("current");
		 $(this).parent().siblings().removeClass("current");
		 var select_menu = $(this).text();
		 $(".tabl_list_cont").find(".panel-body ul li").each(function(){
			$(this).removeClass("current");
			if(select_menu.trim() == $(this).find("a span").text().trim()){
				$(this).addClass("current");
			}
		 });
	});
});
$(document).ready(function() {
    $(".tabs-menu li a").click(function(event) {
        event.preventDefault();
        $(this).parent().addClass("current1");
        $(this).parent().siblings().removeClass("current1");
        var tab = $(this).attr("href");
        $(".tab-content").not(tab).css("display", "none");
        $(tab).fadeIn();
    });
});
	</script>
