<main-header></main-header>
<main-details></main-details>
<div id="canvasOverlay"  ng-hide="loadSuccessfull">
  <div class="preloader"></div>
</div>
<div ng-show="loadSuccessfull">
 <section class="dashboard_page">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="dashboard_box">
          <div class="parion_tab_cont">
            <div class="parion_tab_div tab-content" id="Annexure1" style="display:block">
              <div class="parion_tab_box_lft cbp-spmenu-right1">
                <main-sidebar></main-sidebar>
              </div>
              <div class="parion_tab_box_rt">
                <div class="accu_tab2_cont">
                  <div class="accu_tab2_continn">

                      <div class="tab_form_heading">
                        <h2>Form 5 (ix):STATUS OF METERING</h2>
                      </div>
                      <div class="panel-success panel" ng-hide="!updateMessage"><div class="panel-heading">{{updateMessage}}</div></div>
                      <div class="panel-danger panel" ng-hide="!errorMessage"><div class="panel-heading">{{errorMessage}}</div></div>
                      <div class="tab_form_full_tbl">
                        <div>

                          <ul class="nav nav-pills nav-stacked tabSec">
                            <li ng-class="{ active: isformSet(1) }">
                                <a href ng-click="formsetTab(1)">Submit</a>
                            </li>
                            <li ng-class="{ active: isformSet(2) }">
                                <a href ng-click="formsetTab(2)">View</a>
                            </li>
                          </ul>
                          <div>
                            <div ng-show="isformSet(1)">
                              <div class="form-group row topSelectboxSec">
                                <div class="col-xs-12 col-sm-8 col-md-5 pull-right">
                                  <label>Consumer Type</label>
                                  <select id="stationMaster" name="all_stations" ng-model="AllStations[0].consumer_type_id" class="form-control width_select" ng-change="getSingleStations('122',AllStations[0].consumer_type_id)" ng-options="obj.consumer_type_id as obj.name for obj in AllStations">
                                  </select>
                                </div>
                              </div>
                              <div class="tbl_rowtwo">
                                <div class="hyble_tbl_row">
                                  <div class="plagintable">
                                    <div class="jexcel bossanova-ui largestTable" ng-show="selectedTab == 'tab122'">
                                      		   <excell-form data-uid="0" data-values="subStationsData" data-tab="tab122" ></excell-form>
                                   </div>
                                  </div>
                                </div>
                                <div class="hyble_tbl_row">
                                  <div class="comndfrm">
                                    <strong>Note :</strong>
                                    <ol>
                                      <li>For any  plant, PAF shall be considered for stabilised operation only i.e. without taking into acount
                                        the in-firm power generation or generation during stabilisation period.</li>
                                      <li>Reasons for variations over the years are to be given in a note</li>
                                    </ol>
                                  </div>
                                </div>
                              </div>
                              <div class="hyble_tbl_row">
                                <div class="col-sm-5">
                                  <button ng-click="saveStationData('','122')" ng-show="selectedTab == 'tab122'" class="sav_data_btn">Save Data</button>
                                </div>
                              </div>
                            </div>

                          <div ng-show="isformSet(2) ">
                              <div class="tbl_rowtwo">
                                <div class="viewFormLargeTableHd">
                                  <div class="plagintable largestTable">
                                    <table class="jexcel bossanova-ui">
                                    <tbody>
                                      <tr ng-repeat="typeTable in viewTable track by $index">
                                        <td>
                                          <table>
                                              <tr>
                                                <th >{{typeTable.consumer_type}}</th>
                                              </tr>
                                            <tr >
                                              <td class="scrollTable">
                                                <excell-form data-uid="$index" data-values="typeTable " data-tab="tab122-2" ></excell-form>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                     </tbody>
                                  </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                          <comment-tab></comment-tab>
                      </div>
                  </div>

                </div>

              </div>
            </div>
            <div class="col-md-12 tab-content" id="attachment_list" style="display:none">
              <attachment-list></attachment-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
