<main-header></main-header>
<div class="login_body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="login_box">
            About
          </div>
				</div>
			</div>
		</div>
	</div>

<div ng-include="'app/tpl/footer.html'"></div>
