<div class="accu_tab2div" id="tab1-4" style="display: block">
	<div class="tab_form_heading">
		<h2>Form P (D4): Break up of Capital Cost for Plant & Equipment (Hydro)</h2>
	</div>
	<div class="tab_form_full_tbl">
		<div class="tbl_station">
			<div class="table-responsive">
			  <grid-header data-base="Unit" data-stationdata="stationheaderInfo" data-form-id="132"></grid-header>
			</div>
		</div>
		<table width="100%">
			<tbody>
				<tr>
				<td align="right">
					<div class="form-group">
						<div class="col-sm-8"><div class="panel-heading text-right">Stations Name</div></div>
						<div class="col-sm-4">
						<select id="stationMaster" name="stations_combo" ng-model="optionValStation" class="form-control width_select" ng-change="getFormDataStationWise(optionValStation)"  ng-options="obj.id as obj.name for obj in AllStations">
						</div>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
		<div class="tbl_rowtwo">
			<div class="hyble_tbl_row">
				<div class="plagintable">


	 <table class="jexcel bossanova-ui">
		 <thead class="jexcel_label">
		   <tr>
			 <td width="100%" style="padding:0;" align="left" id="tab6_cell" id="tab6_td_cell">
			   <excell-form data-uid="0" data-values="subStationsData" data-tab="tab132"></excell-form> <!--tab-demo11-->
			 </td>
		   </tr>
		 </thead>
	   </table>
	   <!---For Gross -->
				</div>
			</div>
			<div class="hyble_tbl_row">
				<div class="comndfrm">
					<!-- <span>Comments on Form</span> -->
					<strong>Note :</strong>
					<ol>
						<li> For any Unit, Unit Availabillity Factor shall be considered for stabilised operation only i.e. without taking into acount the in-firm power generation or generation during stabilisation period.  </li>
						<li>Reasons for varaiations over the years are to be given in a note</li>
					</ol>
				</div>
			</div>
		</div>
		<div class="hyble_tbl_row">
			<div class="col-sm-5">
				<button ng-click="saveStationData('','132')" ng-show="selectedTab == 'tab132'" class="sav_data_btn">Save Data</button>
				<button class="sav_data_btn prnt_frm_btn">Print Form</button>
			</div>
		</div>
	</div>
</div>
