<div class="accu_tab2div" id="tab1-12" style="display: block">
	<div class="tab_form_heading">
		<h2>Form 1.7: T&D Loss %</h2>
	</div>
	<div class="tab_form_full_tbl">
		<div class="tbl_station">
			<div class="table-responsive">
			  <!-- <grid-header data-base="Unit" data-formid="11" data-pdid="{{petitionId}}"></grid-header> -->
				<!-- <tab-header data-uid="0" data-values="subStationsData" data-tab="tab11"></tab-header> -->
			  <grid-header data-base="Unit" data-stationdata="stationheaderInfo" data-form-id="12" data-pdid="{{petitionId}}"></grid-header>
			</div>

		</div>

		<div class="tbl_rowtwo">
			<div class="hyble_tbl_row">
				<div class="plagintable">
					<table valign="top" width="100%" class="twoTableMarge">
						<tr>
							<td valign="top" width="600px">
								<table class="leftStaticSec" colspan="1" border="1" >
									<tr>
										<td width="450px">A</td>
										<td width="30px">B</td>
										<td width="120px">C</td>
									</tr>
									<tr>
										<td>Generation [Form 1.3]</td>
										<td>MU</td>
										<td>A</td>
									</tr>
									<tr>
										<td>Auxiliary Consumption [Form 1.4]</td>
										<td>MU</td>
										<td>B1</td>
									</tr>
									<tr>
										<td>Transformation Loss</td>
										<td>MU</td>
										<td>B2</td>
									</tr>
									<tr>
										<td>Units delivered to system from  generation (including infirm power, if any) [Form 1.5]</td>
										<td>MU</td>
										<td>C=A-B1 -B2</td>
									</tr>
									<tr>
										<td>Quantum of infirm power included in 1</td>
										<td>MU</td>
										<td></td>
									</tr>
									<tr>
										<td>Energy Purchased [Form 1.6a]</td>
										<td>MU</td>
										<td>D</td>
									</tr>
									<tr>
										<td>Energy Received for Wheeling [Form 1.9a]</td>
										<td>MU</td>
										<td>E</td>
									</tr>
									<tr>
										<td>Overall Gross Energy in System</td>
										<td>MU</td>
										<td>F=C+D+E</td>
									</tr>
									<tr>
										<td>Energy sold to persons other than licensee or any consumers [Form 1.9b]</td>
										<td>MU</td>
										<td>G1</td>
									</tr>
									<tr>
										<td>Additional units allowed by Commission for Sales to persons other than licensee or any consumers</td>
										<td>MU</td>
										<td>G2</td>
									</tr>
									<tr>
										<td>Units sold/used for pumping energy of Pumped storage project at Bus bar [Form 1.4(b)]</td>
										<td>MU</td>
										<td>G3</td>
									</tr>
									<tr>
										<td>Additional units allowed by Commission against Pumping Energy for Pumping Loss</td>
										<td>MU</td>
										<td>G4</td>
									</tr>
									<tr>
										<td>Units sold  to other Licensees [Form 19c]</td>
										<td>MU</td>
										<td>G5</td>
									</tr>
									<tr>
										<td>Additional Units allowed by Commission for Sales to other licensees</td>
										<td>MU</td>
										<td>G6</td>
									</tr>
									<tr>
										<td>Net UI [Actual drawl]</td>
										<td>MU</td>
										<td>G7</td>
									</tr>
									<tr>
										<td>Total Energy goes out of System</td>
										<td>MU</td>
										<td>(G=G1+G2+G3+G4+G5+G6+G7)</td>
									</tr>
										<tr>
											<td>Net Energy in System</td>
											<td>MU</td>
											<td>H=F-G</td>
										</tr>
										<tr>
											<td>Units sold to consumers</td>
											<td>MU</td>
											<td>I</td>
										</tr>
										<tr>
											<td>Units wheeled [Form 1.9d]</td>
											<td>MU</td>
											<td>J</td>
										</tr>
										<tr>
											<td>Additional Units allowd for wheeling</td>
											<td>MU</td>
											<td>K</td>
										</tr>
										<tr>
											<td>Units utilised in own premises including construction power</td>
											<td>MU</td>
											<td>L</td>
										</tr>
										<tr>
											<td>Quantum of construction power included in 21</td>
											<td>MU</td>
											<td></td>
										</tr>
										<tr>
											<td>Overall Utilisation</td>
											<td>MU</td>
											<td>M =SUM(I:L)</td>
										</tr>
										<tr>
											<td>Unutilised Units</td>
											<td>MU</td>
											<td>N=H-M</td>
										</tr>
										<tr>
											<td>System Loss</td>
											<td>%</td>
											<td>O=N*100/H</td>
										</tr>
								</table>
							</td>
							<td valign="top" >
								 <table class="jexcel bossanova-ui">
									 <thead class="jexcel_label">
									   <tr>
										 <td width="100%" style="padding:0;" align="left" id="tab6_cell" id="tab6_td_cell">
										   <excell-form data-uid="0" data-values="subStationsData" data-tab="tab1-12"></excell-form>
										 </td>
									   </tr>
									 </thead>
								   </table>
							</td>
						</tr>
					</table>

	   <!---For Gross -->
				</div>
			</div>
			<div class="hyble_tbl_row">
				<div class="comndfrm">
					<!-- <span>Comments on Form</span> -->
					<strong>Note :</strong>
					<ol>
						<li> Actual Generation means units actually generated irrespective of schedules. Purchase and sales to persons other than licensees or any consumers shall not include the energy under Deviation Mechanism</li>
					</ol>
				</div>
			</div>
		</div>
		<div class="hyble_tbl_row">
			<div class="col-sm-5">
				<button ng-click="saveStationData(optioneEnsuring,'12')"  class="sav_data_btn">Save Data</button>
				<button class="sav_data_btn prnt_frm_btn">Print Form</button>
			</div>
			<hr>
			<ul class="nav nav-pills nav-stacked tabSec">
				<li ng-class="{ active: isSet(1) }">
						<a href ng-click="setTab(1)">Comment</a>
				</li>
				<li ng-class="{ active: isSet(2) }">
						<a href ng-click="setTab(2)">Upload</a>
				</li>
			</ul>
			<div class="row tabContent">
				<div class="col-md-12">
						<div class="jumbotron">
							<div ng-show="isSet(1)">
									<h4 class="heading4">List of Comments</h4>
								 <table class="table table-striped custab">
									 <thead>
										 <tr>
											 <th>Sl number</th>
											 <th>Comments</th>
											 <th>Action</th>
										 </tr>
									 </thead>
									 <tbody>
										 <tr ng-repeat="comment in commentList">
											 <td>{{$index+1}}</td>
											 <td>{{comment.comments}}</td>
											 <td>
												 <button class="btn btn-danger btn-xs" type="button" ng-click="daleteComment(comment.arr_comment_id)"><i class="fa fa-times" aria-hidden="true"></i></button>
											 </td>
										 </tr>
									</tbody>
								 </table>
								 <h4 class="heading4">Post a Comments</h4>
								 <form class="form-horizontal">
										<div class="form-group">
											<label class="control-label col-sm-2" for="email">Add Comment:</label>
											<div class="col-sm-4">
												<textarea class="form-control" rows="5" id="comment" ng-model="comments.comment"></textarea>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-2" ></label>
											<div class="col-sm-4">
												<button type="button" class="btn btn-default pull-left btn-primary" style="padding: 10px 20px 10px 20px;font-size: 15px;" ng-click="submit_comment_Form()">Submit </button>
											</div>
									</div>
								</form>
							</div>
							<div ng-show="isSet(2)">
									<h4 class="heading4">List of Attachments</h4>
									<table class="table table-striped custab">
										<thead>
											<tr>
												<th>Sl number</th>
												<th>File name</th>
												<th>Description</th>
												<th>Document type</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="file in globalfiles">
												<td>{{$index+1}}</td>
												<td>{{file.docName}}</td>
												<td>{{file.description}}</td>
												<td>{{file.docType}}</td>
												<td class="text-center">
													<a class="btn btn-info btn-xs" _target="blank" href="http://182.75.177.246:8181/wberc_v2/api/file_download_by_id?docId={{file.docId}}"><i class="fa fa-paperclip" aria-hidden="true"></i></a>
													<button class="btn btn-danger btn-xs" type="button" ng-click="docIdFn(file.docId)"><i class="fa fa-times" aria-hidden="true"></i></button>
												</td>
											</tr>
									 </tbody>
									</table>
									<h4 class="heading4">Upload Section</h4>
									<form class="form-horizontal">
										<div class="form-group">
											<label class="control-label col-sm-2" for="email">Description:</label>
											<div class="col-sm-4">
												<textarea class="form-control" rows="5" id="comment" ng-model="attachment.comment"></textarea>
											</div>
										</div>
										<div class="form-group" >
											<label class="control-label col-sm-2" for="email">Document type:</label>
											<div class="col-sm-4">
											<select name="attachment-group" id="attachmentGroup" class="form-control" ng-model="attachment.attachment_type_desc">
													 <option value="" >--Select option--</option>
													 <option ng-repeat="typeOpt in attachmentType" value="{{typeOpt.attachment_type_id}}">{{typeOpt.attachment_type_desc}}</option>
											 </select>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-2" for="email" >Upload File</label>
											<div class="col-sm-4">
												<input type="file" attach-file-model="attachment.file">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-2" ></label>
											<div class="col-sm-4">
												<button type="button" class="btn btn-default pull-left btn-primary" style="padding: 10px 20px 10px 20px;font-size: 15px;" ng-click="submit_attachment_Form()">Upload </button>
											</div>
										</div>
									</form>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
