<div class="accu_tab2div" id="tab6" style="display: block">
	<div class="tab_form_heading">
		<h2>Form 1.3: Gross Energy available at Generators Terminal for Stabilised Commercial Operation (Stationwise). </h2>
	</div>
	<div class="tab_form_full_tbl">
		<div class="tbl_station">
			<div class="table-responsive">
			  <grid-header data-base="Unit" data-stationdata="stationheaderInfo" data-form-id="5"></grid-header>
			</div>
		</div>
		<table width="100%">
                            <tbody><tr>
                                <td align="right">
                                    <div class="form-group">
                                        <div class="col-sm-8"><div class="panel-heading text-right">Stations Name</div></div>
								  <div class="col-sm-4">
									<select id="stationMaster" name="all_stations" ng-model="optionVal1" class="form-control width_select" ng-change="getSingleStations(optionVal)">
									<option ng-repeat="stat in AllStations" id="{{stat.id}}" ng-value="stat.id">{{stat.name}}</option>
								  </select>
                              </div>
                            </div>

                                </td>
                            </tr>
                            </tbody></table>
		<div class="tbl_rowtwo">
			<div class="hyble_tbl_row">
				<div class="plagintable">
	<table class="jexcel bossanova-ui"  ng-show="selectedTab == 'tab6'">
		 <thead class="jexcel_label">
		   <tr>
			 <td width="100%" style="padding:0;" align="left">
			   <excell-form data-uid="0" data-values="subStationsData" data-tab="tab6" ></excell-form> <!--tab-demo11-->
			 </td>
		   </tr>
		 </thead>
	   </table>
				</div>
			</div>
			<div class="hyble_tbl_row">
				<div class="comndfrm">
					<!-- <span>Comments on Form</span> -->
					<strong>Note :</strong>
					<ol>
						<li> For any Unit, Unit Availabillity Factor shall be considered for stabilised operation only i.e. without taking into acount the in-firm power generation or generation during stabilisation period.  </li>
						<li>Reasons for variations over the years are to be given in a note</li>
					</ol>
				</div>
			</div>
		</div>
		<div class="hyble_tbl_row">
			<div class="col-sm-5">
				<button ng-click="saveStationData(optionVal)"  class="sav_data_btn">Save Data</button>
				<button class="sav_data_btn prnt_frm_btn">Print Form</button>
			</div>
		</div>
	</div>
</div>
