<div class="accu_tab2div" id="tab1-4" style="display: block">
	<div class="tab_form_heading">
		<h2>Form 1.19(C):  Project Specifications</h2>
	</div>
	<div class="tab_form_full_tbl">
		<div class="tbl_station">
			<div class="table-responsive">
			  <grid-header data-base="Unit" data-stationdata="stationheaderInfo" data-form-id="46"></grid-header>
			</div>
		</div>
		<div class="tbl_rowtwo">
			<div class="hyble_tbl_row">
				<div class="plagintable">
					<table class="jexcel bossanova-ui tab46">
					 <thead class="jexcel_label">
						 <tr>
						 <td width="100%" style="padding:0;" align="left">
							 <excell-form data-uid="0" data-values="subStationsData" data-tab="tab46"  ></excell-form>
							 <table class="table19c" border="1">
								 <tr>
									 <td ng-repeat="value in totalExpenditure track by $index">{{value}}</td>
								 </tr>
							 </table>
						 </td>
						 </tr>
					 </thead>
					 </table>
				</div>
			</div>
			<div class="hyble_tbl_row">
				<div class="comndfrm">
					<strong>Note :</strong>
					<ol>
						<li>Plan and Non Plan expenditure are to be shown separately.</li>
						<li>Expenditure should include Interestduring construction but to be indicated separately.</li>
						<li>The reasons for time over run and consequential cost over run are to be specifically mentioned. In the event of actual expenditure is more than the approved expenditure then separate approval is to be obtained from the commission as per these regulations.</li>
						<li>For the Base year and ensuing years(s) whoch has already passed related to a control period, the actual expenditure is to be provided.</li>
						<li>This format shall be submitted with perspective plan in pursuance to Schedule - 2.</li>
					</ol>
				</div>
			</div>
		</div>
		<div class="hyble_tbl_row">
			<div class="col-sm-5">
				<button ng-click="saveStationData('','46')" ng-show="selectedTab == 'tab46'" class="sav_data_btn">Save Data</button>
				<button class="sav_data_btn prnt_frm_btn">Print Form</button>
			</div>
			<hr>
			<ul class="nav nav-pills nav-stacked tabSec">
				<li ng-class="{ active: isSet(1) }">
						<a href ng-click="setTab(1)">Comment</a>
				</li>
				<li ng-class="{ active: isSet(2) }">
						<a href ng-click="setTab(2)">Upload</a>
				</li>
			</ul>
			<div class="row tabContent">
				<div class="col-md-12">
						<div class="jumbotron">
							<div ng-show="isSet(1)">
									<h4 class="heading4">List of Comments</h4>
								 <table class="table table-striped custab">
									 <thead>
										 <tr>
											 <th>Sl number</th>
											 <th>Comments</th>
											 <th>Action</th>
										 </tr>
									 </thead>
									 <tbody>
										 <tr ng-repeat="comment in commentList">
											 <td>{{$index+1}}</td>
											 <td>{{comment.comments}}</td>
											 <td>
												 <button class="btn btn-danger btn-xs" type="button" ng-click="daleteComment(comment.arr_comment_id)"><i class="fa fa-times" aria-hidden="true"></i></button>
											 </td>
										 </tr>
									</tbody>
								 </table>
								 <h4 class="heading4">Post a Comments</h4>
								 <form class="form-horizontal">
										<div class="form-group">
											<label class="control-label col-sm-2" for="email">Add Comment:</label>
											<div class="col-sm-4">
												<textarea class="form-control" rows="5" id="comment" ng-model="comments.comment"></textarea>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-2" ></label>
											<div class="col-sm-4">
												<button type="button" class="btn btn-default pull-left btn-primary" style="padding: 10px 20px 10px 20px;font-size: 15px;" ng-click="submit_comment_Form()">Submit </button>
											</div>
									</div>
								</form>
							</div>
							<div ng-show="isSet(2)">
									<h4 class="heading4">List of Attachments</h4>
									<table class="table table-striped custab">
										<thead>
											<tr>
												<th>Sl number</th>
												<th>File name</th>
												<th>Description</th>
												<th>Document type</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="file in globalfiles">
												<td>{{$index+1}}</td>
												<td>{{file.docName}}</td>
												<td>{{file.description}}</td>
												<td>{{file.docType}}</td>
												<td class="text-center">
													<a class="btn btn-info btn-xs" _target="blank" href="http://182.75.177.246:8181/wberc_v2/api/file_download_by_id?docId={{file.docId}}"><i class="fa fa-paperclip" aria-hidden="true"></i></a>
													<button class="btn btn-danger btn-xs" type="button" ng-click="docIdFn(file.docId)"><i class="fa fa-times" aria-hidden="true"></i></button>
												</td>
											</tr>
									 </tbody>
									</table>
									<h4 class="heading4">Upload Section</h4>
									<form class="form-horizontal">
										<div class="form-group">
											<label class="control-label col-sm-2" for="email">Description:</label>
											<div class="col-sm-4">
												<textarea class="form-control" rows="5" id="comment" ng-model="attachment.comment"></textarea>
											</div>
										</div>
										<div class="form-group" >
											<label class="control-label col-sm-2" for="email">Document type:</label>
											<div class="col-sm-4">
											<select name="attachment-group" id="attachmentGroup" class="form-control" ng-model="attachment.attachment_type_desc">
													 <option value="" >--Select option--</option>
													 <option ng-repeat="typeOpt in attachmentType" value="{{typeOpt.attachment_type_id}}">{{typeOpt.attachment_type_desc}}</option>
											 </select>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-2" for="email" >Upload File</label>
											<div class="col-sm-4">
												<input type="file" attach-file-model="attachment.file">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-2" ></label>
											<div class="col-sm-4">
												<button type="button" class="btn btn-default pull-left btn-primary" style="padding: 10px 20px 10px 20px;font-size: 15px;" ng-click="submit_attachment_Form()">Upload </button>
											</div>
										</div>
									</form>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
