<div class="accu_tab2div" id="tab1-4" style="display: block">
	<div class="tab_form_heading">
		<h2>xcvxForm 1.3: Gross Energy available at Generators Terminal for Stabilised Commercial Operation (Stationwise). </h2>
	</div>
  <div class="panel-success panel" ng-hide="!updateMessage"><div class="panel-heading">{{updateMessage}}</div></div>
	<div class="tab_form_full_tbl">
		<!-- <div class="tbl_station">
			<div class="table-responsive">
				  <grid-header data-base="Unit" data-form-id="1" data-pdid="{{petitionId}}"></grid-header>
			</div>
		</div> -->
		<table width="100%">
			<tbody>
				<tr>
				<td align="right">
					<div class="form-group">
						<div class="col-sm-8"><div class="panel-heading text-right">Stations Name</div></div>
						<div class="col-sm-4">
							<!-- {{AllStations}} -->
							<select id="stationMaster" name="all_stations" ng-model="AllStations[0].id" class="form-control width_select" ng-change="getSingleStations('5',AllStations[0].id)" ng-options="obj.id as obj.name for obj in AllStations">
							</select>
						</div>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
		<div class="tbl_rowtwo">
			<div class="hyble_tbl_row">
				<div class="plagintable">
					<table class="jexcel bossanova-ui" ng-show="selectedTab == 'tab5'">
						 <thead class="jexcel_label" ng-repeat="station in  subStations track by $index" >
						   <tr>
							 <td width="100%" align="left">{{station.season}}</td>
						   </tr>
						   <tr>
							 <td width="100%" style="padding:0;" align="left">
							   <excell-form data-uid="$index" data-values="subStationsData" data-tab="tab5" callback-fn="ctrlFn()" ></excell-form>


							 </td>
						   </tr>
						 </thead>
					   </table>
						 <table class="table19c" border="1">
							 <tr>
								 <td ng-repeat="value in totalExpenditure track by $index">{{value}}</td>
							 </tr>
						 </table>
				</div>
			</div>
			<div class="hyble_tbl_row">
				<div class="plagintable">
					<!-- {{totalStationsData}} -->
					<table class="jexcel bossanova-ui" ng-show="selectedTab == 'tab5-1'">
						 <thead class="jexcel_label">
						   <tr>
							 <td width="100%" style="padding:0;" align="left">
							   <excell-form data-uid="$index" data-values="totalStationsData" data-tab="tab5-1" callback-fn="ctrlFn()"></excell-form>
							 </td>
						   </tr>
						 </thead>
					   </table>

			 			<table width="100%" class="table19c" border="1" ng-show="grandTotalArr!=null">
			 				<tr>
			 					<td>Total value</td>
			 					<td ng-repeat="data in grandTotalArr track by $index">{{data}}</td>
			 			</tr>
			 		</table>
				</div>
			</div>
			<div class="hyble_tbl_row">
				<div class="comndfrm">
					<strong>Note :</strong>
					<ol>
						<li> For any Unit, Unit Availabillity Factor shall be considered for stabilised operation only i.e. without taking into acount the in-firm power generation or generation during stabilisation period.  </li>
						<li>Reasons for variations over the years are to be given in a note</li>
					</ol>
				</div>
			</div>
		</div>
		<div class="hyble_tbl_row">
			<div class="col-sm-5">
				<button ng-click="grandTotal()" class="sav_data_btn">Grand total</button>
				<button ng-click="saveStationData(optionVal,'5')" class="sav_data_btn" ng-show="selectedTab == 'tab5'" >Save Data</button>
				<button class="sav_data_btn prnt_frm_btn">Print Form</button>
        <hr>

        <ul class="nav nav-pills nav-stacked tabSec">
          <li ng-class="{ active: isSet(1) }">
              <a href ng-click="setTab(1)">Comment</a>
          </li>
          <li ng-class="{ active: isSet(2) }">
              <a href ng-click="setTab(2)">Upload</a>
          </li>
        </ul>
        <div class="row tabContent">
          <div class="col-md-12">
              <div class="jumbotron">
                <div ng-show="isSet(1)">
                    <h4 class="heading4">List of Comments</h4>
										<div ng-hide="!showHideComment"><p>No comments available</p></div>
 									<table class="table table-striped custab" ng-hide="showHideComment">
 										<thead>
 											<tr>
 												<th>Sl number</th>
 												<th>Comments</th>
 												<th>Action</th>
 											</tr>
 										</thead>
 										<tbody>
 											<tr ng-repeat="comment in commentList track by $index">
 												<td>{{$index+1}}</td>
 												<td>{{comment.comments}}</td>
 												<td>
 													<button class="btn btn-danger btn-xs" type="button" ng-click="daleteComment(comment.arr_comment_id)"><i class="fa fa-times" aria-hidden="true"></i></button>
 												</td>
 											</tr>
 									 </tbody>
 									</table>
                   <h4 class="heading4">Post a Comments</h4>
                   <form class="form-horizontal">
                      <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Add Comment:</label>
                        <div class="col-sm-4">
                          <textarea class="form-control" rows="5" id="comment" ng-model="comments.comment"></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2" ></label>
                        <div class="col-sm-4">
                          <button type="button" class="btn btn-default pull-left btn-primary" style="padding: 10px 20px 10px 20px;font-size: 15px;" ng-click="submit_comment_Form()">Submit </button>
                        </div>
                    </div>
                  </form>
                </div>
                <div ng-show="isSet(2)">
                    <h4 class="heading4">List of Attachments</h4>
                    <table class="table table-striped custab">
                      <thead>
                        <tr>
                          <th>Sl number</th>
                          <th>File name</th>
                          <th>Description</th>
                          <th>Document type</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="file in globalfiles">
                          <td>{{$index+1}}</td>
                          <td>{{file.docName}}</td>
                          <td>{{file.description}}</td>
                          <td>{{file.docType}}</td>
                          <td class="text-center">
                            <a class="btn btn-info btn-xs" _target="blank" href="http://182.75.177.246:8181/wberc_v2/api/file_download_by_id?docId={{file.docId}}"><i class="fa fa-paperclip" aria-hidden="true"></i></a>
                            <button class="btn btn-danger btn-xs" type="button" ng-click="docIdFn(file.docId)"><i class="fa fa-times" aria-hidden="true"></i></button>
                          </td>
                        </tr>
                     </tbody>
                    </table>
                    <h4 class="heading4">Upload Section</h4>
                    <form class="form-horizontal">
                      <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Description:</label>
                        <div class="col-sm-4">
                          <textarea class="form-control" rows="5" id="comment" ng-model="attachment.comment"></textarea>
                        </div>
                      </div>
                      <div class="form-group" >
                        <label class="control-label col-sm-2" for="email">Document type:</label>
                        <div class="col-sm-4">
                        <select name="attachment-group" id="attachmentGroup" class="form-control" ng-model="attachment.attachment_type_desc">
                             <option value="" >--Select option--</option>
                             <option ng-repeat="typeOpt in attachmentType" value="{{typeOpt.attachment_type_id}}">{{typeOpt.attachment_type_desc}}</option>
                         </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2" for="email" >Upload File</label>
                        <div class="col-sm-4">
                          <input type="file" attach-file-model="attachment.file">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2" ></label>
                        <div class="col-sm-4">
                          <button type="button" class="btn btn-default pull-left btn-primary" style="padding: 10px 20px 10px 20px;font-size: 15px;" ng-click="submit_attachment_Form()">Upload </button>
                        </div>
                      </div>
                    </form>
              </div>
            </div>
          </div>
        </div>
			</div>
		</div>
	</div>
</div>
