<div class="accu_tab2div" id="tab1-7" style="display: block">
	<div class="tab_form_heading">
		<h2>Form 1.4(b): Pumping Energy for Pumped Storage Project. </h2>
	</div>
	<div class="tab_form_full_tbl">
		<div class="tbl_station">
			<div class="table-responsive">
			  <grid-header data-base="Unit" data-stationdata="stationheaderInfo" data-form-id="7"></grid-header>
			</div>
		</div>
		<table width="100%">
      <tbody>
				<tr>
          <td align="right">
              <div class="form-group">
                  <div class="col-sm-8">
										<div class="panel-heading text-right">Pump Stations Name</div>
									</div>
									<div class="col-sm-4">
										<select id="stationMaster" name="all_plumbing_stations" ng-model="AllPumpStationCombo[0].pump_stn_id" class="form-control width_select" ng-change="getSingleStations('8',AllPumpStationCombo[0].pump_stn_id)"  ng-options="obj.pump_stn_id as obj.pump_stn_desc for obj in AllPumpStationCombo">
	<!--
										<option ng-repeat="stat in AllPumpStations" id="{{stat.id}}" ng-value="stat.id">{{stat.name}}</option>
	-->
									  </select>
        				</div>
      			</div>
          </td>
      </tr>
      </tbody>
		</table>
		<div class="tbl_rowtwo">
			ghghghg
			<div class="hyble_tbl_row">
				<div class="plagintable">
				  <table class="jexcel bossanova-ui" ng-show="selectedTab == 'tab7'">
					 <thead class="jexcel_label" ng-repeat="station in  subStations track by $index" >
						 <tr>
						 <td width="100%" align="left"><p>{{station.season}}</p></td>
					   </tr>
					   <tr>
						 <td width="100%" style="padding:0;" align="left">
						   <excell-form data-uid="$index" data-values="subStationsData" data-tab="tab7" ></excell-form> <!--tab-demo11-->
						 </td>
					   </tr>
					 </thead>
				   </table>
	   <!---For Gross -->
				</div>
			</div>
			<div class="hyble_tbl_row">
				<div class="comndfrm">
					<!-- <span>Comments on Form</span> -->
					<strong>Note :</strong>
					<ol>
						<li> For any Unit, Unit Availabillity Factor shall be considered for stabilised operation only i.e. without taking into acount the in-firm power generation or generation during stabilisation period.  </li>
						<li>Reasons for variations over the years are to be given in a note</li>
					</ol>
				</div>
			</div>
		</div>
		<div class="hyble_tbl_row">
			<div class="col-sm-5">
				<button ng-click="saveStationData(optionValPlump,'7')" ng-show="selectedTab == 'tab7'" class="sav_data_btn">Save Data</button>
				<button class="sav_data_btn prnt_frm_btn">Print Form</button>
			</div>
			<hr>
			<ul class="nav nav-pills nav-stacked tabSec">
				<li ng-class="{ active: isSet(1) }">
						<a href ng-click="setTab(1)">Comment</a>
				</li>
				<li ng-class="{ active: isSet(2) }">
						<a href ng-click="setTab(2)">Upload</a>
				</li>
			</ul>
			<div class="row tabContent">
				<div class="col-md-12">
						<div class="jumbotron">
							<div ng-show="isSet(1)">
									<h4 class="heading4">List of Comments</h4>
								 <table class="table table-striped custab">
									 <thead>
										 <tr>
											 <th>Sl number</th>
											 <th>Comments</th>
											 <th>Action</th>
										 </tr>
									 </thead>
									 <tbody>
										 <tr ng-repeat="comment in commentList">
											 <td>{{$index+1}}</td>
											 <td>{{comment.comments}}</td>
											 <td>
												 <button class="btn btn-danger btn-xs" type="button" ng-click="daleteComment(comment.arr_comment_id)"><i class="fa fa-times" aria-hidden="true"></i></button>
											 </td>
										 </tr>
									</tbody>
								 </table>
								 <h4 class="heading4">Post a Comments</h4>
								 <form class="form-horizontal">
										<div class="form-group">
											<label class="control-label col-sm-2" for="email">Add Comment:</label>
											<div class="col-sm-4">
												<textarea class="form-control" rows="5" id="comment" ng-model="comments.comment"></textarea>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-2" ></label>
											<div class="col-sm-4">
												<button type="button" class="btn btn-default pull-left btn-primary" style="padding: 10px 20px 10px 20px;font-size: 15px;" ng-click="submit_comment_Form()">Submit </button>
											</div>
									</div>
								</form>
							</div>
							<div ng-show="isSet(2)">
									<h4 class="heading4">List of Attachments</h4>
									<table class="table table-striped custab">
										<thead>
											<tr>
												<th>Sl number</th>
												<th>File name</th>
												<th>Description</th>
												<th>Document type</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="file in globalfiles">
												<td>{{$index+1}}</td>
												<td>{{file.docName}}</td>
												<td>{{file.description}}</td>
												<td>{{file.docType}}</td>
												<td class="text-center">
													<a class="btn btn-info btn-xs" _target="blank" href="http://182.75.177.246:8181/wberc_v2/api/file_download_by_id?docId={{file.docId}}"><i class="fa fa-paperclip" aria-hidden="true"></i></a>
													<button class="btn btn-danger btn-xs" type="button" ng-click="docIdFn(file.docId)"><i class="fa fa-times" aria-hidden="true"></i></button>
												</td>
											</tr>
									 </tbody>
									</table>
									<h4 class="heading4">Upload Section</h4>
									<form class="form-horizontal">
										<div class="form-group">
											<label class="control-label col-sm-2" for="email">Description:</label>
											<div class="col-sm-4">
												<textarea class="form-control" rows="5" id="comment" ng-model="attachment.comment"></textarea>
											</div>
										</div>
										<div class="form-group" >
											<label class="control-label col-sm-2" for="email">Document type:</label>
											<div class="col-sm-4">
											<select name="attachment-group" id="attachmentGroup" class="form-control" ng-model="attachment.attachment_type_desc">
													 <option value="" >--Select option--</option>
													 <option ng-repeat="typeOpt in attachmentType" value="{{typeOpt.attachment_type_id}}">{{typeOpt.attachment_type_desc}}</option>
											 </select>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-2" for="email" >Upload File</label>
											<div class="col-sm-4">
												<input type="file" attach-file-model="attachment.file">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-2" ></label>
											<div class="col-sm-4">
												<button type="button" class="btn btn-default pull-left btn-primary" style="padding: 10px 20px 10px 20px;font-size: 15px;" ng-click="submit_attachment_Form()">Upload </button>
											</div>
										</div>
									</form>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
