<main-header></main-header>
<main-details></main-details>
<div id="canvasOverlay"  ng-hide="loadSuccessfull">
  <div class="preloader"></div>
</div>
<div ng-show="loadSuccessfull">
 <section class="dashboard_page">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="dashboard_box">
          <div class="parion_tab_cont">
            <div class="parion_tab_div tab-content" id="Annexure1" style="display:block">
              <div class="parion_tab_box_lft cbp-spmenu-right1">
                <main-sidebar></main-sidebar>
              </div>
              <div class="parion_tab_box_rt">
                <div class="accu_tab2_cont">
                  <div class="accu_tab2_continn">
                    <div class="accu_tab2div" id="tab1-1" style="display: block">
                        <div class="tab_form_full_tbl">

													<div class="accu_tab2div" id="tab1-7" style="display: block">
														<div class="tab_form_heading">
															<h2>Form 1.4(b): Pumping Energy for Pumped Storage Project</h2>
														</div>
                            <div class="panel-success panel" ng-hide="!updateMessage"><div class="panel-heading">{{updateMessage}}</div></div>
                            <div class="panel-danger panel" ng-hide="!errorMessage"><div class="panel-heading">{{errorMessage}}</div></div>
														<div class="tab_form_full_tbl" ng-hide ="pumpingStnError">
															<table width="100%">
																<tbody>
																	<tr>
																	<td align="right">
																		<div class="form-group row topSelectboxSec">
																			<div class="col-xs-12 col-sm-8 col-md-5 pull-right">
																				<label>Pump Station Name</label>
																					<select id="stationMaster" name="all_plumbing_stations" ng-model="AllPumpStationCombo[0].pump_stn_id" class="form-control width_select" ng-change="getSingleStations('7',AllPumpStationCombo[0].pump_stn_id)"  ng-options="obj.pump_stn_id as obj.pump_stn_desc for obj in AllPumpStationCombo">
																					</select>
																			</div>
																		</div>
																	</td>
																</tr>
																</tbody>
															</table>
															<div class="tbl_rowtwo">
																<div class="hyble_tbl_row">
																	<div class="plagintable">
																	  <table class="jexcel bossanova-ui" ng-show="selectedTab == 'tab7'">
																		 <thead class="jexcel_label" ng-repeat="station in  subStations track by $index" >
																			 <tr>
																			 <td  class="subHd" width="100%" align="left"><p>{{station.season}}</p></td>
																		   </tr>
																		   <tr>
																			 <td width="100%" style="padding:0;" align="left">
																			   <excell-form data-uid="$index" data-values="subStationsData" data-tab="tab7" callback-fn="ctrlFn()"></excell-form> <!--tab-demo11-->
																			 </td>
																		   </tr>
																		 </thead>
																	   </table>

																		<table width="100%" class="table19c" border="1" ng-show="grandTotalArr!=null">
																			<tr style="background-color: white;">
                                        <td style="width: 1.5%;text-align: center;">#</td>
																				<td cellpadding='6' cellspacing='6' style=" width: 10.3%;text-align: left;">Total value</td>
																				<td cellpadding='6' cellspacing='6' ng-repeat="data in grandTotalArr track by $index">{{data}}</td>
																		</tr>
																	</table>
																	</div>
																</div>
																<div class="hyble_tbl_row">
																	<div class="comndfrm">
																		<strong>Note :</strong>
																		<ol>
																			<li> For any Unit, Unit Availabillity Factor shall be considered for stabilised operation only i.e. without taking into acount the in-firm power generation or generation during stabilisation period.  </li>
																			<li>Reasons for variations over the years are to be given in a note</li>
																		</ol>
																	</div>
																</div>
															</div>
															<div class="hyble_tbl_row">
																<div class="col-sm-5">
																	<button ng-click="grandTotal()" class="sav_data_btn">Grand total</button>
																	<button ng-click="saveStationData(optionValPlump,'7')" ng-show="selectedTab == 'tab7'" class="sav_data_btn">Save Data</button>
																	<!-- <button class="sav_data_btn prnt_frm_btn">Print Form</button> -->
																</div>
																<hr>
															</div>
														</div>
													  <div class="tab_form_full_tbl" ng-show ="pumpingStnError">
															<div class="panel panel-danger">
															 <div class="panel-heading">{{pumpingStnError}}</div>
														 </div>
														</div>
													</div>
                        <comment-tab></comment-tab>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 tab-content" id="attachment_list" style="display:none">
              <attachment-list></attachment-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
