<!DOCTYPE html>
<title>MIS</title>
  <head>
		<link href="app/tpl/assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="app/tpl/assets/css/doc.css" rel="stylesheet">
		<link href="app/tpl/assets/css/font-awesome.css" rel="stylesheet">
		<link href="app/tpl/assets/css/jPushMenu.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
		<link href="app/tpl/assets/css/main.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  </head>

  <body ng-app="mean" ng-cloak>
    <ui-view></ui-view>
    <script src="libs/angular.js"></script>
    <script src="libs/angular-ui-router.js"></script>
    <script src="libs/angular-filter.js"></script>
    <script src="libs/ocLazyLoad.min.js"></script>
    <script src="libs/fl.lazy.js"></script>
    <script src="libs/angular-cookies.min.js"></script>
    <script src="libs/ui-bootstrap.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/app.route.js"></script>
    <script src='app/header/header.controller.js'></script>
    <script src='app/header/header.directive.js'></script>
    <script src='app/component/component.directive.js'></script>
    <script src='app/sidebar/sidebar.controller.js'></script>
    <script src='app/sidebar/sidebar.directive.js'></script>
    <script src='app/details/details.controller.js'></script>
    <script src='app/details/details.directive.js'></script>
    <script src='app/comment-tab/comment-tab.controller.js'></script>
    <script src='app/comment-tab/comment-tab.directive.js'></script>
    <script src='app/attachment-list/attachmentlist.controller.js'></script>
    <script src='app/attachment-list/attachmentlist.directive.js'></script>
    <script src='app/forgotPassword/forgotPassword.controller.js'></script>

    <!-- <script src='app/component/tab1/tab1.controller.js'></script>
    <script src='app/component/tab2/tab2.controller.js'></script>
    <script src='app/component/tab3/tab3.controller.js'></script>
    <script src='app/component/tab4/tab4.controller.js'></script>
    <script src='app/component/tab5/tab5.controller.js'></script>
    <script src='app/component/tab6/tab6.controller.js'></script>
    <script src='app/component/tab7/tab7.controller.js'></script>
    <script src='app/component/tab8/tab8.controller.js'></script>
    <script src='app/component/tab9/tab9.controller.js'></script>
    <script src='app/component/tab10/tab10.controller.js'></script>
    <script src='app/component/tab11/tab11.controller.js'></script>
    <script src='app/component/tab12/tab12.controller.js'></script>
    <script src='app/component/tab13/tab13.controller.js'></script>
    <script src='app/component/tab14/tab14.controller.js'></script>
    <script src='app/component/tab15/tab15.controller.js'></script>
    <script src='app/component/tab17/tab17.controller.js'></script>
    <script src='app/component/tab18/tab18.controller.js'></script>
    <script src='app/component/tab19/tab19.controller.js'></script>
    <script src='app/component/tab20/tab20.controller.js'></script>
    <script src='app/component/tab21/tab21.controller.js'></script>
    <script src='app/component/tab23/tab23.controller.js'></script>
    <script src='app/component/tab22/tab22.controller.js'></script>
    <script src='app/component/tab24/tab24.controller.js'></script>
    <script src='app/component/tab25/tab25.controller.js'></script>
    <script src='app/component/tab26/tab26.controller.js'></script>
    <script src='app/component/tab27/tab27.controller.js'></script>
    <script src='app/component/tab28/tab28.controller.js'></script>
    <script src='app/component/tab29/tab29.controller.js'></script>
    <script src='app/component/tab30/tab30.controller.js'></script>
    <script src='app/component/tab31/tab31.controller.js'></script>
    <script src='app/component/tab32/tab32.controller.js'></script>
    <script src='app/component/tab33/tab33.controller.js'></script>
    <script src='app/component/tab34/tab34.controller.js'></script>
    <script src='app/component/tab35/tab35.controller.js'></script>
    <script src='app/component/tab36/tab36.controller.js'></script>
    <script src='app/component/tab37/tab37.controller.js'></script>
    <script src='app/component/tab38/tab38.controller.js'></script>
    <script src='app/component/tab39/tab39.controller.js'></script>
    <script src='app/component/tab40/tab40.controller.js'></script>
    <script src='app/component/tab41/tab41.controller.js'></script>
    <script src='app/component/tab42/tab42.controller.js'></script>
    <script src='app/component/tab43/tab43.controller.js'></script>
    <script src='app/component/tab44/tab44.controller.js'></script>
    <script src='app/component/tab45/tab45.controller.js'></script>
    <script src='app/component/tab46/tab46.controller.js'></script>
    <script src='app/component/tab47/tab47.controller.js'></script>
    <script src='app/component/tab48/tab48.controller.js'></script>
    <script src='app/component/tab49/tab49.controller.js'></script>
    <script src='app/component/tab50/tab50.controller.js'></script>
    <script src='app/component/tab51/tab51.controller.js'></script>
    <script src='app/component/tab52/tab52.controller.js'></script>
    <script src='app/component/tab53/tab53.controller.js'></script>
    <script src='app/component/tab54/tab54.controller.js'></script>
    <script src='app/component/tab55/tab55.controller.js'></script>
    <script src='app/component/tab56/tab56.controller.js'></script>
    <script src='app/component/tab57/tab57.controller.js'></script>
    <script src='app/component/tab58/tab58.controller.js'></script>
    <script src='app/component/tab59/tab59.controller.js'></script>
    <script src='app/component/tab61/tab61.controller.js'></script>
    <script src='app/component/tab62/tab62.controller.js'></script>
    <script src='app/component/tab63/tab63.controller.js'></script>
    <script src='app/component/tab72/tab72.controller.js'></script>
    <script src='app/component/tab73/tab73.controller.js'></script>
    <script src='app/component/tab74/tab74.controller.js'></script>
    <script src='app/component/tab75/tab75.controller.js'></script>
    <script src='app/component/tab76/tab76.controller.js'></script>
    <script src='app/component/tab78/tab78.controller.js'></script>
    <script src='app/component/tab81/tab81.controller.js'></script>
    <script src='app/component/tab83/tab83.controller.js'></script>
    <script src='app/component/tab84/tab84.controller.js'></script>
    <script src='app/component/tab85/tab85.controller.js'></script>
    <script src='app/component/tab86/tab86.controller.js'></script>
    <script src='app/component/tab87/tab87.controller.js'></script>
    <script src='app/component/tab88/tab88.controller.js'></script>
    <script src='app/component/tab91/tab91.controller.js'></script>
    <script src='app/component/tab92/tab92.controller.js'></script>
    <script src='app/component/tab94/tab94.controller.js'></script>
    <script src='app/component/tab96/tab96.controller.js'></script>
    <script src='app/component/tab97/tab97.controller.js'></script>
    <script src='app/component/tab98/tab98.controller.js'></script>
    <script src='app/component/tab99/tab99.controller.js'></script>
    <script src='app/component/tab100/tab100.controller.js'></script>
    <script src='app/component/tab101/tab101.controller.js'></script>
    <script src='app/component/tab103/tab103.controller.js'></script>
    <script src='app/component/tab104/tab104.controller.js'></script>
    <script src='app/component/tab105/tab105.controller.js'></script>
    <script src='app/component/tab106/tab106.controller.js'></script>
    <script src='app/component/tab107/tab107.controller.js'></script>
    <script src='app/component/tab108/tab108.controller.js'></script>
    <script src='app/component/tab109/tab109.controller.js'></script>
    <script src='app/component/tab110/tab110.controller.js'></script>
    <script src='app/component/tab111/tab111.controller.js'></script>
    <script src='app/component/tab112/tab112.controller.js'></script>
    <script src='app/component/tab113/tab113.controller.js'></script>
    <script src='app/component/tab115/tab115.controller.js'></script>
    <script src='app/component/tab117/tab117.controller.js'></script>
    <script src='app/component/tab118/tab118.controller.js'></script>
    <script src='app/component/tab119/tab119.controller.js'></script>
    <script src='app/component/tab120/tab120.controller.js'></script>
    <script src='app/component/tab121/tab121.controller.js'></script>
    <script src='app/component/tab123/tab123.controller.js'></script>
    <script src='app/component/tab124/tab124.controller.js'></script> -->
    <!-- <script src='app/component/tab129/tab129.controller.js'></script>
    <script src='app/component/tab130/tab130.controller.js'></script> -->
    <!-- <script src='app/component/tab30/tab30.controller.js'></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="app/tpl/assets/js/jPushMenu.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>


    <script src="app/tpl/assets/js/jquery.jexcel.js"></script>

    <script src="app/tpl/assets/js/jquery.csv.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script src="app/tpl/assets/js/excel-formula.min.js"></script>
    <!--<script src="https://bossanova.uk/components/jexcel/dist/js/jquery.jexcel.js"></script>-->
     <!-- <script src="app/tpl/assets/js/excel-formula.min.js"></script> -->
    <link rel="stylesheet" href="app/tpl/assets/css/jquery.jexcel.css" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jexcel/1.3.4/js/jquery.jcalendar.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jexcel/1.3.4/css/jquery.jcalendar.min.css" type="text/css" />
<!--
    <script src="app/tpl/assets/js/excel-formula.min.js"></script>
-->
</body>
</html>
<script src="app/tpl/assets/js/bootstrap.min.js"></script>
<script src="app/tpl/assets/js/jPushMenu.js"></script>
