<main-header></main-header>
<main-details></main-details>
<div id="canvasOverlay"  ng-hide="loadSuccessfull">
  <div class="preloader"></div>
</div>
<div ng-show="loadSuccessfull">
 <section class="dashboard_page">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="dashboard_box">
          <div class="parion_tab_cont">
            <div class="parion_tab_div tab-content" id="Annexure1" style="display:block">
              <div class="parion_tab_box_lft cbp-spmenu-right1">
                <main-sidebar></main-sidebar>
              </div>
              <div class="parion_tab_box_rt">
                <div class="accu_tab2_cont">
                  <div class="accu_tab2_continn">
										<div class="tab_form_heading">
											<h2>Form1.9(b):  Energy sold to person other than licensee or any consumers</h2>
										</div>
                    <div class="panel-success panel" ng-hide="!updateMessage"><div class="panel-heading">{{updateMessage}}</div></div>
                    <div class="panel-danger panel" ng-hide="!errorMessage"><div class="panel-heading">{{errorMessage}}</div></div>
                    <div class="tab_form_full_tbl">
                      <ul class="nav nav-pills nav-stacked tabSec">
                        <li ng-class="{ active: isformSet(1) }">
                            <a href ng-click="formsetTab(1)">Submit</a>
                        </li>
                        <li ng-class="{ active: isformSet(2) }">
                            <a href ng-click="formsetTab(2)">View</a>
                        </li>
                      </ul>
                      <div>
                        <div ng-show="isformSet(1)">
        									 	 <div class="dropDownList">
        									 			 <div class="dropdownBlock">
        													 <label>Consumer Name: </label>
                                   <input type="text" name="searchName" ng-model="searchName" ng-change="searchTable(searchName)" class="form-control width_select">
                                   <button type="button" class="btn btn-default" ng-click="searchTable(searchName)">Search</button>
        									 			 </div>
        									 	 </div>
        											<div class="tbl_rowtwo">
        												<div class="hyble_tbl_row">
        													<div class="plagintable">
                                    <div class="panel panel-warning" ng-show="statusZero">
                                      <div class="panel-heading">{{alertMessage}}</div>
                                    </div>
                                    <div class="panel panel-danger" ng-show="consumerNameReq">
                                      <div class="panel-heading">Please enter consumer name</div>
                                    </div>
        														<table class="jexcel bossanova-ui">
        															 <thead class="subHd" ng-repeat="station in  subStations track by $index" >
        															   <tr>
        																 <td width="100%" align="left">{{station.season}}</td>
        															   </tr>
        															   <tr>
        																 <td width="100%" style="padding:0;" align="left">
        																   <excell-form data-uid="$index" data-values="subStationsData" data-tab="tab16" callback-fn="ctrlFn()" ></excell-form>
        																 </td>
        															   </tr>
        															 </thead>
        														   </table>

        													</div>
        												</div>
        												<div class="hyble_tbl_row">
        													<div class="plagintable">
        														<table class="jexcel bossanova-ui" ng-show="selectedTab == 'tab16-1'">
        															 <thead class="jexcel_label">
        															   <tr>
        																 <td width="100%" style="padding:0;" align="left">
        																   <excell-form data-uid="$index" data-values="totalStationsData" data-tab="tab16-1" callback-fn="ctrlFn()"></excell-form>
        																 </td>
        															   </tr>
        															 </thead>
        														   </table>
        											 			<div class="plagintable grandTotal">
        											 					<table width="100%" border="1" ng-show="grandTotalArr!=null">
        											 						<tr>
        											 							<td align="center" width="4%">#</td>
        											 							<td width="28%">Total value</td>
        											 							<td align="right" width="8.5%" ng-repeat="data in grandTotalArr track by $index">{{data}}</td>
        											 					</tr>
        											 				</table>
        											 			</div>
        													</div>
        												</div>
        												<div class="hyble_tbl_row">
        													<div class="comndfrm">
        														<strong>Note :</strong>
        														<ol>
        															<li> For any Unit, Unit Availabillity Factor shall be considered for stabilised operation only i.e. without taking into acount the in-firm power generation or generation during stabilisation period.  </li>
        															<li>Reasons for variations over the years are to be given in a note</li>
        														</ol>
        													</div>
        												</div>
        											</div>
        											<div class="hyble_tbl_row">
        												  <div class="col-sm-5">
          													<button ng-click="grandTotal()" class="sav_data_btn">Grand total</button>
          													<button ng-click="saveStationData('16'); grandTotal()" class="sav_data_btn" ng-show="selectedTab == 'tab16'" >Save Data</button>
        											   </div>
        											</div>
      											<comment-tab></comment-tab>
                        </div>
                        <div ng-show="isformSet(2) ">
                           <div class="dropDownList">
                             <div class="dropdownBlock">
                              <label>Consumer Name</label>
                              <select id="stationMaster" name="all_stations" ng-model="item" class="form-control width_select" ng-change="getSingleStations(item)" ng-options="item for item in viewTable">
                              </select>
                            </div>
                          </div>
                            <div class="hyble_tbl_row">
                              <div class="plagintable" ng-show="selectedTab == 'tab16'">
                                <table class="jexcel bossanova-ui" ng-repeat="station in  subStations track by $index"  >
                                   <thead class="jexcel_label subHd">
                                     <tr>
                                     <td  width="100%" align="left">{{station.season}}</td>
                                     </tr>
                                   </thead>
                                   <tbody>
                                     <tr>
                                     <td width="100%" style="padding:0;" align="left">
                                       <excell-form data-uid="$index" data-values="subStationsData" data-tab="tab16-2" callback-fn="ctrlFn()" ></excell-form>
                                     </td>
                                     </tr>
                                   </tbody>
                                   </table>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 tab-content" id="attachment_list" style="display:none">
              <attachment-list></attachment-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
