<div id="canvasOverlay"  ng-hide="loadSuccessfull">
  <div class="preloader"></div>
</div>
<div ng-show="loadSuccessfull">
<main-header></main-header>
<section class="dashboard_page">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="dashboard_box">
					<div class="page_tittl">
						<h2>Initiate New Petition</h2>
					</div>
					<div class="notification_banner">
						<p>
							<i class="fa fa-info-circle font-size-30" aria-hidden="true"></i>
							&nbsp;&nbsp;You are about to initiate a new ARR/MYT petition. Please provide the information below to proceed.
						</p>
					</div>
					<div class="col-sm-12">
								<div class="row col-md-8 col-md-offset-2 custyle">
  <div class="jumbotron">

													<form class="form-horizontal" ng-submit="proceed()">
															<div class="form-group" ng-class="{true: 'error'}[submitted]">
																	<label class="control-label col-sm-4">Base Year</label>
																		<div class="col-sm-4">
																			<select class="form-control" ng-model="baseYearModel" ng-options="year[1] for year in comboYear" ng-change="showDetails()" id="baseYear" required>
																				<option value="">-- Select --</option>
																			</select>
																			<span ng-show="myForm.myName.$touched && myForm.myName.$invalid">The name is required.</span>
																		</div>
																	</div>
																	<div class="form-group">
																				<label class="control-label col-sm-4">Span of Previous Years</label>
																				<div class="col-sm-4">
																					<input type="number" ng-model="prevYearModel" name="" value="" class="form-control" required>
																					<span ng-show="myForm.myName.$touched && myForm.myName.$invalid">The name is required.</span>
																				</div>
																				<!-- <span class="help-inline" ng-show="submitted">Required</span> -->
																	</div>
																	<div class="form-group">
																			<label class="control-label col-sm-4">Length of Control Period</label>
																				<div class="col-sm-4">
																					<input type="number" ng-model="LengthYearModel" name="" value="" class="form-control" required>
																					<span ng-show="myForm.myName.$touched && myForm.myName.$invalid">The name is required.</span>
																				</div>
																				<!-- <span class="help-inline" ng-show="submitted">Required</span> -->
																	</div>
																	<div class="form-group">
																		<div class=" text-center">
																			<input type="submit" value="Proceed"  data-toggle="modal" data-target="#confirmtion" class="sav_data_btn">
																			<button type="button" class="sav_data_btn" ng-click="cancelFn()">Reset</button>
																		</div>
																	</div>
																	<div id="confirmtion" class="modal fade" role="dialog">
																		<div class="modal-dialog">
																			<div class="modal-content">
																				<div class="modal-header">
																					<button type="button" class="close" data-dismiss="modal">&times;</button>
																					<h4 class="modal-title">Confirmation</h4>
																				</div>
																				<div class="modal-body">
																					<p>
																						<i class="fa fa-info-circle font-size-30" aria-hidden="true"></i>
																						{{petitionMsg}}
																					</p><br><hr><br>
																					<p> Are you sure you wish to proceed?</p>
																				</div>
																				<div class="modal-footer">
																					<div class=" text-center">
																						<button  ng-click="confirmPetition()" type="button" value="Proceed" data-toggle="modal" class="sav_data_btn" data-dismiss="modal">Yes</button>
  																					<button type="button" class="sav_data_btn" data-dismiss="modal">No</button>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
													</form>
                        </div>
								</div>
							</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div ng-include="'app/tpl/footer.html'"></div>
</div>
<script>
$(document).ready(function(){

    $("#up-arrow").click(function(){

    $("#parion_row, #parion_tab_menu, #heading, #top_bradcamp").toggle();

    if(document.getElementById("upArrow").style.display == "block")
    {
    document.getElementById("upArrow").style.display = "none";
    document.getElementById("downArrow").style.display = "block";
    }
    else
    {
    document.getElementById("downArrow").style.display = "none";
    document.getElementById("upArrow").style.display = "block";
    }
    });

$(".parion_tab_box_lft li a").click(function(event) {
        event.preventDefault();
        $(this).parent().addClass("current");
        $(this).parent().siblings().removeClass("current");
        var tab = $(this).attr("href");
        $(".accu_tab2div").not(tab).css("display", "none");
        $(tab).fadeIn(100);

		var select_menu = $(".tabl_list_cont").find(".current a span").text();
		$(".tabl_menu1_list").find(".menulist1_menu li a").each(function(){
			$(this).parent().removeClass("current");
			var collapse_menu = $(this).text();
			if(select_menu.trim() == collapse_menu.trim()){
				$(this).parent().addClass("current");
			}
		});
    });
	$(".tabl_menu1_list").find(".menulist1_menu li a").click(function(){
		 $(this).parent().addClass("current");
		 $(this).parent().siblings().removeClass("current");
		 var select_menu = $(this).text();
		 $(".tabl_list_cont").find(".panel-body ul li").each(function(){
			$(this).removeClass("current");
			if(select_menu.trim() == $(this).find("a span").text().trim()){
				$(this).addClass("current");
			}
		 });
	});
});
	</script>
