<div id="confirmtion" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Confirmation</h4>
			</div>
			<div class="modal-body">
				<p>
					<i class="fa fa-info-circle font-size-30" aria-hidden="true"></i>
					{{petitionMsg}}
				</p><br><hr><br>
				<p> Are you sure you wish to proceed?</p>
			</div>
			<div class="modal-footer">
				<div class=" text-center">
					<button  ng-click="confirmPetition()" type="button" value="Proceed" data-toggle="modal" class="sav_data_btn" data-dismiss="modal">Yes</button>
					<button type="button" class="sav_data_btn" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>
</div>
