<main-header></main-header>
<div class="login_body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="login_box">
					<div class="alert alert-danger success_error_message alert-dismissable fade in" ng-show="loginError">
						<a href="#" class="close" ng-click="loginError=!loginError">&times;</a>
						{{error.msg}}
					</div>
					<div class="alert alert-success success_error_message alert-dismissable fade in" ng-show="mailSuccess">
						<a href="#" class="close" ng-click="mailSuccess=!mailSuccess">&times;</a>
						{{successMsg}}
					</div>
					<form ng-submit="doLogin(login)" ng-if="!forgotPwd">
							<div class="log_frm_top">
								<div class="loin_head">
									<h2>Login</h2>
								</div>
								<div class="log_frm">
									<div class="log_input">
										<label>Username</label>
										<input type="text" ng-model="login.loginID" placeholder="User Name" class="form-control"/>
									</div>
									<div class="log_input">
										<label>Password</label>
										<input type="password" ng-model="login.password" placeholder="password" class="form-control"/>
									</div>
									<div class="log_input">
										<input type="submit" ng-disabled="login.$invalid" value="Login"/>
									</div>
								</div>
							</div>
						</form>
					<form ng-submit="submitForgotPwd(forgotUserId)" ng-if="forgotPwd" >
							<div class="log_frm_top">
								<div class="loin_head">
									<h2>Forgot Password</h2>
								</div>
								<div class="alert alert-danger success_error_message alert-dismissable fade in" ng-show="forgotError">
									<!-- <a href="#" class="close" ng-click="forgotError=!forgotError">&times;</a> -->
									{{forgotErrorMsg}}
								</div>
								<div class="alert alert-success success_error_message alert-dismissable fade in" ng-show="forgotSuccess">
									<!-- <a href="#" class="close" ng-click="forgotSuccess=!forgotSuccess">&times;</a> -->
									{{forgotSuccessMsg}}
								</div>
								<div class="log_frm" ng-hide="hideForgotBox">
									<div class="log_input">
										<label>Enter Username</label>
										<input type="text" ng-model="forgotUserId" placeholder="User Name" class="form-control"/>
									</div>
									<div class="log_input">
										<input type="submit" ng-disabled="forgotUserId.$invalid" value="Submit"/>
									</div>
								</div>
							</div>
						</form>
								<div class="log_prblm" ng-if="!forgotPwd">
									<a href="#" class="log_frgt" ng-click="onForgotPassword()">Forgot Password?</a>
									<a href="#url" class="log_frgt pull-right" >&nbsp;</a>
								</div>
								<div class="log_prblm"  ng-if="forgotPwd">
									<a href="#" class="log_frgt" >&nbsp;</a>
									<a href="#url" ng-click="backToLogin()" class="log_frgt pull-right" ng-if="!hideForgotBox">Back to login page</a>
								</div>
								<div class="log_prblm"  ng-if="hideForgotBox">
									<a href="#" class="log_frgt" >&nbsp;</a>
									<a href="#url"  class="log_frgt pull-right" ng-if="hideForgotBox">&nbsp;</a>
								</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<div ng-include="'app/tpl/footer.html'"></div>
