<main-header></main-header>
<main-details></main-details>
<div id="canvasOverlay"  ng-hide="loadSuccessfull">
  <div class="preloader"></div>
</div>
<div ng-show="loadSuccessfull">
 <section class="dashboard_page">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="dashboard_box">
          <div class="parion_tab_cont">
            <div class="parion_tab_div tab-content" id="Annexure1" style="display:block">
              <div class="parion_tab_box_lft cbp-spmenu-right1">
                <main-sidebar></main-sidebar>
              </div>
              <div class="parion_tab_box_rt">
                <div class="accu_tab2_cont">
                  <div class="accu_tab2_continn">
										<div class="tab_form_heading">
											<h2>Form 3.2 : LOW AND MEDIUM VOLTAGE SUPPLIES -  PROPOSED TARIFF STRUCTURE FOR ENSUING YEARS   (Year-wise)</h2>
										</div>
                    <div class="panel-success panel" ng-hide="!updateMessage"><div class="panel-heading">{{updateMessage}}</div></div>
                    <div class="panel-danger panel" ng-hide="!errorMessage"><div class="panel-heading">{{errorMessage}}</div></div>

										<div class="tab_form_full_tbl">
											<div>

												<ul class="nav nav-pills nav-stacked tabSec">
													<li ng-class="{ active: isformSet(1) }">
															<a href ng-click="formsetTab(1)">Submit</a>
													</li>
													<li ng-class="{ active: isformSet(2) }">
															<a href ng-click="formsetTab(2)">View</a>
													</li>
												</ul>
												<div>
													<div ng-show="isformSet(1)">
																<div class="dropDownList">
																		<div class="dropdownBlock">
																			<span>Ensuing year</span>
																			<select id="ensuringyear" name="all_ensuring_year" ng-model="Ensuringyears[0].py_id" class="form-control width_select" ng-change="getSingleStations1('94',Ensuringyears[0].py_id)"  ng-options="obj.py_id as obj.year_nm for obj in Ensuringyears">
																			</select>
																		</div>
																		<div class="dropdownBlock">
																			<span>Consumer types </span>
																			<select id="consumertype" name="ConsumerTypes" ng-model="ConsumerTypes[0].consumer_type_id" class="form-control width_select" ng-change="getSingleStations2('94',ConsumerTypes[0].consumer_type_id)"  ng-options="obj.consumer_type_id as obj.name for obj in ConsumerTypes">
																			</select>
																		</div>
																		<div class="dropdownBlock">
																			<span>Consumer class</span>
																			<select id="consumerclass" name="ConsumerClassList" ng-model="consumerClassList[0].consumer_class_id" class="form-control width_select" ng-change="getSingleStations3('94',consumerClassList[0].consumer_class_id)"  ng-options="obj.consumer_class_id as obj.name for obj in consumerClassList">
																			</select>
																		</div>
																		<div class="dropdownBlock">
																			<span>Voltage level</span>
																			<select id="voltageLevelList" name="voltageLevelList" ng-model="voltageLevelList[0].voltage_level_id" class="form-control width_select" ng-change="getSingleStations4('94',voltageLevelList[0].voltage_level_id)"  ng-options="obj.voltage_level_id as obj.name for obj in voltageLevelList">
																			</select>
																		</div>
																</div>
															<div class="tbl_rowtwo">
																<div class="hyble_tbl_row">
																	<div class="plagintable">
																			<table class="jexcel bossanova-ui" >
																				 <thead class="jexcel_label subHd" ng-repeat="station in subStations track by $index" >
																				   <tr class="">
																					 <td width="100%" align="left">{{station.payment_tariff_desc}}</td>
																				   </tr>

																				   <tr>
																					 <td width="100%" style="padding:0;" align="left">
																					   <excell-form data-uid="$index" data-values="subStationsData.valAll[$index]" data-tab="tab94" callback-fn="ctrlFn()" ></excell-form>
																					 </td>
																				   </tr>
																				 </thead>
																			   </table>
																		</div>
																</div>
																<div class="hyble_tbl_row">
																	<div class="comndfrm">
																		<strong>Note :</strong>
																		<ol>
																			<li> For any Unit, Unit Availabillity Factor shall be considered for stabilised operation only i.e. without taking into acount the in-firm power generation or generation during stabilisation period.  </li>
																			<li>Reasons for variations over the years are to be given in a note</li>
																		</ol>
																	</div>

																		<div class="col-sm-5">
																			<button ng-click="saveStationData(optioneEnsuring,'94')" class="sav_data_btn">Save Data</button>
																		</div>
																</div>
															</div>
													</div>
													<div ng-show="isformSet(2) ">
															<div class="tbl_rowtwo">
																<div class="hyble_tbl_row">
																	<div class="plagintable">
																		<!-- {{viewTable}} -->

    																<div class="dropDownList">
                                        <div class="dropdownBlock">
                                          <span>Ensuing year</span>
                                          <select id="ensuringyear2" name="all_ensuring_year" ng-model="Ensuringyears[0].py_id" class="form-control width_select" ng-change="getSingleStations5('94',Ensuringyears[0].py_id)"  ng-options="obj.py_id as obj.year_nm for obj in Ensuringyears">
                                          </select>
                                        </div>
    																		<div class="dropdownBlock">
    																			<span>Consumer types </span>
    																			<select id="consumertype" name="ConsumerTypes" ng-model="ConsumerTypes[0].consumer_type_id" class="form-control width_select" ng-change="getSingleStations6('94',ConsumerTypes[0].consumer_type_id)"  ng-options="obj.consumer_type_id as obj.name for obj in ConsumerTypes">
    																			</select>
    																		</div>
    																		<div class="dropdownBlock">
    																			<span>Voltage level</span>
    																			<select id="voltageLevelList" name="voltageLevelList" ng-model="voltageLevelList[0].voltage_level_id" class="form-control width_select" ng-change="getSingleStations7('94',voltageLevelList[0].voltage_level_id)"  ng-options="obj.voltage_level_id as obj.name for obj in voltageLevelList">
    																			</select>
    																		</div>
    																</div>
                                    <div ng-show="showHidedata">
                                        <table class="viewTable noDataTable">
                                          <thead>
                                            <tr>
                                              <th  width="16.66667%">Consumer category</th>
                                              <th  width="16.66667%">Tarrif scheme</th>
                                              <th  width="16.66667%">Subcategory/ Slabwise/ Time stratawise</th>
                                              <th  width="16.66667%">Summer</th>
                                              <th  width="16.66667%">Monsoon</th>
                                              <th  width="16.66667%">Winter</th>
                                            </tr>
                                           </thead>
                                           <tbody>
                                             <tr>
                                               <td colspan="8" align="center">
                                                 <p>No data available</p>
                                               </td>
                                             </tr>
                                           </tbody>
                                         </table>
                                      </div>

                                        <table class="viewTable" ng-show="!showHidedata">
																						<thead>
																							<tr>
                                                <th  width="16.66667%">Consumer category</th>
                                                <th  width="16.66667%">&nbsp;</th>
																								<th  width="16.66667%">Subcategory/ Slabwise/ Time stratawise</th>
																								<th  width="16.66667%">Summer</th>
																								<th  width="16.66667%">Monsoon</th>
																								<th  width="16.66667%">Winter</th>
                                              </tr>
																						 </thead>
												 											<tbody ng-repeat="typeTable in viewTable track by $index">
																								<tr ng-repeat="tablevo1 in typeTable.vo1 track by $index">
																									<td colspan="6">
																										<table class="viewTableData">
																											<tr>
																												<td colspan="6">{{tablevo1.consumer_type_desc}}</td>
																											</tr>
																											<tr ng-repeat="tablevo2 in tablevo1.vo2 track by $index">
																												<td>{{tablevo2.consumer_class_desc}}</td>
																												<td colspan="5">
																													<table>
																														<tr ng-repeat="tablevo3 in tablevo2.vo3 track by $index">
																															<td>{{tablevo3.payment_tariff_desc}}</td>
																															<td colspan="4">
																																<table>
																																	<tr ng-repeat="valAll in tablevo3.valAll track by $index">
																																		<td ng-repeat="data in valAll track by $index">{{data}}</td>
																																	</tr>
																																</table>
																															</td>
																														</tr>
																													</table>
																												</td>
																											</tr>
																										</table>
																									</td>
																								</tr>
																									<tr>
																										<td colspan="6">
																											<table>
																												<tr>
																													<td ng-repeat="data in typeTable.total track by $index">{{data}}</td>
																												</tr>
																											</table>
																										</td>
																									</tr>
												 											 </tbody>
																					</table>
																	</div>
																</div>
															</div>
													</div>
												</div>
                            <comment-tab></comment-tab>
											</div>
										</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 tab-content" id="attachment_list" style="display:none">
              <attachment-list></attachment-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
