<main-header></main-header>
<main-details></main-details>
<div id="canvasOverlay"  ng-hide="loadSuccessfull">
  <div class="preloader"></div>
</div>
 <section class="dashboard_page">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="dashboard_box">
          <div class="parion_tab_cont">
            <div class="parion_tab_div tab-content" id="Annexure1" style="display:block">
              <div class="parion_tab_box_lft cbp-spmenu-right1">
                <main-sidebar></main-sidebar>
              </div>
              <div class="parion_tab_box_rt">
                <div class="accu_tab2_cont">
                  <div class="accu_tab2_continn">
										<div class="accu_tab2div" id="tab1-4" style="display: block">
											<div class="tab_form_heading">
												<h2>Form 1.14: Average System Demand for Transmission Systems</h2>
											</div>
                      <div class="panel-success panel" ng-hide="!updateMessage"><div class="panel-heading">{{updateMessage}}</div></div>
                      <div class="panel-danger panel" ng-hide="!errorMessage"><div class="panel-heading">{{errorMessage}}</div></div>
											<div class="tab_form_full_tbl">
												<div class="tbl_rowtwo">
													<div class="hyble_tbl_row">
														<div class="plagintable">
																   <excell-form data-uid="0" data-values="subStationsData" data-tab="tab24" callback-fn="ctrlFn()"></excell-form> <!--tab-demo11-->
																	 <table class="table19c" border="1">
																		 <tr>
																			 <td ng-repeat="value in totalExpenditure track by $index">{{value}}</td>
																		 </tr>
																	 </table>
														</div>
    														<div class="comndfrm">
    															<strong>Note :</strong>
    															<ol>
    																<li> For any Unit, Unit Availabillity Factor shall be considered for stabilised operation only i.e. without taking into acount the in-firm power generation or generation during stabilisation period.  </li>
    																<li>Reasons for variations over the years are to be given in a note</li>
    															</ol>
    														</div>
      													<div class="col-sm-5">
      														<button ng-click="saveStationData('','24')" class="sav_data_btn">Save Data</button>
      													</div>
        											 <comment-tab></comment-tab>
    													</div>
													</div>

											</div>
										</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 tab-content" id="attachment_list" style="display:none">
              <attachment-list></attachment-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
