<main-header></main-header>
<main-details></main-details>
<div id="canvasOverlay"  ng-hide="loadSuccessfull">
  <div class="preloader"></div>
</div>
<div ng-show="loadSuccessfull">
 <section class="dashboard_page" >
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="dashboard_box">
          <div class="parion_tab_cont">
            <div class="parion_tab_div tab-content" id="Annexure1" style="display:block">
              <div class="parion_tab_box_lft cbp-spmenu-right1" >
                <main-sidebar></main-sidebar>
              </div>
              <div class="parion_tab_box_rt">
                <div class="accu_tab2_cont">
                  <div class="accu_tab2_continn">
                      <div class="tab_form_heading">
                        <h2>Form 1.10(b): Power Purchase Cost Analysis</h2>
                      </div>
                      <div class="panel-success panel" ng-hide="!updateMessage"><div class="panel-heading">{{updateMessage}}</div></div>
                      <div class="panel-danger panel" ng-hide="!errorMessage"><div class="panel-heading">{{errorMessage}}</div></div>
                      <div class="tab_form_full_tbl">
                        <div class="tbl_rowtwo">
                          <div class="hyble_tbl_row">
                            <div class="plagintable">
                              <div class="dropDownList">
                                   <div class="dropdownBlock">
                                     <span>Station Name</span>
                                     <select id="stationMaster" name="all_stations" ng-model="AllStationsFuel[0].id" class="form-control width_select" ng-change="getSingleStations('20',AllStationsFuel[0].id)"  ng-options="obj.id as obj.name for obj in AllStationsFuel">
                                      </select>
                                   </div>
                                   <div class="dropdownBlock">
                                     <span>Select Source</span>
                                     <select id="stationMaster" name="all_plumbing_stations" ng-model="AllSource[0].id" class="form-control width_select" ng-change="getSingleSource('9',AllSource[0].id)" ng-options="obj.id as obj.name for obj in AllSource">
                                     </select>
                                   </div>
                               </div>
                              <table cellpadding="0" cellspacing="0" class="jexcel_label"  >
                               <tbody>
                                 <tr>
                                 <td width="100%" style="padding:0;" align="left">
                                   <excell-form data-uid="0" data-values="subStationsData" data-tab="tab20"></excell-form>
                                 </td>
                                 </tr>
                               </tbody>
                               </table>
                            </div>
                          </div>
                          <div class="hyble_tbl_row">
                            <div class="col-sm-5">
                              <button ng-click="saveStationData('','20')" ng-show="selectedTab == 'tab20'" class="sav_data_btn">Save Data</button>
                              <!-- <button class="sav_data_btn prnt_frm_btn">Print Form</button> -->
                            </div>
                              <div class="comndfrm">
                                <strong>Note :</strong>
                                <ol>
                                  <li>For any  plant, PAF shall be considered for stabilised operation only i.e. without taking into acount
                                    the in-firm power generation or generation during stabilisation period.</li>
                                  <li>Reasons for variations over the years are to be given in a note</li>
                                </ol>
                              </div>
                          </div>
                        </div>
                        <comment-tab></comment-tab>
                      </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 tab-content" id="attachment_list" style="display:none">
              <attachment-list></attachment-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
<div ng-include="'app/tpl/footer.html'"></div>
