<!--footer start-->
	<div class="footer_sec">
		<div class="foot_top">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12">
						<!-- <div class="foot_menu">
							<ul>
								<li><a ui-sref="home" ui-sref-active="active" >Home</a></li>
								<li><a ui-sref="about" ui-sref-active="active" >About the system</a></li>
								<li><a ui-sref="site-map" ui-sref-active="active" >Site map</a></li>
								<li><a ui-sref="dashboard" ui-sref-active="active" >Dashboard</a></li>
							</ul>
						</div> -->
						<div class="copy_rt">
							<p>Copyright 2017-2018. All rights reserved, West Bengal Electricity Regulatory Commission.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="foot_botm">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12">
						<p>Site best viewed at 1024 x 768 resolution in Internet Explorer 10+, Google Chrome 49+, Firefox 45+ and Safari 6+</p>
					</div>
				</div>
			</div>
		</div> -->
	</div>
	<!--footer end-->
