<!--header start -->
	<div class="header_sec">
		<div class="header1">
			<div class="container-fluid">
				<div class="header_sec_inn">
					<div class="logo">
						<a href="/dashboard" class="navbar-brand"><img src="app/tpl/assets/images/wberc-logo.png" alt=""/></a>
						<span><strong> | </strong> Electricity Regulatory Management System</span>
					</div>
					<div class="head_rt">

						<div ng-show="{{signedIn == true}}" class="btn-group">
						 <button type="button" class="btn btn-default dropdown-toggle usa btn_user" data-toggle="dropdown">
						 		<i class="fa fa-user padding-right-10"></i> Welcome {{user.name}}  <span class="caret"></span>
						 </button>
						 <ul class="dropdown-menu">
							  <!-- <li><a href="#"><small>Last Logged In at</small></a></li>
							  <li><a href="#"><small><strong>01/11/2017 13:49 IST</strong></small></a></li> -->
								<li><a href="#"><small>Logged In as</small></a></li>
							  <li><a href="#"><small><strong>{{user.role_desc}}</strong></small></a></li>
							  <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>My Profile</a></li>
							  <li><a href="#"><i class="fa fa-unlock-alt" aria-hidden="true"></i>Change Password</a></li>
							  <li><a ng-click="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></li>
						  </ul>
			      </div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!--header end -->
