<div class="header2" >
		<div class="container-fluid">
			<div class="header2_inn">
				<nav class="navbar navbar-default top_nav" role="navigation">
				  <div class="navbar-header">
				    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex2-collapse">
				      <span class="sr-only">Toggle navigation</span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				    </button>
				  </div>
				  <div class="collapse navbar-collapse navbar-ex2-collapse">
				  </div>
					<ul class="nav navbar-nav">
						<li ng-repeat="menu in allMenu">
								<a href="{{menu.link}}">{{menu.name}}</a>
								<ul ng-if="menu.childAl" class="sub-menu">
									<li ng-repeat="submenu in menu.childAl" >
										<a href="{{submenu.link}}" ng-class="{active:item == 1}">{{submenu.name}}</a>
									</li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	
