<main-header></main-header>
<main-details></main-details>
<div id="canvasOverlay"  ng-hide="loadSuccessfull">
  <div class="preloader"></div>
</div>
<div ng-show="loadSuccessfull">
 <section class="dashboard_page">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="dashboard_box">
          <div class="parion_tab_cont">
            <div class="parion_tab_div tab-content" id="Annexure1" style="display:block">
              <div class="parion_tab_box_lft cbp-spmenu-right1">
                <main-sidebar></main-sidebar>
              </div>
              <div class="parion_tab_box_rt">
                <div class="accu_tab2_cont">
                  <div class="accu_tab2_continn">
										<div class="tab_form_heading">
											<h2>Form 3.5.1: Detail of Annual Power Factor Rebate/ Surcharge on Revenue at proposed tariff (Year wise for ensuing years)</h2>
										</div>
                    <div class="panel-success panel" ng-hide="!updateMessage"><div class="panel-heading">{{updateMessage}}</div></div>
                    <div class="panel-danger panel" ng-hide="!errorMessage"><div class="panel-heading">{{errorMessage}}</div></div>

										<div class="tab_form_full_tbl">
											<div>
												<ul class="nav nav-pills nav-stacked tabSec">
													<li ng-class="{ active: isformSet(1) }">
															<a href ng-click="formsetTab(1)">Submit</a>
													</li>
													<li ng-class="{ active: isformSet(2) }">
															<a href ng-click="formsetTab(2)">View</a>
													</li>
												</ul>
												<div>
													<div ng-show="isformSet(1)">
																<div class="dropDownList">
																		<div class="dropdownBlock">
																			<span>Ensuing year</span>
																			<select id="ensuringyear" name="all_ensuring_year" ng-model="Ensuringyears[0].py_id" class="form-control width_select" ng-change="getSingleStations1('98',Ensuringyears[0].py_id)"  ng-options="obj.py_id as obj.year_nm for obj in Ensuringyears">
																			</select>
																		</div>
																		<div class="dropdownBlock">
																			<span>Consumer types </span>
																			<select id="consumertype" name="ConsumerTypes" ng-model="ConsumerTypes[0].consumer_type_id" class="form-control width_select" ng-change="getSingleStations2('98',ConsumerTypes[0].consumer_type_id)"  ng-options="obj.consumer_type_id as obj.name for obj in ConsumerTypes">
																			</select>
																		</div>
																		<div class="dropdownBlock">
																			<span>Consumer class</span>
																			<select id="consumerclass" name="ConsumerClassList" ng-model="consumerClassList[0].consumer_class_id" class="form-control width_select" ng-change="getSingleStations3('98',consumerClassList[0].consumer_class_id)"  ng-options="obj.consumer_class_id as obj.name for obj in consumerClassList">
																			</select>
																		</div>
																		<div class="dropdownBlock">
																			<span>Voltage level</span>
																			<select id="voltageLevelList" name="voltageLevelList" ng-model="voltageLevelList[0].voltage_level_id" class="form-control width_select" ng-change="getSingleStations4('98',voltageLevelList[0].voltage_level_id)"  ng-options="obj.voltage_level_id as obj.name for obj in voltageLevelList">
																			</select>
																		</div>
																</div>
															<div class="tbl_rowtwo">
																<div class="hyble_tbl_row">
																	<div class="plagintable">
																		<excell-form  data-uid="0" data-values="subStationsData" data-tab="tab98" ></excell-form>
																		</div>
																</div>
																<div class="hyble_tbl_row">
																	<div class="comndfrm">
																		<!-- <span>Comments on Form</span> -->
																		<strong>Note :</strong>
																		<ol>
																			<li> For any Unit, Unit Availabillity Factor shall be considered for stabilised operation only i.e. without taking into acount the in-firm power generation or generation during stabilisation period.  </li>
																			<li>Reasons for variations over the years are to be given in a note</li>
																		</ol>
																	</div>

																		<div class="col-sm-5">
																			<button ng-click="saveStationData(optioneEnsuring,'98')" class="sav_data_btn">Save Data</button>
																		</div>
																</div>
															</div>
													</div>
													<div ng-show="isformSet(2) ">
															<div class="tbl_rowtwo">
																<div class="hyble_tbl_row">
																	<div class="plagintable">
  																		<div class="dropDownList">
                                          <div class="dropdownBlock">
      																			<span>Select ensuing year</span>
      																			<select id="ensuringyear2" name="all_ensuring_year" ng-model="Ensuringyears[0].py_id" class="form-control width_select" ng-change="getSingleStations5('98',Ensuringyears[0].py_id)"  ng-options="obj.py_id as obj.year_nm for obj in Ensuringyears">
      																			</select>
      																		</div>
  																		</div>
                                      <div ng-show="showHidedata">
                                          <table class="viewTable noDataTable">
                                            <thead>
                                                <tr>
                                                  <th width="16.66667%">Consumer class</th>
                                                  <th width="16.66667%">Avg power factor</th>
                                                  <th width="16.66667%">Projected sales</th>
                                                  <th width="16.66667%">Applicable rates</th>
                                                  <th width="16.66667%">Impact</th>
                                                  <th width="16.66667%">% Gross energy charges</th>
                                                </tr>
                                             </thead>
                                             <tbody>
                                               <tr>
                                                 <td colspan="8" align="center">
                                                   <p>No data available</p>
                                                 </td>
                                               </tr>
                                             </tbody>
                                           </table>
                                        </div>
                                        <table class="viewTable" ng-show="!showHidedata">
																					<tbody>
																						<tr>
																							<td colspan="6">
																								<table class="viewTable2">
																									<thead>
																											<tr>
																												<th width="16.66667%">Consumer class</th>
																												<th width="16.66667%">Avg power factor</th>
																												<th width="16.66667%">Projected sales</th>
																												<th width="16.66667%">Applicable rates</th>
																												<th width="16.66667%">Impact</th>
																												<th width="16.66667%">% Gross energy charges</th>
																											</tr>
																									</thead>
																									<tbody ng-repeat="view in viewTable track by $index">
                                                    <tr>
                                                      <th colspan="6">{{view.consumer_type}}</th>
                                                    </tr>
																								 		<tr ng-repeat="consumVal in view.consumer_type_n_voltage_levelAl track by $index">
																											<td colspan="6">
					 																						 	<table>
																													<tr>
																														<th colspan="6">{{consumVal.consumer_level_n_voltage_level}}</th>
																													</tr>
					 																						 		<tr ng-repeat="consumdata in consumVal.consumer_classAl track by $index">
																														<td>
																															{{consumdata.consumer_class}}
																														</td>
																														<td colspan="5">
								 																						 	<table>
																																<tr ng-repeat="consumdatax in consumdata.vals track by $index">
																																	<td ng-repeat="data in consumdatax track by $index">{{data}}</td>
																																</tr>
																															</table>
																														</td>
																													</tr>
																												</table>
																											</td>
																										</tr>
																								 </tbody>
																								</table>
																							</td>
																						</tr>
																				</tbody>
																			</table>
																	</div>
																</div>
															</div>
													</div>
      										<comment-tab></comment-tab>
												</div>
											</div>
										</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 tab-content" id="attachment_list" style="display:none">
              <attachment-list></attachment-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
