<main-header></main-header>
<main-details></main-details>
<div id="canvasOverlay"  ng-hide="loadSuccessfull">
  <div class="preloader"></div>
</div>
<div ng-show="loadSuccessfull">
 <section class="dashboard_page">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="dashboard_box">
          <div class="parion_tab_cont">
            <div class="parion_tab_div tab-content" id="Annexure1" style="display:block">
              <div class="parion_tab_box_lft cbp-spmenu-right1">
                <main-sidebar></main-sidebar>
              </div>
              <div class="parion_tab_box_rt">
                <div class="accu_tab2_cont">
                  <div class="accu_tab2_continn">
										<div class="tab_form_heading">
											<h2>Form 4 (ii): Delivery to 33 & 11 kV Distribution System from EHT System (400 kV, 220 kV, 132 kV and 66 kV)</h2>
										</div>
                    <div class="panel-success panel" ng-hide="!updateMessage"><div class="panel-heading">{{updateMessage}}</div></div>
                    <div class="panel-danger panel" ng-hide="!errorMessage"><div class="panel-heading">{{errorMessage}}</div></div>
													<div class="dropDownList">
														 <div class="dropdownBlock">
															 <span>Select ensuing year</span>
															 <select id="stationMaster" name="all_ensuring_year" ng-model="Ensuringyears[0].py_id" class="form-control width_select" ng-change="getSingleStations('104',Ensuringyears[0].py_id)"  ng-options="obj.py_id as obj.year_nm for obj in Ensuringyears">
															 </select>
														 </div>
												 </div>
										<div class="tab_form_full_tbl">
											<div class="tbl_rowtwo">
												<div class="hyble_tbl_row">
													<div class="plagintable">
															<excell-form data-uid="0" data-values="subStationsData" data-tab="tab104" callback-fn="ctrlFn()"></excell-form>
													</div>
												</div>
                       <div class="hyble_tbl_row">
                         <div class="plagintable grandTotal">
                             <table width="100%" border="1" ng-show="grandTotalArr!=null">
                               <tr>
                                 <td align="center" width="4%" readonly="true" readonly="true">#</td>
                                 <td align="left" width="26%" ng-repeat="data in grandTotalArr track by $index" readonly="true">{{data}}</td>
                             </tr>
                           </table>
                         </div>
                       </div>
  											<div class="hyble_tbl_row">
  												<div class="col-sm-5">
                            <button ng-click="grandTotal()" class="sav_data_btn">Grand total</button>
  													<button ng-click="saveStationData(optioneEnsuring,'104')" ng-show="selectedTab == 'tab104'" class="sav_data_btn">Save Data</button>
  												</div>
  											</div>
												<div class="hyble_tbl_row">
													<div class="comndfrm">
														<strong>Note :</strong>
														<ol>
															<li> For any Unit, Unit Availabillity Factor shall be considered for stabilised operation only i.e. without taking into acount the in-firm power generation or generation during stabilisation period.  </li>
															<li>Reasons for variations over the years are to be given in a note</li>
														</ol>
													</div>
												</div>
											</div>
                      <comment-tab></comment-tab>
										</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 tab-content" id="attachment_list" style="display:none">
              <attachment-list></attachment-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
