<main-header></main-header>
<main-details></main-details>
<div id="canvasOverlay"  ng-hide="loadSuccessfull">
  <div class="preloader"></div>
</div>
<div ng-show="loadSuccessfull">
 <section class="dashboard_page" >
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="dashboard_box">
          <div class="parion_tab_cont">
            <div class="parion_tab_div tab-content" id="Annexure1" style="display:block">
              <div class="parion_tab_box_lft cbp-spmenu-right1" >
                <main-sidebar></main-sidebar>
              </div>
              <div class="parion_tab_box_rt">
                <div class="accu_tab2_cont">
                  <div class="accu_tab2_continn">
                    <div class="tab_form_heading">
                      <h2>Form B: Details of Depreciation chargeable to revenue account for the year (Yearwise)</h2>
                    </div>
                    <div class="panel-success panel" ng-hide="!updateMessage"><div class="panel-heading">{{updateMessage}}</div></div>
                    <div class="panel-danger panel" ng-hide="!errorMessage"><div class="panel-heading">{{errorMessage}}</div></div>
                    <div class="tab_form_full_tbl">
                        <div class="dropDownList">
                            <div class="dropdownBlock">
                              <span>Select ensuing year</span>
                              <select id="stationMaster" name="all_ensuring_year" ng-model="Ensuringyearsforeign[0].py_id" class="form-control width_select" ng-change="getSingleYears('58',Ensuringyearsforeign[0].py_id)"  ng-options="obj.py_id as obj.year_nm for obj in Ensuringyearsforeign">
                              </select>
                            </div>
                        </div>
                      <div class="tbl_rowtwo">
                        <div class="hyble_tbl_row">
                          <div class="plagintable">
                            <excell-form data-uid="0" data-values="subStationsData" data-tab="tab58"></excell-form>
                          </div>
                        </div>
                        <div class="hyble_tbl_row">
                          <div class="comndfrm">
                            <strong>Note :</strong>
                            <ol>
                              <li>Where any Norm has been specified by the Commission for any parameter, calculation is to be based on such parameters only</li>
                              <li>Main sources of fuel supply and break up of fuel prices (Gradewise) to be submitted as per specified format.</li>
                              <li>The normative values of various parameters like station heat rate and secondary fuel consumption etc. adopted, if any, may also be submitted</li>
                              <li>Cost of Fuel in aggregate for all the stations are to be submitted in a separate sheet.</li>
                            </ol>
                          </div>
                        </div>
                        <div class="hyble_tbl_row">
                          <div class="col-sm-5">
                            <button ng-click="saveStationData('','58')" ng-show="selectedTab == 'tab58'" class="sav_data_btn">Save Data</button>
                          </div>
                        </div>
                    </div>
                        <comment-tab></comment-tab>
                  </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 tab-content" id="attachment_list" style="display:none">
              <attachment-list></attachment-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
<div ng-include="'app/tpl/footer.html'"></div>
