<main-header></main-header>
<main-details></main-details>
<div id="canvasOverlay"  ng-hide="loadSuccessfull">
  <div class="preloader"></div>
</div>
<div ng-show="loadSuccessfull">
 <section class="dashboard_page">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="dashboard_box">
          <div class="parion_tab_cont">
            <div class="parion_tab_div tab-content" id="Annexure1" style="display:block">
              <div class="parion_tab_box_lft cbp-spmenu-right1">
                <main-sidebar></main-sidebar>
              </div>
              <div class="parion_tab_box_rt">
                <div class="accu_tab2_cont">
                  <div class="accu_tab2_continn">
											<div class="tab_form_heading">
												<h2>Form 3.1(a): STATEMENT SHOWING ANNUAL REVENUE AT PROPOSED RATES FOR SUMMER (Yearwise for ensuing years)</h2>
											</div>
                      <div class="panel-success panel" ng-hide="!updateMessage"><div class="panel-heading">{{updateMessage}}</div></div>
                      <div class="panel-danger panel" ng-hide="!errorMessage"><div class="panel-heading">{{errorMessage}}</div></div>

											<div class="tab_form_full_tbl">
												<div>
													<ul class="nav nav-pills nav-stacked tabSec">
														<li ng-class="{ active: isformSet(1) }">
																<a href ng-click="formsetTab(1)">Submit</a>
														</li>
														<li ng-class="{ active: isformSet(2) }">
																<a href ng-click="formsetTab(2)">View</a>
														</li>
													</ul>
													<div>
														<div ng-show="isformSet(1)">
																<div class="dropDownList">
																		<div class="dropdownBlock">
																			<span>Ensuing year</span>
																			<select id="ensuringyear" name="all_ensuring_year" ng-model="Ensuringyears[0].py_id" class="form-control width_select" ng-change="getSingleStations1('91',Ensuringyears[0].py_id)"  ng-options="obj.py_id as obj.year_nm for obj in Ensuringyears">
																			</select>
																		</div>
																		<div class="dropdownBlock">
																			<span>Consumer types </span>
																			<select id="consumertype" name="ConsumerTypes" ng-model="ConsumerTypes[0].consumer_type_id" class="form-control width_select" ng-change="getSingleStations2('91',ConsumerTypes[0].consumer_type_id)"  ng-options="obj.consumer_type_id as obj.name for obj in ConsumerTypes">
																			</select>
																		</div>
																		<div class="dropdownBlock">
																			<span>Consumer class</span>
																			<select id="consumerclass" name="ConsumerClassList" ng-model="consumerClassList[0].consumer_class_id" class="form-control width_select" ng-change="getSingleStations3('91',consumerClassList[0].consumer_class_id)"  ng-options="obj.consumer_class_id as obj.name for obj in consumerClassList">
																			</select>
																		</div>
																		<div class="dropdownBlock">
																			<span>Voltage level</span>
																			<select id="voltageLevelList" name="voltageLevelList" ng-model="voltageLevelList[0].voltage_level_id" class="form-control width_select" ng-change="getSingleStations4('91',voltageLevelList[0].voltage_level_id)"  ng-options="obj.voltage_level_id as obj.name for obj in voltageLevelList">
																			</select>
																		</div>
																</div>

																<div class="tbl_rowtwo">
																	<div class="hyble_tbl_row">
																		<div class="plagintable">
																				<table class="jexcel bossanova-ui" >
																					 <thead class="jexcel_label subHd" ng-repeat="station in subStations track by $index" >
																					   <tr>
																						 <td width="100%" align="left">{{station.payment_tariff_desc}}</td>
																					   </tr>
																					   <tr>
																						 <td width="100%" style="padding:0;" align="left">
																						   <excell-form data-uid="$index" data-values="subStationsData.valAll[$index]" data-tab="tab91" callback-fn="ctrlFn()" ></excell-form>
																						 </td>
																					   </tr>
																					 </thead>
                                         </table><br>
                                         <table class="jexcel bossanova-ui" >
                                           <thead>
                                             <tr class="subHd minCharge">
                                                <th width="20px">&nbsp;</th>
                                                <th><p>Minimum charge</p></th>
                                             </tr>
                                           </thead>
                                            <tbody>
                                              <tr>
                                              <td class="minChargeTable" colspan="2">
                                                <excell-form data-uid="0" data-values="subStationsData" data-tab="tab91-1" callback-fn="ctrlFn()" class="minChargeExcel" ></excell-form>
                                              </td>
                                              </tr>
                                            </tbody>
                                          </table><br>
                                           <table class="jexcel bossanova-ui" >
                                             <thead>
                                               <tr class="subHd minCharge">
                                                  <th width="20px">&nbsp;</th>
                                                  <th><p>Rebate charges</p></th>
                                               </tr>
                                             </thead>
                                              <tbody>
                                                <tr>
                                                <td class="minChargeTable" colspan="2">
                                                  <excell-form data-uid="0" data-values="subStationsData" data-tab="tab91-2" callback-fn="ctrlFn()" class="minChargeExcel" ></excell-form>
                                                </td>
                                                </tr>
                                              </tbody>
                                            </table>
																			</div>
																	</div>
																	<div class="hyble_tbl_row">

                              	<div class="comndfrm">
																			<!-- <span>Comments on Form</span> -->
																			<strong>Note :</strong>
																			<ol>
																				<li> For any Unit, Unit Availabillity Factor shall be considered for stabilised operation only i.e. without taking into acount the in-firm power generation or generation during stabilisation period.  </li>
																				<li>Reasons for variations over the years are to be given in a note</li>
																			</ol>
																		</div>

																			<div class="col-sm-5">
																				<button ng-click="saveStationData(optioneEnsuring,'91')" class="sav_data_btn">Save Data</button>
																			</div>
																	</div>
																</div>
														</div>
														<div ng-show="isformSet(2) ">
																<div class="tbl_rowtwo">
																	<div class="hyble_tbl_row">
																		<div class="plagintable">
                                      <div class="dropDownList">
                                          <div class="dropdownBlock">
  																					<span>Ensuing year</span>
  																					<select id="ensuringyear2" name="all_ensuring_year" ng-model="Ensuringyears[0].py_id" class="form-control width_select" ng-change="getSingleStations5('91',Ensuringyears[0].py_id)"  ng-options="obj.py_id as obj.year_nm for obj in Ensuringyears">
  																					</select>
                                          </div>
                                          <div class="dropdownBlock">
                                            <span>Consumer types </span>
                                            <select id="consumertype" name="ConsumerTypes" ng-model="ConsumerTypes[0].consumer_type_id" class="form-control width_select" ng-change="getSingleStations6('91',ConsumerTypes[0].consumer_type_id)"  ng-options="obj.consumer_type_id as obj.name for obj in ConsumerTypes">
                                            </select>
                                          </div>
                                          <div class="dropdownBlock">
                                            <span>Voltage level</span>
                                            <select id="voltageLevelList" name="voltageLevelList" ng-model="voltageLevelList[0].voltage_level_id" class="form-control width_select" ng-change="getSingleStations7('91',voltageLevelList[0].voltage_level_id)"  ng-options="obj.voltage_level_id as obj.name for obj in voltageLevelList">
                                            </select>
                                          </div>
                                      </div>
                                      <div>
                                          <table class="viewTable allDataView noDataTable">
                                            <thead>
                                               <tr>
                                                  <th>&nbsp;</th>
                                                  <th>&nbsp;</th>
                                                  <th >&nbsp;</th>
                                                  <th>&nbsp;</th>
                                                  <th>Current Rates</th>
                                                  <th>&nbsp;</th>
                                                  <th>&nbsp;</th>
                                                  <th>Full Year Revenue</th>
                                                  <th>&nbsp;</th>
                                                  <th>&nbsp;</th>
                                                  <th>Current Rates</th>
                                                  <th>Full Year Revenue</th>
                                               </tr>
                                               <tr>
                                                  <th>&nbsp;</th>
                                                     <th>&nbsp;</th>
                                                  <th>&nbsp;</th>
                                                  <th>Annual Sales Volume</th>
                                                  <th>Gross Rates</th>
                                                  <th>FPPCA Rates if any</th>
                                                  <th>Subsidy from External Sources, if any</th>
                                                  <th>[Gross Rate Basis]</th>
                                                  <th colspan="2">Rebates & other charges</th>
                                                  <!-- <th>&nbsp;</th> -->
                                                  <th>Net Rate</th>
                                                  <th>[Net Rate Basis]</th>
                                               </tr>
                                               <tr>
                                               <tr>
                                                  <th>Consumer class</th>
                                                  <th>Tariff scheme</th>
                                                  <th>Consumption Slab</th>
                                                  <th>MU</th>
                                                  <th>Paise/Unit</th>
                                                  <th>Paise/Unit</th>
                                                  <th>Paise/Unit</th>
                                                  <th>Rs. Lakhs</th>
                                                  <th>Paise/Unit</th>
                                                  <th>Rs. Lakhs</th>
                                                  <th>Paise/Unit</th>
                                                  <th>Rs. Lakhs</th>
                                               </tr>
                                               <tr>
                                                  <th>&nbsp;</th>
                                                     <th>&nbsp;</th>
                                                  <th>[1]</th>
                                                  <th>[2]</th>
                                                  <th>[3a]</th>
                                                  <th>[3b]</th>
                                                  <th>[3c]</th>
                                                  <th>[4]</th>
                                                  <th>[5]</th>
                                                  <th>[6]</th>
                                                  <th>[7=8/2]</th>
                                                  <th>[8=4-6]</th>
                                               </tr>
                                              </thead>
                                             <tbody ng-show="!showHidedata">
                                               <tr>
                                                 <td colspan="12" align="center">
                                                   <p>No data available</p>
                                                 </td>
                                               </tr>
                                             </tbody>

                                             <tbody ng-repeat="typeTable in viewTable track by $index" ng-show="showHidedata">
                                                <tr ng-repeat="tablevo1 in typeTable.vo1 track by $index">
                                                  <td colspan="12">
                                                    <table class="viewTableData">
                                                      <tr>
                                                        <td colspan="12">{{tablevo1.consumer_type_desc}}</td>
                                                      </tr>
                                                      <tr ng-repeat="tablevo2 in tablevo1.vo2 track by $index">
                                                        <td>{{tablevo2.consumer_class_desc}}</td>
                                                        <td colspan="11">
                                                          <table>
                                                            <tr ng-repeat="tablevo3 in tablevo2.vo3 track by $index">
                                                              <td>{{tablevo3.payment_tariff_desc}}</td>
                                                              <td colspan="10">
                                                                <table>
                                                                  <tr ng-repeat="valAll in tablevo3.valAll track by $index">
                                                                    <td ng-repeat="data in valAll track by $index">{{data}}</td>
                                                                  </tr>
                                                                </table>
                                                              </td>
                                                            </tr>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </table>
                                                  </td>
                                                </tr>
                                                  <tr>
                                                    <td colspan="12">
                                                      <table>
                                                        <tr>
                                                          <td ng-repeat="data in typeTable.total track by $index">{{data}}</td>
                                                        </tr>
                                                      </table>
                                                    </td>
                                                  </tr>
                                               </tbody>
                                           </table>

                                           <table class="viewTableMinCharge viewTable" ng-show="showHidedata">
                                             <thead>
                                               <tr>
                                                  <th colspan="8" style="text-align:left">Minimum charge</th>
                                                  <th colspan="4"style="text-align:left">Rebates & other charges</th>
                                               </tr>
                                             </thead>
                                             <tbody>
                                               <tr ng-repeat="tableList in viewTableYearwise track by $index">
                                                 <td colspan="3">Minimum charge</td>
                                                 <td colspan="1">&nbsp;</td>
                                                 <td ng-repeat="data in tableList.minCharge track by $index"> {{data}} </td>
                                               </tr>
                                             </tbody>
                                           </table>

                                           <table class="viewTableThird viewTable" ng-show="showHidedata">
                                               <thead>
                                                 <tr>
                                                    <th width="25%">&nbsp;</th>
                                                    <th>Annual Sales Volume</th>
                                                    <th>Gross Rates</th>
                                                    <th>FPPCA Rates if any</th>
                                                    <th>Subsidy from External Sources, if any</th>
                                                    <th>[Gross Rate Basis]</th>
                                                    <th colspan="2">Rebates & other charges</th>
                                                    <th>Net Rate</th>
                                                    <th>[Net Rate Basis]</th>
                                                 </tr>
                                               </thead>
                                             <tbody ng-repeat="typeTable in viewTableYearwise track by $index">
                                               <tr ng-repeat="tableList in typeTable.thirdTable track by $index">
                                                 <td ng-repeat="data in tableList track by $index"> {{data}} </td>
                                               </tr>
                                             </tbody>
                                           </table>

                                        </div>

                                        <!-- <div ng-show="!showHidedata">
                                          <table class="viewTable allDataView">
                                            <thead>
                                               <tr>
                                                  <th>&nbsp;</th>
                                                  <th>&nbsp;</th>
                                                  <th>&nbsp;</th>
                                                  <th>&nbsp;</th>
                                                  <th>Current Rates</th>
                                                  <th>&nbsp;</th>
                                                  <th>&nbsp;</th>
                                                  <th>Full Year Revenue</th>
                                                  <th>&nbsp;</th>
                                                  <th>&nbsp;</th>
                                                  <th>Current Rates</th>
                                                  <th>Full Year Revenue</th>
                                               </tr>
                                               <tr>
                                                  <th>&nbsp;</th>
                                                  <th>&nbsp;</th>
                                                  <th>&nbsp;</th>
                                                  <th>Annual Sales Volume</th>
                                                  <th>Gross Rates</th>
                                                  <th>FPPCA Rates if any</th>
                                                  <th>Subsidy from External Sources, if any</th>
                                                  <th>[Gross Rate Basis]</th>
                                                  <th colspan="2">Rebates & other charges</th>
                                                  <th>&nbsp;</th>
                                                  <th>Net Rate</th>
                                                  <th>[Net Rate Basis]</th>
                                               </tr>
                                               <tr>
                                               <tr>
                                                  <th>Consumer class</th>
                                                  <th>Tariff scheme</th>
                                                  <th>Consumption Slab</th>
                                                  <th>MU</th>
                                                  <th>Paise/Unit</th>
                                                  <th>Paise/Unit</th>
                                                  <th>Paise/Unit</th>
                                                  <th>Rs. Lakhs</th>
                                                  <th>Paise/Unit</th>
                                                  <th>Rs. Lakhs</th>
                                                  <th>Paise/Unit</th>
                                                  <th>Rs. Lakhs</th>
                                               </tr>
                                               <tr>
                                                  <th>&nbsp;</th>
                                                     <th>&nbsp;</th>
                                                  <th>[1]</th>
                                                  <th>[2]</th>
                                                  <th>[3a]</th>
                                                  <th>[3b]</th>
                                                  <th>[3c]</th>
                                                  <th>[4]</th>
                                                  <th>[5]</th>
                                                  <th>[6]</th>
                                                  <th>[7=8/2]</th>
                                                  <th>[8=4-6]</th>
                                               </tr>
                                              </thead>
																								<tbody ng-repeat="typeTable in viewTable track by $index">
																									<tr ng-repeat="tablevo1 in typeTable.vo1 track by $index">
																										<td colspan="12">
																											<table class="viewTableData">
																												<tr>
																													<td colspan="12">{{tablevo1.consumer_type_desc}}</td>
																												</tr>
																												<tr ng-repeat="tablevo2 in tablevo1.vo2 track by $index">
																													<td>{{tablevo2.consumer_class_desc}}</td>
																													<td colspan="11">
																														<table>
																															<tr ng-repeat="tablevo3 in tablevo2.vo3 track by $index">
																																<td>{{tablevo3.payment_tariff_desc}}</td>
																																<td colspan="10">
																																	<table>
																																		<tr ng-repeat="valAll in tablevo3.valAll track by $index">
																																			<td ng-repeat="data in valAll track by $index">{{data}}</td>
																																		</tr>
																																	</table>
																																</td>
																															</tr>
																														</table>
																													</td>
																												</tr>
																											</table>
																										</td>
																									</tr>
																										<tr>
																											<td colspan="12">
																												<table>
																													<tr>
																														<td ng-repeat="data in typeTable.total track by $index">{{data}}</td>
																													</tr>
																												</table>
																											</td>
																										</tr>
																								 </tbody>
																						</table>
                                            <table class="viewTableMinCharge viewTable">
                                              <thead>
                                                <tr>
                                                   <th colspan="8" style="text-align:left">Minimum charge</th>
                                                   <th colspan="4"style="text-align:left">Rebates & other charges</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <tr ng-repeat="tableList in viewTableYearwise track by $index">
                                                  <td colspan="3">Minimum charge</td>
                                                  <td ng-repeat="data in tableList.minCharge track by $index">
                                                    {{data}}
                                                  </td>
                                                    <td colspan="1">&nbsp;</td>
                                                </tr>
                                              </tbody>
                                            </table>
                                            <table class="viewTableThird viewTable">
                                                <thead>
                                                  <tr>
                                                     <th>&nbsp;</th>
                                                     <th>&nbsp;</th>
                                                     <th>&nbsp;</th>
                                                     <th>Annual Sales Volume</th>
                                                     <th>Gross Rates</th>
                                                     <th>FPPCA Rates if any</th>
                                                     <th>Subsidy from External Sources, if any</th>
                                                     <th>[Gross Rate Basis]</th>
                                                     <th>Rebates & other charges</th>
                                                     <th>&nbsp;</th>
                                                     <th>Net Rate</th>
                                                     <th>[Net Rate Basis]</th>
                                                  </tr>
                                                </thead>
                                              <tbody ng-repeat="typeTable in viewTableYearwise track by $index">
                                                <tr ng-repeat="tableList in typeTable.thirdTable track by $index">
                                                  <td>&nbsp;</td>
                                                  <td>&nbsp;</td>
                                                  <td ng-repeat="data in tableList track by $index">
                                                    {{data}}
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                        </div> -->
																		</div>
																	</div>
																</div>
														</div>
													</div>
                          <comment-tab></comment-tab>
												</div>
											</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 tab-content" id="attachment_list" style="display:none">
              <attachment-list></attachment-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
