<main-header></main-header>
<main-details></main-details>
<div id="canvasOverlay"  ng-hide="loadSuccessfull">
  <div class="preloader"></div>
</div>
<div ng-show="loadSuccessfull">
 <section class="dashboard_page">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="dashboard_box">
          <div class="parion_tab_cont">
            <div class="parion_tab_div tab-content" id="Annexure1" style="display:block">
              <div class="parion_tab_box_lft cbp-spmenu-right1">
                <main-sidebar></main-sidebar>
              </div>
              <div class="parion_tab_box_rt">
                <div class="accu_tab2_cont">
                  <div class="accu_tab2_continn">
											<div class="tab_form_heading">
												<h2>Form 3.1: STATEMENT SHOWING ANNUAL REVENUE AT PROPOSED RATES (Yearwise for ensuing years)</h2>
											</div>
                      <div class="panel-success panel" ng-hide="!updateMessage"><div class="panel-heading">{{updateMessage}}</div></div>
                      <div class="panel-danger panel" ng-hide="!errorMessage"><div class="panel-heading">{{errorMessage}}</div></div>

											<div class="tab_form_full_tbl">
													<div class="dropDownList">
															<div class="dropdownBlock">
																<span>Ensuing year</span>
																<select id="ensuringyear" name="all_ensuring_year" ng-model="Ensuringyears[0].py_id" class="form-control width_select" ng-change="getSingleStations1('90',Ensuringyears[0].py_id)"  ng-options="obj.py_id as obj.year_nm for obj in Ensuringyears">
																</select>
															</div>
															<div class="dropdownBlock">
																<span>Consumer types </span>
																<select id="consumertype" name="ConsumerTypes" ng-model="ConsumerTypes[0].consumer_type_id" class="form-control width_select" ng-change="getSingleStations2('90',ConsumerTypes[0].consumer_type_id)"  ng-options="obj.consumer_type_id as obj.name for obj in ConsumerTypes">
																</select>
															</div>
															<!-- <div class="dropdownBlock">
																<span>Consumer class</span>
																<select id="consumerclass" name="ConsumerClassList" ng-model="consumerClassList[0].consumer_class_id" class="form-control width_select" ng-change="getSingleStations3('90',consumerClassList[0].consumer_class_id)"  ng-options="obj.consumer_class_id as obj.name for obj in consumerClassList">
																</select>
															</div> -->
															<div class="dropdownBlock">
																<span>Voltage level</span>
																<select id="voltageLevelList" name="voltageLevelList" ng-model="voltageLevelList[0].voltage_level_id" class="form-control width_select" ng-change="getSingleStations4('90',voltageLevelList[0].voltage_level_id)"  ng-options="obj.voltage_level_id as obj.name for obj in voltageLevelList">
																</select>
															</div>
													</div>
													<div class="tbl_rowtwo">
														<div class="hyble_tbl_row">
															<div class="plagintable">
                                <!-- {{subStationsData}} -->
																	<table class="jexcel bossanova-ui" ng-show = "showHidedata">
																		 <thead class="jexcel_label subHd">
																		   <tr ng-repeat="station in subStations track by $index"  >
																			    <td class="subHdSubmit " width="100%" align="left">
                                            <!-- <p>{{station.consumer_type_desc}}</p> -->
                                            <table>
                                              <tr ng-repeat="subStation in station.vo1 track by $index">
                                                <td class="subHdSubmit subHd">
                                                  <!-- <p>{{subStation.consumer_type_desc}}</p> -->
                                                  <table>
                                                    <tr ng-repeat="inSubStation in subStation.vo2 track by $index">
                                                      <td class="subHdSubmit subHd">
                                                        <p>{{inSubStation.consumer_class_desc}}</p>
                                                        <table>
                                                          <tr ng-repeat="intoInSubStation in inSubStation.vo3 track by $index">
                                                            <td class="subHdSubmit subHd">
                                                              <p>{{intoInSubStation.payment_tariff_desc}}</p>
                                                              <table>
                                                                <tr>
                                                                  <td class="subHdSubmit subHd">
                                                                    <excell-form class="excel72" data-uid="$index" data-values="intoInSubStation" data-tab="tab90" callback-fn="ctrlFn()" ></excell-form>
                                                                  </td>
                                                                </tr>
                                                              </table>
                                                            </td>
                                                          </tr>
                                                        </table>
                                                      </td>
                                                    </tr>
                                                  </table>
                                                </td>
                                              </tr>
                                            </table>
                                          </td>
																		   </tr>
																		   <tr>
																			 <!-- <td width="100%" style="padding:0;" align="left">
																			   <excell-form data-uid="$index" data-values="subStationsData.valAll[$index]" data-tab="tab90" callback-fn="ctrlFn()" ></excell-form>
																			 </td> -->
																		   </tr>
																		 </thead>
                                   </table><br>

                                   <table ng-show = "!showHidedata">
                                     <table class="viewTable noDataTable">
                                       <thead>
                                          <tr>
                                             <th>&nbsp;</th>
                                             <th>&nbsp;</th>
                                             <th >&nbsp;</th>
                                             <th>&nbsp;</th>
                                             <th>Current Rates</th>
                                             <th>&nbsp;</th>
                                             <th>&nbsp;</th>
                                             <th>Full Year Revenue</th>
                                             <th>&nbsp;</th>
                                             <th>&nbsp;</th>
                                             <th>Current Rates</th>
                                             <th>Full Year Revenue</th>
                                          </tr>
                                          <tr>
                                             <th>&nbsp;</th>
                                                <th>&nbsp;</th>
                                             <th>&nbsp;</th>
                                             <th>Annual Sales Volume</th>
                                             <th>Gross Rates</th>
                                             <th>FPPCA Rates if any</th>
                                             <th>Subsidy from External Sources, if any</th>
                                             <th>[Gross Rate Basis]</th>
                                             <th colspan="2">Rebates & other charges</th>
                                             <!-- <th>&nbsp;</th> -->
                                             <th>Net Rate</th>
                                             <th>[Net Rate Basis]</th>
                                          </tr>
                                          <tr>
                                          <tr>
                                             <th>Consumer class</th>
                                             <th>Tariff scheme</th>
                                             <th>Consumption Slab</th>
                                             <th>MU</th>
                                             <th>Paise/Unit</th>
                                             <th>Paise/Unit</th>
                                             <th>Paise/Unit</th>
                                             <th>Rs. Lakhs</th>
                                             <th>Paise/Unit</th>
                                             <th>Rs. Lakhs</th>
                                             <th>Paise/Unit</th>
                                             <th>Rs. Lakhs</th>
                                          </tr>
                                         </thead>
                                        <tbody>
                                          <tr>
                                            <td colspan="12" align="center">
                                              <p>No data available</p>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                     </tbody>
                                   </table>
																				<table class="jexcel bossanova-ui" ng-show = "showHidedata">
																					 <thead class="jexcel_label">
																					   <tr ng-repeat="station in subStations track by $index"  >
																						 <td width="100%" style="padding:0;" align="left">
																						   <excell-form data-uid="0" data-values="station" data-tab="tab90-1" callback-fn="ctrlFn()" ></excell-form>
																						 </td>
																					   </tr>
																					 </thead>
																				 </table><br>
                                          <table class="jexcel bossanova-ui" ng-show = "showHidedata">
 																					 <thead class="jexcel_label">
 																					   <tr ng-repeat="station in subStations track by $index">
 																						 <td width="100%" style="padding:0;" align="left">
 																						   <excell-form data-uid="0" data-values="station" data-tab="tab90-2" callback-fn="ctrlFn()" ></excell-form>
 																						 </td>
 																					   </tr>
 																					 </thead>
 																				 </table>
																</div>
														</div>
														<div class="hyble_tbl_row">
															<div class="comndfrm">
																<!-- <span>Comments on Form</span> -->
																<strong>Note :</strong>
																<ol>
																	<li> For any Unit, Unit Availabillity Factor shall be considered for stabilised operation only i.e. without taking into acount the in-firm power generation or generation during stabilisation period.  </li>
																	<li>Reasons for variations over the years are to be given in a note</li>
																</ol>
															</div>
														</div>
													</div>
                          <comment-tab></comment-tab>
											</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 tab-content" id="attachment_list" style="display:none">
              <attachment-list></attachment-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
