<main-header></main-header>
<main-details></main-details>
<div id="canvasOverlay"  ng-hide="loadSuccessfull">
  <div class="preloader"></div>
</div>
<div ng-show="loadSuccessfull">
 <section class="dashboard_page">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="dashboard_box">
            <div class="parion_tab_cont">
              <div class="parion_tab_div tab-content" id="Annexure1" style="display:block">
                <div class="parion_tab_box_lft cbp-spmenu-right1">
                  <main-sidebar></main-sidebar>
                </div>
                <div class="parion_tab_box_rt">
                  <div class="accu_tab2_cont">
                    <div class="accu_tab2_continn">
											<div class="accu_tab2div" id="tab1-4" style="display: block">
												<div class="tab_form_heading">
													<h2>Form 1.2(a): Unitwise Plant Load Factor - Annually (Stationwise) </h2>
												</div>
                        <div class="panel-success panel" ng-hide="!updateMessage"><div class="panel-heading">{{updateMessage}}</div></div>
                        <div class="panel-danger panel" ng-hide="!errorMessage"><div class="panel-heading">{{errorMessage}}</div></div>
												<div class="tab_form_full_tbl">
													<div class="tbl_rowtwo">
														<div class="hyble_tbl_row">
															<div class="plagintable">
												<table class="jexcel bossanova-ui">
													 <thead class="jexcel_label subHd" ng-repeat="station in subStations track by $index" >
													   <tr>
														 <td width="100%" align="left">{{station.station}}</td>
													   </tr>
													   <tr>
														 <td width="100%" style="padding:0;" align="left">
														   <excell-form data-uid="$index" data-values="subStationsData" data-tab="tab4" ></excell-form> <!--tab-demo11-->
														 </td>
													   </tr>
													 </thead>
												   </table>
															</div>
														</div>
														<div class="hyble_tbl_row">
															<div class="comndfrm">
																<strong>Note :</strong>
																<ol>
																	<li> For any Unit, Unit Availabillity Factor shall be considered for stabilised operation only i.e. without taking into acount the in-firm power generation or generation during stabilisation period.  </li>
																	<li>Reasons for variations over the years are to be given in a note</li>
																</ol>
															</div>
														</div>
													</div>
											    <div class="hyble_tbl_row">
											      <div class="col-sm-5">
											        <button ng-click="saveStationData('','4')" ng-show="selectedTab == 'tab4'" class="sav_data_btn">Save Data</button>
											        <!-- <button class="sav_data_btn prnt_frm_btn">Print Form</button> -->
											        <hr>
											      </div>
											    </div>

											    <comment-tab></comment-tab>

												</div>
											</div>


                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 tab-content" id="attachment_list" style="display:none">
                <attachment-list></attachment-list>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
