<div class="hyble_tbl_row"  ng-controller="CommentController">
	<div class="hyble_tbl_row">
		<div class="col-sm-5">
			<hr>
			<ul class="nav nav-pills nav-tabs">
				<li ng-class="{ active: isSet(1) }">
						<a href ng-click="setTab(1)">Comment</a>
				</li>
				<li ng-class="{ active: isSet(2) }">
						<a href ng-click="setTab(2)">Upload</a>
				</li>
			</ul>
			<div class="tabContent">
						<div class="jumbotron">
							<div ng-show="isSet(1)">
									<h4 class="heading4">List of Comments</h4>
									<div ng-hide="!showHideComment"><p>No comments available</p></div>
								 <table class="table table-striped custab" ng-hide="showHideComment">
									 <thead>
										 <tr>
											 <th width="50px">#</th>
											 <th>Comments</th>
											 <th width="150px">Commented by</th>
											 <th width="150px">Commented on</th>
											 <th width="60px">Action</th>
										 </tr>
									 </thead>
									 <tbody>
										 <tr ng-repeat="comment in commentList track by $index">
											 <td>{{$index+1}}</td>
											 <td>{{comment.comments}}</td>
											 <td>{{comment.comment_by}}</td>
											 <td>{{comment.comment_on}}</td>
											 <td>
												 <button class="btn btn-danger btn-xs" type="button" ng-click="daleteComment(comment.arr_comment_id)"><i class="fa fa-times" aria-hidden="true"></i></button>
											 </td>
										 </tr>
									</tbody>
								 </table>
								 <form name="commentForm" class="form-horizontal" ng-submit="submit_comment_Form()">
									 <h4 class="heading4">Post a Comment</h4>
										<div class="form-group">
											<div class="col-sm-12">
												<!-- <div ng-show="validateComment" class="alert alert-danger">Please write description</div> -->
												<textarea name="comment" class="form-control" rows="5" id="comment" ng-model="comments.comment"  maxlength="5000"  ng-class="{true: 'error'}[comentsubmitted]" required></textarea>
												<div class="alert alert-danger" ng-show="comentsubmitted && commentForm.comment.$error.required">Required</div>
												<small>(Maximum character limit 5000)</small><br>
												<button type="submit" class="btn btn-default pull-left btn-primary" ng-click="comentsubmitted=true">Submit </button>
											</div>
										</div>
								</form>
							</div>
							<div ng-show="isSet(2)">
										<h4 class="heading4">List of Attachments</h4>
										<div ng-show="hideAttachment"><p>No Attachments available</p></div>
									<table class="table table-striped custab" ng-show="showAttachment">
										<thead>
											<tr>
												<th width="50px">#</th>
												<th>Description</th>
												<th width="200px">Document type</th>
												<th width="200px">Uploaded by</th>
												<th width="100px">Uploaded on</th>
												<th width="100px">Action</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="file in globalfiles track by $index">
												<td>{{$index+1}}</td>
												<td>{{file.description}}</td>
												<td>{{file.docType}}</td>
												<td>{{file.user_nm}}</td>
												<td>{{file.createdOn}}</td>
												<td class="text-center">
													<a class="btn btn-info btn-xs" _target="blank" title="file download" href="http://182.75.177.246:8181/wberc_v2/api/file_download_by_id?docId={{file.docId}}"><i class="fa fa-paperclip" aria-hidden="true"></i></a>&nbsp;&nbsp;
				                    <button class="btn btn-danger btn-xs" type="button" data-toggle="modal" data-target="#confirmtion" ><i class="fa fa-times" aria-hidden="true" data-dismiss="modal" title="Delete file"></i></button>
				                  <div id="confirmtion" class="modal fade" role="dialog">
				                    <div class="modal-dialog">
				                      <div class="modal-content">
				                        <div class="modal-header">
				                          <button type="button" class="close" data-dismiss="modal">&times;</button>
				                          <h4 class="modal-title">Confirmation</h4>
				                        </div>
				                        <div class="modal-body">
				                          <p> Are you sure you wish to delete the attachment?</p>
				                        </div>
				                        <div class="modal-footer">
				                          <div class=" text-center">
				                            <button type="button" class="sav_data_btn"  ng-click="docIdFn(file.docId)" data-dismiss="modal">Yes</button>
				                            <button type="button" class="sav_data_btn" data-dismiss="modal">No</button>
				                          </div>
				                        </div>
				                      </div>
				                    </div>
				                  </div>
												</td>
											</tr>
									 </tbody>
									</table>
									<form name="uploadform" class="form-horizontal"  ng-submit="submit_attachment_Form()">
										<h4 class="heading4">Upload Section</h4>
										<div class="panel-danger panel" ng-show="showMsg"><div class="panel-heading">{{attachmentMsg}}</div></div>
										<div class="form-group" ng-class="{true: 'error'}[submitted]">
											<label class="control-label col-xs-4 col-sm-4 col-md-3 col-lg-2" >Description:<sup>*</sup></label>
											<div class="col-xs-8 col-sm-8 col-md-9 col-lg-10">
												<textarea name="description" class="form-control" rows="5" id="comment" ng-model="attachment.comment"  maxlength="5000" required></textarea>
			                  <div  ng-show="submitted && uploadform.description.$error.required" class="alert alert-danger">Please write description</div>
												<small>(Maximum character limit 5000)</small>
											</div>
										</div>
										<div class="form-group" ng-if="doctypeIndividual">
											<div ng-class="{true: 'error'}[submitted]">
												<label class="control-label col-xs-4 col-sm-4 col-md-3 col-lg-2">Document type:<sup>*</sup></label>
												<div class="col-xs-8 col-sm-8 col-md-9 col-lg-10">
													<select name="attachment" id="attachmentGroup" class="form-control" ng-model="attachment.attachment_type_desc" required>
															 <option value="" >Select option</option>
															 <option ng-repeat="typeOpt in attachmentType track by $index" value="{{typeOpt.attachment_type_id}}">{{typeOpt.attachment_type_desc}}</option>
													 </select>
		 			                  <div ng-show="submitted && uploadform.attachment.$error.required" class="alert alert-danger">Please select document type</div>
												</div>
											</div>
										</div>
										<div class="form-group"  >
											<label class="control-label col-xs-4 col-sm-4 col-md-3 col-lg-2" for="email" >Upload File:<sup>*</sup></label>
											<div class="col-xs-8 col-sm-8 col-md-9 col-lg-10">
													<!-- <input name="attachmentfile" type="file" ng-model="attachment.file" valid-file>
													<p>Input is valid: {{uploadform.attachmentfile.$valid}}</p> -->
 	 			                  <!-- <div ng-show="submitted && uploadform.attachmentfile.$error.required" class="alert alert-danger">Please select attach</div> -->
													<input type="file" attach-file-model="attachment.file">
													<div ng-show="validateFile" class="alert alert-danger">Please select file to attach</div>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-xs-4 col-sm-4 col-md-3 col-lg-2" ></label>
											<div class="col-xs-8 col-sm-8 col-md-9 col-lg-10">
												<button type="submit" class="btn btn-default pull-left btn-primary" ng-click="submitted=true">Upload </button>
											</div>
										</div>
									</form>
									<!-- <form class="form-horizontal">
										<h4 class="heading4">Upload Section</h4>
										<div class="form-group">
											<label class="control-label col-xs-4 col-sm-4 col-md-3 col-lg-2" for="email">Description:<sup>*</sup></label>
											<div class="col-xs-8 col-sm-8 col-md-9 col-lg-10">
			                  <div ng-show="validateDescription" class="alert alert-danger">Please write description</div>
												<textarea class="form-control" rows="5" id="comment" ng-model="attachment.comment"  maxlength="5000"></textarea>
												<small>(Maximum character limit 5000)</small>
											</div>
										</div>
										<div class="form-group" ng-show="doctypeIndividual" >
											<label class="control-label col-xs-4 col-sm-4 col-md-3 col-lg-2" for="email">Document type:<sup>*</sup></label>
											<div class="col-xs-8 col-sm-8 col-md-9 col-lg-10">
			                  <div ng-show="validateFile" class="alert alert-danger">Please select document type</div>
												<select name="attachment-group" id="attachmentGroup" class="form-control" ng-model="attachment.attachment_type_desc">
														 <option value="" >Select option</option>
														 <option ng-repeat="typeOpt in attachmentType track by $index" value="{{typeOpt.attachment_type_id}}">{{typeOpt.attachment_type_desc}}</option>
												 </select>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-xs-4 col-sm-4 col-md-3 col-lg-2" for="email" >Upload File:<sup>*</sup></label>
											<div class="col-xs-8 col-sm-8 col-md-9 col-lg-10">
			                  <div ng-show="validateFile" class="alert alert-danger">Please select file to attach</div>
												<input type="file" attach-file-model="attachment.file">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-xs-4 col-sm-4 col-md-3 col-lg-2" ></label>
											<div class="col-xs-8 col-sm-8 col-md-9 col-lg-10">
												<button type="button" class="btn btn-default pull-left btn-primary" ng-click="submit_attachment_Form()">Upload </button>
											</div>
										</div>
									</form> -->
						</div>
				</div>
			</div>
		</div>
	</div>
</div>
