<html>
<body>
	<div id="heading" class="header_sec">
		<div class="header_sec">
			<div class="header1">
				<div class="container-fluid">
					<div class="header_sec_inn">
						<div class="logo">
							<a href="/dashboard" class="navbar-brand">
								<img src="app/tpl/assets/images/gov-logo.png" alt="Ashok stambha"/>
								 <span>West Bengal Electricity<br>Regulatory Commision</span>
							</a>
							<span><strong> | </strong> Electricity Regulatory Management System</span>
						</div>
						<div class="rightLogo">
							<img src="app/tpl/assets/images/wberclogo.png" alt="wberc"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="login_body">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12">
						<div class="login_box">
							<form>
									<div class="log_frm_top">
										<div class="loin_head">
											<h2>Reset Password</h2>
										</div>
										<div class="alert alert-danger success_error_message alert-dismissable fade in" ng-show="pwdError">
											<!-- <a href="#" class="close" ng-click="pwdError=!pwdError">&times;</a> -->
											{{errorMsg}}
										</div>
										<div class="alert alert-success success_error_message alert-dismissable fade in" ng-show="resetSuccess">
											<!-- <a href="#" class="close" ng-click="forgotSuccess=!forgotSuccess">&times;</a> -->
											{{resetSuccessMsg}}
										</div>
										<div class="log_frm" ng-show="!resetSuccess">
											<div class="log_input">
												<label>Current Password</label>
												<input type="text" ng-model="oldPwd" placeholder="Enter Current Password" class="form-control"/>
											</div>
											<div class="log_input">
												<label>New Password</label>
												<input type="password" ng-model="newPwd" placeholder="Enter New Password" class="form-control"/>
											</div>
											<div class="log_input">
												<label>Confirm Password</label>
												<input type="password" ng-model="confirmPwd" placeholder="Enter Confirm Password" class="form-control"/>
											</div>
											<div class="log_input">
												<input type="submit"  value="Submit" ng-click="onSubmitResetPassword(oldPwd,newPwd,confirmPwd)"/>
												<!-- <input type="submit"  value="Back to login page" ng-click="backToLogin()" class="log_frgt pull-right"/> -->
											</div>
										</div>
										<div class="log_frm" ng-show="resetSuccess">
											<!-- <div class="log_input">
												<input type="submit"  value="Back to login page" ng-click="backToLogin()" class="log_frgt pull-right"/>
											</div> -->
											<div class="log_prblm" style="background: none; padding: 0;">
												<a href="#" class="log_frgt" >&nbsp;</a>
												<a href="#url" ng-click="backToLogin()" class="log_frgt pull-right">Back to login page</a>
											</div>
										</div>
									</div>
								</form>
						</div>
						</div>
						</div>
						</div>
						</div>

		<div ng-include="'app/tpl/footer.html'"></div>

</body>
	</html>
