<main-header></main-header>
<main-details></main-details><div id="canvasOverlay"  ng-hide="loadSuccessfull">
  <div class="preloader"></div>
</div>
<div ng-show="loadSuccessfull">
 <section class="dashboard_page">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="dashboard_box">
          <div class="parion_tab_cont">
            <div class="parion_tab_div tab-content" id="Annexure1" style="display:block">
              <div class="parion_tab_box_lft cbp-spmenu-right1">
                <main-sidebar></main-sidebar>
              </div>
              <div class="parion_tab_box_rt">
                <div class="accu_tab2_cont">
                  <div class="accu_tab2_continn">
										<div class="tab_form_heading">
											<h2>Form 1.18:  Original Cost of Fixed Assets</h2>
										</div>
                    <div class="panel-success panel" ng-hide="!updateMessage"><div class="panel-heading">{{updateMessage}}</div></div>
                    <div class="panel-danger panel" ng-hide="!errorMessage"><div class="panel-heading">{{errorMessage}}</div></div>
										<div class="tab_form_full_tbl">
											<div class="tbl_rowtwo">
												<div class="hyble_tbl_row">
													<div class="plagintable">
														 <!-- {{originalCost}} -->
										             <table class="jexcel bossanova-ui largerTable">
																		<tr>
																			<td>
											                  <excell-form data-uid="0" data-values="originalCost" data-tab="tab39" callback-fn="grandTotalFn()" ></excell-form>
																			</td>
																		</tr>
										              </table>
										 						 <table class="table19c" border="1" ng-show="totalArray!=null">
										 							 <tr>
										 								 <td>Total value</td>
										 								 <td ng-repeat="data in totalArray track by $index">{{data}}</td>
										 						 </tr>
										 					 </table>

													</div>
												</div>
												<div class="hyble_tbl_row">
													<div class="comndfrm">
														<strong>Note :</strong>
														<ol>
															<li>Reasons for shortfall in Collection Efficiency and actions taken for improvement of the same is to be furnished.</li>
														</ol>
													</div>
												</div>
											</div>
											<div class="hyble_tbl_row">
												<div class="col-sm-5">
													<button ng-click="saveStationData('','39')" ng-show="selectedTab == 'tab39'" class="sav_data_btn">Save Data</button>
												</div>
											</div>
	                        <comment-tab></comment-tab>
										</div>

                  </div>
                </div> 
              </div>
            </div>
            <div class="col-md-12 tab-content" id="attachment_list" style="display:none">
              <attachment-list></attachment-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
