<main-header></main-header>
<main-details></main-details>
<div id="canvasOverlay"  ng-hide="loadSuccessfull">
  <div class="preloader"></div>
</div>
<div ng-show="loadSuccessfull">
 <section class="dashboard_page">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="dashboard_box">
          <div class="parion_tab_cont">
            <div class="parion_tab_div tab-content" id="Annexure1" style="display:block">
              <div class="parion_tab_box_lft cbp-spmenu-right1">
                <main-sidebar></main-sidebar>
              </div>
              <div class="parion_tab_box_rt">
                <div class="accu_tab2_cont">
                  <div class="accu_tab2_continn">
										<div class="tab_form_heading">
											<h2>Form 1.19 (a): Capital Expenditure for the year</h2>
										</div>
                    <div class="panel-success panel" ng-hide="!updateMessage"><div class="panel-heading">{{updateMessage}}</div></div>
                    <div class="panel-danger panel" ng-hide="!errorMessage"><div class="panel-heading">{{errorMessage}}</div></div>
										<div class="tab_form_full_tbl">
											<div class="dropDownList">
													 <div class="dropdownBlock">
														 <span>Select plan</span>
														 <select id="stationMaster" name="All_Expanditure" ng-model="item" class="form-control width_select" ng-change="getSingleStations('44',item)" ng-options="item for item in AllStations">
															<option value="" disabled selected>Plan</option>
														</select>
													 </div>
											 </div>
											<div class="tbl_rowtwo">
												<div class="hyble_tbl_row">
													<div class="plagintable">

									<!-- {{subStationsData}} -->
										 <table class="jexcel bossanova-ui largerTable">
											 <thead class="jexcel_label">
											   <tr>
												 <td width="100%" style="padding:0;" align="left" id="tab6_cell" id="tab6_td_cell">
												   <excell-form data-uid="0" data-values="subStationsData" data-tab="tab44"></excell-form> <!--tab-demo11-->
												 </td>
											   </tr>
											 </thead>
										   </table>
										   <!---For Gross -->
													</div>
												</div>
												<div class="hyble_tbl_row">
													<div class="comndfrm">
														<!-- <span>Comments on Form</span> -->
														<strong>Note :</strong>
														<ol>
															<li>To be specified separately for the previous year, current year and the ensuing year</li>
															<li>Plan and Non- Plan expenditure are to be shown separately.</li>
															<li>Expenditure should include Interest during construction.</li>
															<li>Overall amount of expenditure should be limited to the amount admitted by the Commission</li>
															<li> This format shall be submitted with perspective plan in persuance to Schedule - 2</li>
														</ol>
													</div>
												</div>
											</div>
											<div class="hyble_tbl_row">
												<div class="col-sm-5">
													<button ng-click="saveStationData('','44')" ng-show="selectedTab == 'tab44'" class="sav_data_btn">Save Data</button>
												</div>
											</div>
	                        <comment-tab></comment-tab>
										</div>

                  </div>
                </div> 
              </div>
            </div>
            <div class="col-md-12 tab-content" id="attachment_list" style="display:none">
              <attachment-list></attachment-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
