<main-header></main-header>
<section class="dashboard_page">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12">
            <div class="dashboard_box">
               <div class="page_tittl">
                  <h2>Initiate New Petition</h2>
               </div>
               <div class="notification_banner">
                  <p><i class="fa fa-info-circle font-size-30" aria-hidden="true"></i>&nbsp;&nbsp;You are about to initiate a new ARR/MYT petition. Please provide the information below to proceed.</p>
               </div>
               <br/>
               <div class="col-sm-12">
                  <div class="row col-md-8 col-md-offset-2 custyle">
                     <table class="table table-striped">
                        <tr>
                           <td style="padding:10px">
                              <form class="form-horizontal">
                                 <div class="form-group">
                                    <label class="control-label col-sm-4">Base Year</label>
                                    <div class="col-sm-4">
                                       <select name='options' class="form-control width_select">
                                          <option value='0'>--Select---</option>
                                          <option value='1'>2017-18</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label class="control-label col-sm-4">Span of Previous Years</label>
                                    <div class="col-sm-4">
                                       <select name='options' class="form-control width_select">
                                          <option value="0">0</option>
                                          <option value="1">1</option>
                                          <option value="2">2</option>
                                          <option value="3">3</option>
                                          <option value="4">4</option>
                                          <option value="5">5</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label class="control-label col-sm-4">Length of Control Period</label>
                                    <div class="col-sm-4">
                                       <select name='options' class="form-control width_select">
                                          <option value="0">0</option>
                                          <option value="1">1</option>
                                          <option value="2">2</option>
                                          <option value="3">3</option>
                                          <option value="4">4</option>
                                          <option value="5">5</option>
                                       </select>
                                    </div>
                                 </div>
                                 <br/>
                                 <br/>
                                 <div class="form-group">
                                    <div class=" text-center">
                                       <button type="button" data-toggle="modal" data-target="#confirmtion" style="padding: 10px 25px;font-size: 20px;" class="sav_data_btn" ng-click="proceed()">Proceed</button>
                                       <button type="button" style="padding: 10px 25px;font-size: 20px;" class="sav_data_btn">Cancel</button>
                                    </div>
                                 </div>
                                 <div id="confirmtion" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                       <!-- Modal content-->
                                       <div class="modal-content">
                                          <div class="modal-header">
                                             <button type="button" class="close" data-dismiss="modal">&times;</button>
                                             <h4 class="modal-title">Confirmation</h4>
                                          </div>
                                          <div class="modal-body">
                                             <p><i class="fa fa-info-circle font-size-30" aria-hidden="true"></i>&nbsp;&nbsp;You are about to initiate a new ARR/MYT petition for a control period from 2018-19 to 2020-21 and a previous year span of 2013-14 to 2016-17.<br/><br/> Are you sure you wish to proceed?</p>
                                          </div>
                                          <div class="modal-footer">
                                             <div class=" text-center">
                                                <button type="button" data-toggle="modal" data-target="#confirmtion" style="padding: 10px 25px;font-size: 20px;" class="sav_data_btn">Yes</button>
                                                <button type="button" style="padding: 10px 25px;font-size: 20px;" class="sav_data_btn">No</button>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </form>
                           </td>
                        </tr>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<div ng-include="'app/tpl/footer.html'"></div>
