<main-header></main-header>
<main-details></main-details>
<div id="canvasOverlay"  ng-hide="loadSuccessfull">
  <div class="preloader"></div>
</div>
<div ng-show="loadSuccessfull">
 <section class="dashboard_page">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="dashboard_box">
          <div class="parion_tab_cont">
            <div class="parion_tab_div tab-content" id="Annexure1" style="display:block">
              <div class="parion_tab_box_lft cbp-spmenu-right1">
                <main-sidebar></main-sidebar>
              </div>
              <div class="parion_tab_box_rt">
                <div class="accu_tab2_cont">
                  <div class="accu_tab2_continn">
										<div class="tab_form_heading">
											<h2>Annexure - 8</h2>
										</div>
                    <div class="panel-success panel" ng-hide="!addModSuccessMsgShow"><div class="panel-heading">{{addModSuccessMessage}}</div></div>
                    <div class="panel-danger panel" ng-hide="!addModSuccessErrorMsgShow"><div class="panel-heading">{{addModErrorMessage}}</div></div>
										<div class="tab_form_full_tbl">
											<div class="tbl_rowtwo">
												<div class="hyble_tbl_row">
													<div class="plagintable"><div ng-show="showHidedata">
                              <table class="viewTable noDataTable">
                                <thead>
                                  <tr>
                                    <th>Project description</th>
                                    <th>Package description</th>
                                    <th>Reference No.</th>
                                    <th>Reference details</th>
                                    <th width="100px">Edit</th>
                                  </tr>
                                </thead>
                                 <tbody>
                                   <tr>
                                     <td colspan="5" align="center">
                                       <p>No data available</p>
                                     </td>
                                   </tr>
                                 </tbody>
                               </table>
                            </div>
                            <table class="table table-striped form8Table" ng-show="!showHidedata">
                              <thead>
                                <tr>
                                  <th>Project description</th>
                                  <th>Package description</th>
                                  <th>Reference No.</th>
                                  <th>Reference details</th>
                                  <th width="100px">Edit</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="project in projectList track by $index">
                                  <td ng-repeat="data in project track by $index">
                                    {{data}}
                                  </td>
                                  <td>
                                    <button class="btn btn-primary" ng-click="editProject(project)" data-toggle="modal" data-target="#updateForm">Edit</button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <button class="btn pull-right prnt_frm_btn sav_data_btn" ng-click="addProject()" data-toggle="modal" data-target="#addForm">Add project</button>

													</div>
												</div>
												<div class="hyble_tbl_row">
													<div class="comndfrm">
														<strong>Note :</strong>
														<ol>
															<li> For any Unit, Unit Availabillity Factor shall be considered for stabilised operation only i.e. without taking into acount the in-firm power generation or generation during stabilisation period.  </li>
															<li>Reasons for variations over the years are to be given in a note</li>
														</ol>
													</div>
												</div>
											</div>
											<div class="hyble_tbl_row">
												<div class="col-sm-5">
													<!-- <button ng-click="saveStationData('','125')" ng-show="selectedTab == 'tab125'" class="sav_data_btn">Save Data</button> -->
											</div>
											</div>
  										<comment-tab></comment-tab>
										</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 tab-content" id="attachment_list" style="display:none">
              <attachment-list></attachment-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="updateForm" class="modal fade" role="dialog">
  <div class="modal-dialog projectModify">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modify project</h4>
      </div>
      <div class="modal-body">
      <div class="panel-success panel" ng-hide="!successMsgShow"><div class="panel-heading">{{updateMessage}}</div></div>
      <div class="panel-danger panel" ng-hide="!errorMsgShow"><div class="panel-heading">{{errorMessage}}</div></div>
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <p>Package description:</p><input type="text" ng-model="projectUpdate.package_desc" maxlength="2000">
          </div>
          <div class="col-sm-12 col-xs-12">
            <p>Project description:</p><input type="text" ng-model="projectUpdate.project_desc" maxlength="2000">
          </div>
          <div class="col-sm-12 col-xs-12">
            <p>Reference details:</p><input type="text" ng-model="projectUpdate.reference_details" maxlength="2000">
          </div>
          <div class="col-sm-12 col-xs-12">
            <p>Reference number:</p><input type="text" ng-model="projectUpdate.reference_no" maxlength="20">
          </div>
        </div>
        <hr>
        <div class="projectJexcell">
          <excell-form data-uid="0" data-values="subStationsData" data-tab="tab125"></excell-form>
        </div>
      </div>
      <div class="modal-footer">
        <div class=" text-center">
          <button  ng-click="confirmPetition()" type="button" value="Proceed" data-toggle="modal"  class="sav_data_btn">Update</button>
          <button  ng-click="deleteProject()" type="button" class="sav_data_btn" data-dismiss="modal" >Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="addForm" class="modal fade" role="dialog" >
  <div class="modal-dialog projectModify">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add project</h4>
      </div>
      <div class="modal-body">
        <div class="panel-success panel" ng-hide="!successMsgShow"><div class="panel-heading">{{updateMessage}}</div></div>
        <div class="panel-danger panel" ng-hide="!errorMsgShow"><div class="panel-heading">{{errorMessage}}</div></div>
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <p>Package description:
            </p><input type="text" ng-model="projectUpdate.package_desc" maxlength="2000">
          </div>
          <div class="col-sm-12 col-xs-12">
            <p>Project description:</p>
            <input type="text" ng-model="projectUpdate.project_desc" maxlength="2000">
          </div>
          <div class="col-sm-12 col-xs-12">
            <p>Reference details:</p>
            <input type="text" ng-model="projectUpdate.reference_details" maxlength="2000">
          </div>
          <div class="col-sm-12 col-xs-12">
            <p>Reference number:</p>
            <input type="text" ng-model="projectUpdate.reference_no" maxlength="20">
          </div>
        </div>
        <hr>
        <div class="projectJexcell">
          <excell-form data-uid="1" data-values="subStationsData" data-tab="tab125-1"></excell-form>
        </div>
      </div>
      <div class="modal-footer">
        <div class=" text-center">
          <button  ng-click="confirmPetition()" type="button" value="Proceed" data-toggle="modal"  class="sav_data_btn">Add</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
