<main-header></main-header>
<main-details></main-details><div id="canvasOverlay"  ng-hide="loadSuccessfull">
  <div class="preloader"></div>
</div>
<div ng-show="loadSuccessfull">
 <section class="dashboard_page">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="dashboard_box">
          <div class="parion_tab_cont">
            <div class="parion_tab_div tab-content" id="Annexure1" style="display:block">
              <div class="parion_tab_box_lft cbp-spmenu-right1">
                <main-sidebar></main-sidebar>
              </div>
              <div class="parion_tab_box_rt">
                <div class="accu_tab2_cont">
                  <div class="accu_tab2_continn">
										<div class="tab_form_heading">
											<h2>Form 1.19(B): Overall Capital Expenditure Programme</h2>
										</div>
                    <div class="panel-success panel" ng-hide="!updateMessage"><div class="panel-heading">{{updateMessage}}</div></div>
                    <div class="panel-danger panel" ng-hide="!errorMessage"><div class="panel-heading">{{errorMessage}}</div></div>
										<div class="tab_form_full_tbl">
                      <div class="dropDownList">
													 <div class="dropdownBlock">
														 <span>Select plan</span>
														 <select id="stationMaster" name="All_Expanditure" ng-model="item" class="form-control width_select" ng-change="getSingleStations('44',item)" ng-options="item for item in AllStations">
															<option value="" disabled selected>Plan</option>
														</select>
													 </div>
											 </div>
											<div class="tbl_rowtwo">
												<div class="hyble_tbl_row">
													<div class="plagintable">
                            <!-- {{tableHeader45}} -->
														<table class="jexcel bossanova-ui tab45" ng-show="selectedTab == 'tab45'">
                              <tbody ng-repeat="station in subStations track by $index">
                                  <tr class="subHd">
                                   <td>{{station.label}}</td>
                                 </tr>
   															 <tr>
  																 <td width="100%" style="padding:0;" align="left">
                                     <excell-form data-uid="$index" data-values="station.data" data-tab="tab45-{{$index}}" class="" callback-fn="ctrlFn()" ></excell-form>
  																 </td>
															   </tr>
                               </tbody>
														 </table>
													</div>
												</div>
                       <div class="hyble_tbl_row">
                         <div class="plagintable grandTotal">
                             <table width="100%" border="1" ng-show="grandTotalArr!=null">
                               <tr>
                                 <td align="center" width="4%">#</td>
                                 <td width="36%" colspan="2">Total value</td>
                                 <td align="right" width="6.3%" ng-repeat="data in grandTotalArr track by $index">{{data}}</td>
                             </tr>
                           </table>
                         </div>
                       </div>
  											<div class="hyble_tbl_row">
  												<div class="col-sm-5">
                            <button ng-click="grandTotal()" class="sav_data_btn">Grand total</button>
  													<button ng-click="saveStationData('','45'); grandTotal()" ng-show="selectedTab == 'tab45'" class="sav_data_btn">Save Data</button>
  												</div>
  											</div>
												<div class="hyble_tbl_row">
													<div class="comndfrm">
														<strong>Note :</strong>
														<ol>
															<li>Plan and Non Plan expenditure are to be shown separately.</li>
															<li>Expenditure should include Interest during construction but to be indicated separately.</li>
															<li>The reasons for time over run and consequential cost over run are to be specifically mentioned. In the event of actual expenditure is more than the approved expenditure then separate approval is to be obtained from the commission as per these regulations.</li>
															<li>For the Base year and ensuing years(s) whoch has already passed related to a control period, the actual expenditure is to be provided.</li>
															<li>This format shall be submitted with perspective plan in pursuance to Schedule - 2.</li>
														</ol>
													</div>
												</div>
											</div>
		                        <comment-tab></comment-tab>
										</div>
									</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 tab-content" id="attachment_list" style="display:none">
              <attachment-list></attachment-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
