<div id="canvasOverlay"  ng-hide="loadSuccessfull">
  <div class="preloader"></div>
</div>
<div ng-show="loadSuccessfull">
	<section class="dashboard_page" ng-controller="DetailsController">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
          <button id="up-arrow"><i id="downArrow" style="display:none" class="fa fa-arrow-down" aria-hidden="true"></i><i id="upArrow" style="display:block" class="fa fa-arrow-up" aria-hidden="true"></i></button>

					<div class="dashboard_box" id="collapseTop">
						<div class="top_bradcamp" id="top_bradcamp">
							<nav aria-label="breadcrumb" role="navigation">
							  <ol class="breadcrumb">
							    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
							    <li class="breadcrumb-item"><a href="#">ARR/MYT</a></li>
							    <li class="breadcrumb-item active" aria-current="page">File Petition</li>
							  </ol>
							</nav>
						</div>
						<div class="parion_row" id="parion_row">
							<div class="row">
								<div class="col-xs-12 col-sm-6">
									<div class="parion_box">
										<span>Petition submitted by</span>
										<div ng-if="user.utilid!='0'"><h4>{{user.utilName}}</h4></div>
										<div ng-if="user.utilid=='0'"><h4>West Bengal Electricity Regulatory Commission</h4></div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 pull-right">
									<div class="parion_box pyYear">
										<span>Petition Submitted for</span>
										<h4>{{prevYear}}, {{baseYear}}, {{nextYear}}</h4>
									</div>
								</div>
							</div>
						</div>
						<div class="parion_tab_menu" id="parion_tab_menu">
							<ul class="tabs-menu">
								<li class="current1">
									<a href="#Annexure1" id="petitionDataForm">
										<i class="fa fa-folder-open-o" aria-hidden="true"></i>
										<span>Petition Data</span>
									</a>
								</li>
								<li>
									<a href="#attachment_list">
										<i class="fa fa-paperclip" aria-hidden="true"></i>
										<span>Attachments</span>
									</a>
								</li>
								<!-- <li>
									<a href="#submit_petition" ng-if="utilid==1">
										<i class="fa fa-sign-out" aria-hidden="true"></i>
										<span>Submit</span>
									</a>
								</li>
								<li>
									<a href="#forward_assign" ng-if="utilid==0">
										<i class="fa fa-sign-out" aria-hidden="true"></i>
										<span>Forward/Assign</span>
									</a>
								</li> -->
							</ul>
						</div>
      	</div>
      </div>
    </div>
  </div>
</section>
</div>

<script type="text/javascript">
jQuery(document).ready(function($) {
	$('.toggle-menu').jPushMenu();
$('.jPushMenuBtn').click(function(e){
    $('.parion_tab_cont').toggleClass('active');
    e.stopPropagation();
    $(".tabs-menu li a").click(function(event) {
        event.preventDefault();
        $(this).parent().addClass("current1");
        $(this).parent().siblings().removeClass("current1");
        var tab = $(this).attr("href");
        $(".tab-content").not(tab).css("display", "none");
        $(tab).fadeIn();
    });
});

  $("#up-arrow").click(function(){

  $("#parion_row, #parion_tab_menu, #heading, #collapseTop").toggle();

  if(document.getElementById("upArrow").style.display == "block")
  {
  document.getElementById("upArrow").style.display = "none";
  document.getElementById("downArrow").style.display = "block";
  }
  else
  {
  document.getElementById("downArrow").style.display = "none";
  document.getElementById("upArrow").style.display = "block";
  }
  });



});
</script>
