<main-header></main-header>
<main-details></main-details><div id="canvasOverlay"  ng-hide="loadSuccessfull">
  <div class="preloader"></div>
</div>
<div ng-show="loadSuccessfull">
 <section class="dashboard_page">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="dashboard_box">
          <div class="parion_tab_cont">
            <div class="parion_tab_div tab-content" id="Annexure1" style="display:block">
              <div class="parion_tab_box_lft cbp-spmenu-right1">
                <main-sidebar></main-sidebar>
              </div>
              <div class="parion_tab_box_rt">
                <div class="accu_tab2_cont">
                  <div class="accu_tab2_continn">

											<div class="tab_form_heading">
												<h2>Form 1.19(C):  Project Specifications</h2>
											</div>
                      <div class="panel-success panel" ng-hide="!updateMessage"><div class="panel-heading">{{updateMessage}}</div></div>
                      <div class="panel-danger panel" ng-hide="!errorMessage"><div class="panel-heading">{{errorMessage}}</div></div>
											<div class="tab_form_full_tbl">

												<div class="dropDownList">
														 <div class="dropdownBlock">
															 <span>Select plan</span>
															 <select id="stationMaster" name="All_Expanditure" ng-model="item" class="form-control width_select" ng-change="getSingleStations('46',item)" ng-options="item for item in AllStations" ng-init="item = AllStations[0]">
																 <!-- <option value="" disabled selected>Plan</option> -->
															 </select>
														 </div>
												 </div>
												<div class="tbl_rowtwo">
													<div class="hyble_tbl_row">
														<div class="plagintable">
															<div class="largerTable">
																<excell-form data-uid="0" data-values="subStationsData" data-tab="tab46" callback-fn="ctrlFn()"></excell-form>
															</div>
															<table border="1">
																 <tr>
																		<td ng-repeat="value in totalExpenditure track by $index">{{value}}</td>
																</tr>
														 </table>
														</div>
													</div>
													<div class="hyble_tbl_row">
  													<div class="col-sm-5">
  														<button ng-click="saveStationData('','46')" ng-show="selectedTab == 'tab46'" class="sav_data_btn">Save Data</button>
  													</div>
														<div class="comndfrm">
															<strong>Note :</strong>
															<ol>
																<li>Plan and Non Plan expenditure are to be shown separately.</li>
																<li>Expenditure should include Interestduring construction but to be indicated separately.</li>
																<li>The reasons for time over run and consequential cost over run are to be specifically mentioned. In the event of actual expenditure is more than the approved expenditure then separate approval is to be obtained from the commission as per these regulations.</li>
																<li>For the Base year and ensuing years(s) whoch has already passed related to a control period, the actual expenditure is to be provided.</li>
																<li>This format shall be submitted with perspective plan in pursuance to Schedule - 2.</li>
															</ol>
														</div>
													</div>
												</div>
	                        <comment-tab></comment-tab>
											</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 tab-content" id="attachment_list" style="display:none">
              <attachment-list></attachment-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
