<main-header></main-header>
<main-details></main-details>
<div id="canvasOverlay"  ng-hide="loadSuccessfull">
  <div class="preloader"></div>
</div>
<div ng-show="loadSuccessfull">
 <section class="dashboard_page">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="dashboard_box">
          <div class="parion_tab_cont">
            <div class="parion_tab_div tab-content" id="Annexure1" style="display:block">
              <div class="parion_tab_box_lft cbp-spmenu-right1">
                <main-sidebar></main-sidebar>
              </div>
              <div class="parion_tab_box_rt">
                <div class="accu_tab2_cont">
                  <div class="accu_tab2_continn">
										<div class="tab_form_heading">
											<h2>Form 3.7 : Proposed Broad Financial Terms of Supply (Year-Wise)</h2>
										</div>
                    <div class="panel-success panel" ng-hide="!updateMessage"><div class="panel-heading">{{updateMessage}}</div></div>
                    <div class="panel-danger panel" ng-hide="!errorMessage"><div class="panel-heading">{{errorMessage}}</div></div>

										<div class="tab_form_full_tbl">
												<div class="dropDownList">
														<div class="dropdownBlock">
															<span>Ensuing year</span>
															<select id="ensuringyear" name="all_ensuring_year" ng-model="Ensuringyears[0].py_id" class="form-control width_select" ng-change="getSingleStations1('102',Ensuringyears[0].py_id)"  ng-options="obj.py_id as obj.year_nm for obj in Ensuringyears">
															</select>
														</div>
														<div class="dropdownBlock">
															<span>Consumer types </span>
															<select id="consumertype" name="ConsumerTypes" ng-model="ConsumerTypes[0].consumer_type_id" class="form-control width_select" ng-change="getSingleStations2('102',ConsumerTypes[0].consumer_type_id)"  ng-options="obj.consumer_type_id as obj.name for obj in ConsumerTypes">
															</select>
														</div>
														<div class="dropdownBlock">
															<span>Consumer class</span>
															<select id="consumerclass" name="ConsumerClassList" ng-model="consumerClassList[0].consumer_class_id" class="form-control width_select" ng-change="getSingleStations3('102',consumerClassList[0].consumer_class_id)"  ng-options="obj.consumer_class_id as obj.name for obj in consumerClassList">
															</select>
														</div>
														<div class="dropdownBlock">
															<span>Voltage level</span>
															<select id="voltageLevelList" name="voltageLevelList" ng-model="voltageLevelList[0].voltage_level_id" class="form-control width_select" ng-change="getSingleStations4('102',voltageLevelList[0].voltage_level_id)"  ng-options="obj.voltage_level_id as obj.name for obj in voltageLevelList">
															</select>
														</div>
												</div>
												<div class="tbl_rowtwo">

													<div class="hyble_tbl_row">
														<div class="plagintable">
                                <p class="limitText"><small>(Maximum character limit 2000)</small><sup>*</sup></p>
                                 <form ng-submit="saveStationData(value)" >
                                   <table class="submitTable">
                                     <tr ng-repeat="value in subStations track by $index">
                                       <td width="20%"><b>{{value.desc}}</b></td>
                                       <!-- <td><textarea name="{{value.val}}" ng-model="finance.attachment_path[$index]" ></textarea></td> -->
                                       <td><textarea name="{{value.val}}" ng-model="value.val" maxlength="2000" ></textarea></td>
                                     </tr>
                                   </table>
                                   <br>
 																		<div class="col-xs-12 text-center">
                                     <input type="submit" value="Save Data"  class="sav_data_btn"/>
                                   </div>
                              </form>
														</div>
													</div>

													<div class="hyble_tbl_row">
														<div class="comndfrm">
															<!-- <span>Comments on Form</span> -->
															<strong>Note :</strong>
															<ol>
																<li> For any Unit, Unit Availabillity Factor shall be considered for stabilised operation only i.e. without taking into acount the in-firm power generation or generation during stabilisation period.  </li>
																<li>Reasons for variations over the years are to be given in a note</li>
															</ol>
														</div>
													</div>
												</div>
													<!-- <div ng-show="isformSet(2) ">
															<div class="tbl_rowtwo">
																<div class="hyble_tbl_row">
																	<div class="plagintable">
																		<div class="dropDownList">
																				<span>Select ensuing year</span>
																				<select id="ensuringyear2" name="all_ensuring_year" ng-model="Ensuringyears[0].py_id" class="form-control width_select" ng-change="getSingleStations5('102',Ensuringyears[0].py_id)"  ng-options="obj.py_id as obj.year_nm for obj in Ensuringyears">
																				</select>
																		</div>
                                    <div ng-show="showHidedata">
                                        <table class="viewTable noDataTable">
                                           <tbody>
                                             <tr>
                                               <td colspan="2" align="center">
                                                 <p>No data available</p>
                                               </td>
                                             </tr>
                                           </tbody>
                                         </table>
                                      </div>
                                      <table class="viewTableFinancial" ng-show="!showHidedata">
																					<tbody ng-repeat="typeTable in viewTable track by $index">
                                            <tr>
                                              <td colspan="2" class="tableFinancialHd">
                                                {{typeTable.consumer_type_desc}}
                                              </td>
                                            </tr>
																						<tr ng-repeat="tablevo1 in typeTable.vo1 track by $index">
																							<td colspan="2">
																								<table class="viewTableData">
																									<tr>
																										<td colspan="2" class="tableFinancialHd">{{tablevo1.consumer_type_desc}}</td>
																									</tr>
																									<tr ng-repeat="tablevo2 in tablevo1.vo2 track by $index">
                                                    <td colspan="2">
                                                      <table>
                                                        <tr>
																												   <td colspan="2" class="tableFinancialHd">{{tablevo2.consumer_class_desc}}</td>
                                                        </tr>
																												<tr ng-repeat="tablevo3 in tablevo2.vo3 track by $index">
																													<td>{{tablevo3.desc}}</td>
																													<td>{{tablevo3.val}}</td>
																												</tr>
                                                      </table>
																									  </td>
                                                  </tr>
																								</table>
																							</td>
																						</tr>
																					 </tbody>
																			</table>
																	</div>
																</div>
															</div>
													</div> -->
    										<comment-tab></comment-tab>
										</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 tab-content" id="attachment_list" style="display:none">
              <attachment-list></attachment-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
