<div class="parion_tab_box2 left-side-panel">
		<div class="tabl_menu tabl_menu1">
			<a  class="tgl_push toggle-menu menu-left"><i class="fa fa-bars" aria-hidden="true"></i></a>

		</div>
		<div class="tabl_menu tabl_menu2">
			<span>Menu</span><a class="tgl_push toggle-menu menu-left"><i class="fa fa-bars" aria-hidden="true"></i></a>
		</div>
		<div class="tabl_list_cont cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left">
			<div class="panel-group accu_sec left-side-panel" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default left-side-form-wrapper" ng-repeat="(key,value) in sidebarMenuList | groupBy:'annexure_code' track by $index">
					<div ng-class="activeMenu" class="panel-heading" role="tab" ng-click="showDashboardSidebar('heading{{$index+1}}')" id="heading{{$index+1}}">
						 <h4 class="panel-title">
							 <a role="button" data-toggle="collapse" data-parent="#accordion"  aria-expanded="true" href="#collapse{{$index+1}}" aria-controls="collapse{{$index+1}}">
							 	{{key}}<i class="fa fa-angle-left" aria-hidden="true"></i><i class="fa fa-angle-down" aria-hidden="true"></i>

							 </a>
						</h4>
				 </div>
				 <div id="collapse{{$index+1}}" class="panel-collapse collapse" ng-class="{true:'panel-collapse collapse in', false:'panel-collapse collapse'}[$index==0]" role="tabpanel" aria-labelledby="heading{{$index+1}}">
				 	<div class="panel-body">
						<ul>
							<li id="{{menu.formid}}" ng-repeat="menu in value track by $index" ng-class="{active : activeMenu === menu.form_code}">
									<!-- <a ui-sref="file-petition-tab({id: menu.formid})"><span>{{menu.form_code}}</span>{{menu.form_desc}}</a> -->
									<!-- <a ng-click="showSelectedTab(menu.formid,menu.form_code);headerCall(menu.formid)"><span><b>{{menu.formid}}</b>{{menu.form_code}}</span>{{menu.form_desc}}</a> -->
									<a href="tab{{menu.formid}}"><span>{{menu.form_code}}</span>{{menu.form_desc}}</a>
							</li>
						</ul>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
// jQuery(document).ready(function($) {
// 	$('.toggle-menu').jPushMenu();
// });
$(document).ready(function(){
$('.jPushMenuBtn').click(function(e){
    $('.parion_tab_cont').toggleClass('active');
    e.stopPropagation();
    $(".tabs-menu li a").click(function(event) {
        event.preventDefault();
        $(this).parent().addClass("current1");
        $(this).parent().siblings().removeClass("current1");
        var tab = $(this).attr("href");
        $(".tab-content").not(tab).css("display", "none");
        $(tab).fadeIn();
    });
});
	$('#heading1').click(function(){
		$('#sml-menu1').addClass('active1');
		$('#sml-menu2').removeClass('active1');
		$('#sml-menu3').removeClass('active1');
		$('#sml-menu4').removeClass('active1');
		$('#sml-menu5').removeClass('active1');
		$('#sml-menu6').removeClass('active1');
		$('#sml-menu9').removeClass('active1');
	});
	$('#collapse1').click(function(){
		$('#sml-menu1').addClass('active1');
		$('#sml-menu2').removeClass('active1');
		$('#sml-menu3').removeClass('active1');
		$('#sml-menu4').removeClass('active1');
		$('#sml-menu5').removeClass('active1');
		$('#sml-menu6').removeClass('active1');
		$('#sml-menu9').removeClass('active1');
	});
	$('#heading2').click(function(){
		$('#sml-menu2').addClass('active1');
		$('#sml-menu1').removeClass('active1');
		$('#sml-menu3').removeClass('active1');
		$('#sml-menu4').removeClass('active1');
		$('#sml-menu5').removeClass('active1');
		$('#sml-menu6').removeClass('active1');
		$('#sml-menu9').removeClass('active1');
	});
	$('#collapse2').click(function(){
		$('#sml-menu2').addClass('active1');
		$('#sml-menu1').removeClass('active1');
		$('#sml-menu3').removeClass('active1');
		$('#sml-menu4').removeClass('active1');
		$('#sml-menu5').removeClass('active1');
		$('#sml-menu6').removeClass('active1');
		$('#sml-menu9').removeClass('active1');
	});
	$('#heading4').click(function(){
		$('#sml-menu4').addClass('active1');
		$('#sml-menu1').removeClass('active1');
		$('#sml-menu2').removeClass('active1');
		$('#sml-menu3').removeClass('active1');
		$('#sml-menu5').removeClass('active1');
		$('#sml-menu6').removeClass('active1');
		$('#sml-menu9').removeClass('active1');
	});
	$('#collapse4').click(function(){
		$('#sml-menu4').addClass('active1');
		$('#sml-menu1').removeClass('active1');
		$('#sml-menu2').removeClass('active1');
		$('#sml-menu3').removeClass('active1');
		$('#sml-menu5').removeClass('active1');
		$('#sml-menu6').removeClass('active1');
		$('#sml-menu9').removeClass('active1');
	});
	$('#heading5').click(function(){
		$('#sml-menu5').addClass('active1');
		$('#sml-menu1').removeClass('active1');
		$('#sml-menu2').removeClass('active1');
		$('#sml-menu3').removeClass('active1');
		$('#sml-menu4').removeClass('active1');
		$('#sml-menu6').removeClass('active1');
		$('#sml-menu9').removeClass('active1');
	});
	$('#collapse5').click(function(){
		$('#sml-menu5').addClass('active1');
		$('#sml-menu1').removeClass('active1');
		$('#sml-menu2').removeClass('active1');
		$('#sml-menu3').removeClass('active1');
		$('#sml-menu4').removeClass('active1');
		$('#sml-menu6').removeClass('active1');
		$('#sml-menu9').removeClass('active1');
	});
	$('#heading6').click(function(){
		$('#sml-menu6').addClass('active1');
		$('#sml-menu1').removeClass('active1');
		$('#sml-menu2').removeClass('active1');
		$('#sml-menu3').removeClass('active1');
		$('#sml-menu4').removeClass('active1');
		$('#sml-menu9').removeClass('active1');
		$('#sml-menu5').removeClass('active1');
	});
	$('#collapse6').click(function(){
		$('#sml-menu6').addClass('active1');
		$('#sml-menu1').removeClass('active1');
		$('#sml-menu2').removeClass('active1');
		$('#sml-menu3').removeClass('active1');
		$('#sml-menu4').removeClass('active1');
		$('#sml-menu9').removeClass('active1');
		$('#sml-menu5').removeClass('active1');
	});
	$('#heading9').click(function(){
		$('#sml-menu9').addClass('active1');
		$('#sml-menu1').removeClass('active1');
		$('#sml-menu2').removeClass('active1');
		$('#sml-menu3').removeClass('active1');
		$('#sml-menu4').removeClass('active1');
		$('#sml-menu6').removeClass('active1');
		$('#sml-menu5').removeClass('active1');
	});
	$('#collapse9').click(function(){
		$('#sml-menu9').addClass('active1');
		$('#sml-menu1').removeClass('active1');
		$('#sml-menu2').removeClass('active1');
		$('#sml-menu3').removeClass('active1');
		$('#sml-menu4').removeClass('active1');
		$('#sml-menu6').removeClass('active1');
		$('#sml-menu5').removeClass('active1');
	});
	$('#heading3').click(function(){
		$('#sml-menu3').addClass('active1');
		$('#sml-menu2').removeClass('active1');
		$('#sml-menu1').removeClass('active1');
		$('#sml-menu4').removeClass('active1');
		$('#sml-menu5').removeClass('active1');
		$('#sml-menu6').removeClass('active1');
		$('#sml-menu9').removeClass('active1');
	});
	$('#collapse3').click(function(){
		$('#sml-menu3').addClass('active1');
		$('#sml-menu2').removeClass('active1');
		$('#sml-menu1').removeClass('active1');
		$('#sml-menu4').removeClass('active1');
		$('#sml-menu5').removeClass('active1');
		$('#sml-menu6').removeClass('active1');
		$('#sml-menu9').removeClass('active1');
	});
});
</script>
