<main-header></main-header>
<main-details></main-details>
<div id="canvasOverlay"  ng-hide="loadSuccessfull">
  <div class="preloader"></div>
</div>
<div ng-show="loadSuccessfull">
 <section class="dashboard_page">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="dashboard_box">
          <div class="parion_tab_cont">
            <div class="parion_tab_div tab-content" id="Annexure1" style="display:block">
              <div class="parion_tab_box_lft cbp-spmenu-right1">
                <main-sidebar></main-sidebar>
              </div>
              <div class="parion_tab_box_rt">
                <div class="accu_tab2_cont">
                  <div class="accu_tab2_continn">
											<div class="tab_form_heading">
												<h2>Form 5(i): Voltage fluctuation</h2>
											</div>
                      <div class="panel-success panel" ng-hide="!updateMessage"><div class="panel-heading">{{updateMessage}}</div></div>
                      <div class="panel-danger panel" ng-hide="!errorMessage"><div class="panel-heading">{{errorMessage}}</div></div>
											<div class="tab_form_full_tbl">
												<div>

													<ul class="nav nav-pills nav-stacked tabSec">
														<li ng-class="{ active: isformSet(1) }">
																<a href ng-click="formsetTab(1)">Submit</a>
														</li>
														<li ng-class="{ active: isformSet(2) }">
																<a href ng-click="formsetTab(2)">View</a>
														</li>
													</ul>
													<div>
														<div ng-show="isformSet(1)">
																<!-- <h2>fetch</h2> -->
																<div class="dropDownList">
																	<div class="dropdownBlock">
																		<span>Voltage fluctuation</span>
                                    <!-- {{voltageLevelList}} -->
																		<select id="voltageLevelList" name="ConsumerTypes" ng-model="voltageLevelList[0].id" class="form-control width_select" ng-change="getSingleStations2('114',voltageLevelList[0].id)"  ng-options="obj.id as obj.name for obj in voltageLevelList">
																		</select>
																	</div>
																</div>
																<div class="tbl_rowtwo">
																	<div class="hyble_tbl_row">
																		<div class="plagintable">
																				<table class="jexcel bossanova-ui" >
																					 <thead class="jexcel_label">
																					   <tr>
  																						 <td width="100%" style="padding:0;" align="left">
  																						   <excell-form data-uid="0" data-values="subStationsData" data-tab="tab114" callback-fn="ctrlFn()" ></excell-form>
  																						 </td>
																					   </tr>
																					 </thead>
																				   </table>
																			</div>
																	</div>
																	<div class="hyble_tbl_row">
																		<div class="col-sm-5">
																			<button ng-click="saveStationData(optioneEnsuring,'114')" class="sav_data_btn">Save Data</button>
																		</div>
																		<div class="comndfrm">
																			<!-- <span>Comments on Form</span> -->
																			<strong>Note :</strong>
																			<ol>
																				<li> For any Unit, Unit Availabillity Factor shall be considered for stabilised operation only i.e. without taking into acount the in-firm power generation or generation during stabilisation period.  </li>
																				<li>Reasons for variations over the years are to be given in a note</li>
																			</ol>
																		</div>

																	</div>
																</div>
														</div>
														<div ng-show="isformSet(2) ">
																<div class="tbl_rowtwo">
																	<div class="hyble_tbl_row">
																		<div class="plagintable">

																			<div class="tbl_rowtwo">
																				<div class="hyble_tbl_row">
																					<div class="plagintable">
                                          <div ng-show="showHidedata">
                                            <table class="viewTable noDataTable">
                                              <thead>
                                                <tr>
                                                  <th>Consumer category</th>
                                                  <th width="100px">&nbsp;</th>
                                                  <th>&nbsp;</th>
                                                  <th ng-repeat="year in viewHeader track by $index">{{year}}</th>
                                                </tr>
                                               </thead>
                                               <tbody>
                                                 <tr>
                                                   <td colspan="{{yearLength}}" align="center">
                                                     <p>No data available</p>
                                                   </td>
                                                 </tr>
                                               </tbody>
                                             </table>
                                          </div>

																						<table class="viewTable voltageTable" ng-show="!showHidedata">
																							<thead>
																								<tr>
																									<th width="20%">Name of Substation</th>
																									<th colspan="2" width="20%">First six months of previous year Percentage of time when Voltage was
                                                    <table>
                                                      <tr>
                                                        <th>Below 9%</th>
                                                        <th>Above 6%</th>
                                                      </tr>
                                                    </table>
                                                  </th>
																									<th colspan="2"  width="20%">First six months of previous year Percentage of time when Voltage was
                                                    <table>
                                                      <tr>
                                                        <th>Below 9%</th>
                                                        <th>Above 6%</th>
                                                      </tr>
                                                    </table>
                                                  </th>
																									<th colspan="2" width="20%">First six months of previous year Percentage of time when Voltage was
                                                    <table>
                                                      <tr>
                                                        <th>Below 9%</th>
                                                        <th>Above 6%</th>
                                                      </tr>
                                                    </table>
                                                  </th>
  																								<th width="20%">Corrective Measures Proposed</th>
																								</tr>
																							 </thead>
																								<tbody ng-repeat="typeTable in viewTable track by $index">
                                                  <tr class="voltageTableSubhd">
                                                    <td colspan="8">{{typeTable.voltage_fluctuation_system_desc}}</td>
                                                  </tr>
																									<tr ng-repeat="tablevo1 in typeTable.vals track by $index ">
																										<td ng-repeat="data in tablevo1 track by $index">
                                                      {{data}}
																										</td>
																									</tr>
																								 </tbody>
																						</table>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
														</div>
													</div>
												</div>
    										<comment-tab></comment-tab>
											</div>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-md-12 tab-content" id="attachment_list" style="display:none">
              <attachment-list></attachment-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
