<div id="canvasOverlay"  ng-hide="loadSuccessfull">
  <div class="preloader"></div>
</div>
<div ng-show="loadSuccessfull">
		<div class="row" ng-controller="AttachmentlistController">
				<div class="col-xs-12 custyle">
				 <h4 class="heading4">List of Attachments</h4>
         <div ng-hide="!showHideAttachment"><p>No Attachments available</p></div>
         <table class="table table-striped custab" ng-show="!showHideAttachment">
						<thead>
							<tr>
								<th width="100px">Sl number</th>
								<th>Description</th>
								<th width="200px">Form reference</th>
								<th width="200px">Document type</th>
								<th width="200px">Uploaded by</th>
								<th width="100px">Uploaded on</th>
								<th width="100px" class="text-center">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="file in allAttachfiles">
								<td>{{$index+1}}</td>
								<td>{{file.description}}</td>
								<td>{{file.form_code}}</td>
								<td><span ng-if="file.docType!==undefined">{{file.docType}}</span></td>
								<td>{{file.user_nm}}</td>
								<td>{{file.createdOn}}</td>
								<td class="text-center">
									<a class="btn btn-info btn-xs" _target="blank" title="file download" href="http://182.75.177.246:8181/wberc_v2/api/file_download_by_id?docId={{file.docId}}"><i class="fa fa-paperclip" aria-hidden="true"></i></a>&nbsp;&nbsp;
                    <button class="btn btn-danger btn-xs" type="button" data-toggle="modal" data-target="#confirmtion" ><i class="fa fa-times" aria-hidden="true" data-dismiss="modal" title="Delete file"></i></button>

                  <div id="confirmtion" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Confirmation</h4>
                        </div>
                        <div class="modal-body">
                          <p> Are you sure you wish to delete the attachment?</p>
                        </div>
                        <div class="modal-footer">
                          <div class=" text-center">
                            <button type="button" class="sav_data_btn"  ng-click="docIdFn(file.docId)" data-dismiss="modal">Yes</button>
                            <button type="button" class="sav_data_btn" data-dismiss="modal">No</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
								</td>
							</tr>
					 </tbody>
				 </table>
	 		<button type="button" class="btn btn-default attachment_btn" ng-click="add_attachment()">Add Attachment</button>
		</div>
	</div>
</div>

<script type="text/javascript">
jQuery(document).ready(function($) {
	$('.toggle-menu').jPushMenu();
$('.jPushMenuBtn').click(function(e){
    $('.parion_tab_cont').toggleClass('active');
    e.stopPropagation();
    $(".tabs-menu li a").click(function(event) {
        event.preventDefault();
        $(this).parent().addClass("current1");
        $(this).parent().siblings().removeClass("current1");
        var tab = $(this).attr("href");
        $(".tab-content").not(tab).css("display", "none");
        $(tab).fadeIn();
    });
});
});
</script>
